mepa_workflow_n8n_V62_sequencer.json
{
  "name": "MEPA V6.2 -- Séquenceur 27 WP [Mission B]",
  "nodes": [
    {
      "id": "seq-trigger",
      "name": "▶ Lancer séquenceur 27 WP",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        340
      ],
      "parameters": {}
    },
    {
      "id": "seq-init",
      "name": "Init — Liste 27 WP [Stratification V6.2]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        340
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// SÉQUENCEUR MEPA V6.2 — Init liste 27 WP\n// Retourne 27 items (un par WP) en ordre de stratification.\n// n8n (executionOrder=v1) traite les items séquentiellement\n// dans Execute Workflow — un WP à la fois.\n// ============================================================\n\"use strict\";\nconst MEPA_CONFIG_DIR = $env.MEPA_SCRIPTS_DIR\n  ? $env.MEPA_SCRIPTS_DIR.replace('/scripts', '/config')\n  : '/data/mepa/config';\n\nconst WP_LIST = [{\"wp_id\": \"WP-I10-1\", \"fiche\": \"WP-I10-1_Rwanda_v62.json\", \"phase\": \"LOI_PHYSIQUE\", \"zone\": \"LOI PHYSIQUE\"}, {\"wp_id\": \"WP-C1-1\", \"fiche\": \"WP-C1-1_Haiti_v62.json\", \"phase\": \"LOI_PHYSIQUE\", \"zone\": \"LOI PHYSIQUE\"}, {\"wp_id\": \"WP-F10-1\", \"fiche\": \"WP-F10-1_CommuneParis_v62.json\", \"phase\": \"LOI_PHYSIQUE\", \"zone\": \"LOI PHYSIQUE\"}, {\"wp_id\": \"WP-F1-1\", \"fiche\": \"WP-F1-1_RomeIIIe_v62.json\", \"phase\": \"FONDATEURS\", \"zone\": \"COEUR DE MODELE\"}, {\"wp_id\": \"WP-F2-1\", \"fiche\": \"WP-F2-1_RomeTardive_v62.json\", \"phase\": \"FONDATEURS\", \"zone\": \"COEUR DE MODELE\"}, {\"wp_id\": \"WP-F3-1\", \"fiche\": \"WP-F3-1_MayaClassique_v62.json\", \"phase\": \"FONDATEURS\", \"zone\": \"COEUR DE MODELE\"}, {\"wp_id\": \"WP-F4-1\", \"fiche\": \"WP-F4-1_EgypteAncienne_v62.json\", \"phase\": \"FONDATEURS\", \"zone\": \"COEUR DE MODELE\"}, {\"wp_id\": \"WP-F5-1\", \"fiche\": \"WP-F5-1_VeniseDéclin_v62.json\", \"phase\": \"FONDATEURS\", \"zone\": \"COEUR DE MODELE\"}, {\"wp_id\": \"WP-F6-1\", \"fiche\": \"WP-F6-1_EmpireOttoman_v62.json\", \"phase\": \"FONDATEURS\", \"zone\": \"COEUR DE MODELE\"}, {\"wp_id\": \"WP-F7-1\", \"fiche\": \"WP-F7-1_RevolutionHaitienne_v62.json\", \"phase\": \"FONDATEURS\", \"zone\": \"COEUR DE MODELE\"}, {\"wp_id\": \"WP-F8-1\", \"fiche\": \"WP-F8-1_FranceRevolutionnaire_v62.json\", \"phase\": \"FONDATEURS\", \"zone\": \"COEUR DE MODELE\"}, {\"wp_id\": \"WP-F9-1\", \"fiche\": \"WP-F9-1_AngleterreStabilite_v62.json\", \"phase\": \"FONDATEURS\", \"zone\": \"COEUR DE MODELE\"}, {\"wp_id\": \"WP-I1-1\", \"fiche\": \"WP-I1-1_AngleterreIndustrielle_v62.json\", \"phase\": \"INDUSTRIALISATION\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-I2-1\", \"fiche\": \"WP-I2-1_Russie1917_v62.json\", \"phase\": \"INDUSTRIALISATION\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-I3-1\", \"fiche\": \"WP-I3-1_JaponMeijiGuerre_v62.json\", \"phase\": \"INDUSTRIALISATION\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-I4-1\", \"fiche\": \"WP-I4-1_AllemagneNazie_v62.json\", \"phase\": \"INDUSTRIALISATION\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-I5-1\", \"fiche\": \"WP-I5-1_EspagneGuerreCivile_v62.json\", \"phase\": \"INDUSTRIALISATION\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-I6-1\", \"fiche\": \"WP-I6-1_Tiananmen_v62.json\", \"phase\": \"INDUSTRIALISATION\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-I7-1\", \"fiche\": \"WP-I7-1_URSS_v62.json\", \"phase\": \"INDUSTRIALISATION\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-I8-1\", \"fiche\": \"WP-I8-1_ChineDeng_v62.json\", \"phase\": \"INDUSTRIALISATION\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-I9-1\", \"fiche\": \"WP-I9-1_Singapour_v62.json\", \"phase\": \"INDUSTRIALISATION\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-C2-1\", \"fiche\": \"WP-C2-1_Egypte2011_v62.json\", \"phase\": \"CRISES\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-C3-1\", \"fiche\": \"WP-C3-1_Argentine_v62.json\", \"phase\": \"CRISES\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-C4-1\", \"fiche\": \"WP-C4-1_Liban_v62.json\", \"phase\": \"CRISES\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-C5-1\", \"fiche\": \"WP-C5-1_Iran_v62.json\", \"phase\": \"CRISES\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-C6-1\", \"fiche\": \"WP-C6-1_ChineXi_v62.json\", \"phase\": \"CRISES\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-T1-1\", \"fiche\": \"WP-T1-1_GuerreSecession_v62.json\", \"phase\": \"TRANSITIONS\", \"zone\": \"ZONE DE STRESS\"}];\n\nreturn WP_LIST.map((wp, idx) => ({\n  json: {\n    seq_index:          idx + 1,\n    seq_total:          WP_LIST.length,\n    wp_id:              wp.wp_id,\n    fiche_path:         `${MEPA_CONFIG_DIR}/${wp.fiche}`,\n    phase:              wp.phase,\n    zone_stratification:wp.zone,\n    seq_started_at:     new Date().toISOString()\n  }\n}));\n"
      },
      "notes": "Retourne 27 items en ordre de stratification Phase 1→4.\nChaque item porte : seq_index, wp_id, fiche_path, phase, zone_stratification.\nMEPA_CONFIG_DIR déduit depuis MEPA_SCRIPTS_DIR (remplace /scripts par /config)."
    },
    {
      "id": "seq-exec-wf2",
      "name": "Execute WF2 — Single WP [Execute Workflow]",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -200,
        340
      ],
      "parameters": {
        "workflowId": "={{ $env.MEPA_WF2_ID }}",
        "source": "database",
        "mode": "each",
        "inputData": {
          "type": "json",
          "value": "={{ JSON.stringify($json) }}"
        }
      },
      "notes": "⚠️ CONFIGURATION REQUISE :\nAprès import, relever l'ID de WF2 dans l'URL n8n (ex: /workflow/3)\net définir MEPA_WF2_ID=3 dans Settings → Environment Variables.\n\nWF2 doit avoir son Nœud A configuré pour lire $json.fiche_path\nen priorité sur MEPA_FICHE_PATH."
    },
    {
      "id": "seq-log",
      "name": "Log résultat + triage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        340
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// SÉQUENCEUR — Log résultat + triage\n// Lit la sortie de WF2, classe le résultat, écrit dans\n// outputs/multipass_log.json (append atomique via fichier lock).\n// ============================================================\n\"use strict\";\nconst fs = require('fs');\nconst data = $input.item.json;\n\nconst BASE    = $env.MEPA_OUTPUT_DIR || '/data/mepa/outputs';\nconst LOG_PATH = `${BASE}/multipass_log.json`;\n\n// Lire le log existant\nlet log = [];\ntry { log = JSON.parse(fs.readFileSync(LOG_PATH, 'utf8')); } catch(_) {}\n\n// Construire l'entrée de log\nconst result = data?.passeport_compact || data;\nconst statut = result?.statut_cert || data?.statut_certification || 'INCONNU';\nconst is_nc_bloquant = data?.motif === 'DONNEES_INSUFFISANTES'\n  || data?.status === 'NC_BLOQUANT'\n  || statut === 'NC_BLOQUANT';\nconst is_fatal = is_nc_bloquant\n  || (data?.exitCode && data.exitCode !== 0 && !data?.wp_id);\n\nconst entry = {\n  seq_index:   data.seq_index ?? null,\n  wp_id:       result?.wp_id  || data?.wp_id || '?',\n  phase:       data.phase     || '?',\n  statut_cert: statut,\n  cci:         result?.CCI    ?? null,\n  robustesse:  result?.robustesse ?? null,\n  concordance: result?.concordant ?? null,\n  traj_diagn:  result?.traj_diagn ?? null,\n  traj_attendue: result?.traj_attendue ?? null,\n  is_fatal,\n  timestamp:   new Date().toISOString()\n};\n\nlog.push(entry);\nfs.writeFileSync(LOG_PATH, JSON.stringify(log, null, 2), 'utf8');\n\nreturn {\n  json: {\n    ...data,\n    log_entry: entry,\n    is_fatal,\n    log_path: LOG_PATH,\n    seq_progress: `${data.seq_index ?? '?'}/${data.seq_total ?? 27}`,\n    message: `[SEQ ${data.seq_index ?? '?'}/${data.seq_total ?? 27}] ${entry.wp_id} → ${statut}`\n  }\n};\n"
      },
      "notes": "Appende chaque résultat dans outputs/multipass_log.json.\nChamps loggés : wp_id, statut_cert, CCI, robustesse, concordance, traj."
    },
    {
      "id": "seq-router-fatal",
      "name": "Router — Fatal / Continue",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        200,
        340
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-fatal",
                    "leftValue": "={{ $json.is_fatal }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputDescription": "FATAL — arrêt séquenceur"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-continue",
                    "leftValue": "={{ $json.is_fatal }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputDescription": "OK / WP_EXPLORATOIRE — continuer"
            }
          ]
        }
      }
    },
    {
      "id": "seq-alerte-fatale",
      "name": "⚠ Alerte Fatale — Arrêt Séquenceur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        540
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// SÉQUENCEUR — Alerte fatale (NC bloquant ou erreur runner)\n// Écrit dans outputs/sequencer_alerts.json et s'arrête.\n// ============================================================\n\"use strict\";\nconst fs = require('fs');\nconst data = $input.item.json;\nconst BASE  = $env.MEPA_OUTPUT_DIR || '/data/mepa/outputs';\nconst ALERT_PATH = `${BASE}/sequencer_alerts.json`;\n\nlet alerts = [];\ntry { alerts = JSON.parse(fs.readFileSync(ALERT_PATH, 'utf8')); } catch(_) {}\n\nalerts.push({\n  wp_id:     data.wp_id || '?',\n  motif:     data.motif || data.status || 'ERREUR_FATALE',\n  detail:    data.message || data.action_requise || '',\n  timestamp: new Date().toISOString()\n});\nfs.writeFileSync(ALERT_PATH, JSON.stringify(alerts, null, 2), 'utf8');\n\n// Lancer une erreur pour arrêter le workflow n8n\nthrow new Error(`[SÉQUENCEUR STOP] ${data.wp_id} — ${data.motif || 'ERREUR_FATALE'}. Voir ${ALERT_PATH}`);\n"
      },
      "notes": "Écrit dans outputs/sequencer_alerts.json\npuis lève une erreur pour stopper le workflow n8n."
    },
    {
      "id": "seq-synthese",
      "name": "Synthèse Finale [multipass_log.json]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        340
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// SÉQUENCEUR — Synthèse finale (appelé après le dernier WP)\n// Lit multipass_log.json et produit un résumé terminal.\n// ============================================================\n\"use strict\";\nconst fs = require('fs');\nconst data = $input.item.json;\nconst BASE = $env.MEPA_OUTPUT_DIR || '/data/mepa/outputs';\nconst LOG_PATH = `${BASE}/multipass_log.json`;\n\nlet log = [];\ntry { log = JSON.parse(fs.readFileSync(LOG_PATH, 'utf8')); } catch(_) {}\n\nconst total       = log.length;\nconst certifies   = log.filter(e => e.statut_cert === 'WP_CERTIFIE').length;\nconst exploratoires = log.filter(e => e.statut_cert === 'WP_EXPLORATOIRE').length;\nconst erreurs     = log.filter(e => e.is_fatal).length;\nconst cci_values  = log.filter(e => e.cci !== null).map(e => e.cci);\nconst cci_moyen   = cci_values.length\n  ? (cci_values.reduce((a,b)=>a+b,0)/cci_values.length).toFixed(3)\n  : null;\n\nconst synthese = {\n  generated_at: new Date().toISOString(),\n  corpus: { total, certifies, exploratoires, erreurs },\n  cci_moyen,\n  detail: log\n};\n\nfs.writeFileSync(LOG_PATH, JSON.stringify(synthese, null, 2), 'utf8');\n\nreturn {\n  json: {\n    status: 'SEQUENCEUR_TERMINE',\n    corpus: synthese.corpus,\n    cci_moyen,\n    log_path: LOG_PATH,\n    message: `[SÉQUENCEUR COMPLET] ${total} WP traités — ${certifies} certifiés, ${exploratoires} exploratoires, ${erreurs} erreurs`\n  }\n};\n"
      },
      "notes": "Appelé après chaque WP non-fatal.\nQuand tous les items sont traités, produit le résumé final dans multipass_log.json."
    }
  ],
  "connections": {
    "▶ Lancer séquenceur 27 WP": {
      "main": [
        [
          {
            "node": "Init — Liste 27 WP [Stratification V6.2]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init — Liste 27 WP [Stratification V6.2]": {
      "main": [
        [
          {
            "node": "Execute WF2 — Single WP [Execute Workflow]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute WF2 — Single WP [Execute Workflow]": {
      "main": [
        [
          {
            "node": "Log résultat + triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log résultat + triage": {
      "main": [
        [
          {
            "node": "Router — Fatal / Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router — Fatal / Continue": {
      "main": [
        [
          {
            "node": "⚠ Alerte Fatale — Arrêt Séquenceur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Synthèse Finale [multipass_log.json]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Paris"
  },
  "meta": {
    "mepa_version": "6.2",
    "mission": "B",
    "description": "Séquenceur 27 WP — itère sur la liste stratifiée V6.2, appelle WF2 pour chaque WP, logue les résultats, continue sur WP_EXPLORATOIRE, s'arrête sur NC_BLOQUANT.",
    "prerequis": [
      "MEPA_WF2_ID : ID numérique de WF2 dans n8n (URL /workflow/N)",
      "WF2 Nœud A : doit lire $json.fiche_path en priorité",
      "MEPA_OUTPUT_DIR : /data/mepa/outputs (ou défini en env var)"
    ]
  },
  "id": "mepa-sequencer-27wp"
}