workflow_n8n/mepa_workflow_n8n_V7_sequencer.json
{
  "name": "MEPA V7-α rev. 2.1 — Séquenceur 6 WP Pilotes [V7-γ]",
  "nodes": [
    {
      "id": "seq-trigger",
      "name": "▶ Lancer séquenceur 27 WP",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        340
      ],
      "parameters": {}
    },
    {
      "id": "seq-init",
      "name": "Init — 6 WP Pilotes V7-γ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        340
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// SÉQUENCEUR MEPA V7-α rev. 2.1 — 6 cas pilotes V7-γ\n// Cluster pilote : Rwanda, Haïti, Égypte (LOI PHYSIQUE)\n//                  Rome IIIe, Commune de Paris (FONDATEURS)\n//                  Allemagne nazie (STRESS)\n// ============================================================\n\"use strict\";\nconst MEPA_CONFIG_DIR = $env.MEPA_SCRIPTS_DIR\n  ? $env.MEPA_SCRIPTS_DIR.replace('/scripts', '/config')\n  : '/data/mepa/config';\n\nconst WP_LIST = [{\"wp_id\": \"WP-I10-1\", \"fiche\": \"WP-I10-1_Rwanda_v7.json\", \"phase\": \"LOI_PHYSIQUE\", \"zone\": \"LOI PHYSIQUE\"}, {\"wp_id\": \"WP-C1-1\", \"fiche\": \"WP-C1-1_Haiti_v7.json\", \"phase\": \"LOI_PHYSIQUE\", \"zone\": \"LOI PHYSIQUE\"}, {\"wp_id\": \"WP-C2-1\", \"fiche\": \"WP-C2-1_Egypte2011_v7.json\", \"phase\": \"LOI_PHYSIQUE\", \"zone\": \"LOI PHYSIQUE\"}, {\"wp_id\": \"WP-F1-1\", \"fiche\": \"WP-F1-1_RomeIIIe_v7.json\", \"phase\": \"FONDATEURS\", \"zone\": \"COEUR DE MODELE\"}, {\"wp_id\": \"WP-I4-1\", \"fiche\": \"WP-I4-1_AllemagneNazie_v7.json\", \"phase\": \"INDUSTRIALISATION\", \"zone\": \"ZONE DE STRESS\"}, {\"wp_id\": \"WP-F10-1\", \"fiche\": \"WP-F10-1_CommuneParis_v7.json\", \"phase\": \"FONDATEURS\", \"zone\": \"COEUR DE MODELE\"}];\n\nreturn WP_LIST.map((wp, idx) => ({\n  json: {\n    seq_index:           idx + 1,\n    seq_total:           WP_LIST.length,\n    wp_id:               wp.wp_id,\n    fiche_path:          `${MEPA_CONFIG_DIR}/v7/${wp.fiche}`,\n    phase:               wp.phase,\n    zone_stratification: wp.zone,\n    fiche_v7:            true,\n    seq_started_at:      new Date().toISOString()\n  }\n}));\n"
      },
      "notes": "Retourne 27 items en ordre de stratification Phase 1→4.\nChaque item porte : seq_index, wp_id, fiche_path, phase, zone_stratification.\nMEPA_CONFIG_DIR déduit depuis MEPA_SCRIPTS_DIR (remplace /scripts par /config)."
    },
    {
      "id": "seq-exec-wf2",
      "name": "Execute WF2 — Single WP [Execute Workflow]",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        -200,
        340
      ],
      "parameters": {
        "workflowId": "={{ $env.MEPA_WF2_ID }}",
        "source": "database",
        "mode": "each",
        "inputData": {
          "type": "json",
          "value": "={{ JSON.stringify($json) }}"
        }
      },
      "notes": "⚠️ CONFIGURATION REQUISE :\nAprès import, relever l'ID de WF2 dans l'URL n8n (ex: /workflow/3)\net définir MEPA_WF2_ID=3 dans Settings → Environment Variables.\n\nWF2 doit avoir son Nœud A configuré pour lire $json.fiche_path\nen priorité sur MEPA_FICHE_PATH."
    },
    {
      "id": "seq-log",
      "name": "Log résultat + triage",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        340
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// SÉQUENCEUR — Log + triage (v4)\n// Lit le passeport depuis le fichier disque — source canonique.\n// Indépendant de l'output de Execute Workflow.\n// ============================================================\n\"use strict\";\nconst fs   = require('fs');\nconst data = $input.item.json;\n\nconst BASE = $env.MEPA_OUTPUT_DIR || '/data/mepa/outputs';\n\n// wp_id est toujours présent (propagé depuis Init via Execute Workflow)\nconst wp_id = data?.wp_id || '?';\n\n// ── Lire le passeport depuis le fichier ──────────────────────────────────\nlet passeport = {};\nlet passeport_error = null;\ntry {\n  const p = `${BASE}/passeports/${wp_id}_passeport.json`;\n  passeport = JSON.parse(fs.readFileSync(p, 'utf8'));\n} catch(e) {\n  passeport_error = e.message;\n}\n\n// Lire le compact s'il existe\nlet compact = {};\ntry {\n  const c = `${BASE}/certification/${wp_id}_passeport_compact.json`;\n  compact = JSON.parse(fs.readFileSync(c, 'utf8'));\n} catch(_) {}\n\n// ── Extraire les champs clés ─────────────────────────────────────────────\nconst statut = compact?.statut_cert\n            || passeport?.statut_global?.code\n            || passeport?.statut_cert\n            || data?.statut_certification\n            || 'INCONNU';\n\nconst cci        = compact?.CCI\n                ?? passeport?.cci_global\n                ?? data?.cci_global\n                ?? null;\n\nconst robustesse  = compact?.robustesse\n                 || passeport?.robustesse_n1\n                 || data?.robustesse_n1\n                 || null;\n\nconst concordance = compact?.concordant\n                 ?? passeport?.concordance\n                 ?? null;\n\nconst traj_diagn  = compact?.traj_diagn\n                 || passeport?.traj_diagn\n                 || null;\n\nconst traj_att    = compact?.traj_attendue\n                 || passeport?.traj_attendue\n                 || null;\n\n// ── Détecter cas fatals ──────────────────────────────────────────────────\nconst passeport_absent = Boolean(passeport_error);\nconst is_nc = data?.statut_nc === 'DONNÉES_INSUFFISANTES'\n           || statut === 'NC_BLOQUANT';\nconst is_runner_error = !passeport_absent\n  ? false\n  : ((data?.exitCode != null && data?.exitCode !== 0)\n     || data?.status === 'RUNNER_ERROR'\n     || data?.status === 'ERREUR_FATALE');\nconst is_fatal = Boolean(is_nc || (is_runner_error && passeport_absent));\n\nconst entry = {\n  seq_index:     data?.seq_index ?? null,\n  wp_id,\n  phase:         data?.phase || '?',\n  statut_cert:   statut,\n  cci,\n  robustesse,\n  concordance,\n  traj_diagn,\n  traj_attendue: traj_att,\n  passeport_absent,\n  passeport_error: passeport_error || null,\n  is_fatal,\n  timestamp:     new Date().toISOString()\n};\n\nreturn {\n  json: {\n    log_entry:    entry,\n    is_fatal,\n    wp_id,\n    statut_cert:  statut,\n    cci,\n    seq_progress: `${data?.seq_index ?? '?'}/${data?.seq_total ?? 3}`,\n    message:      `[SEQ ${data?.seq_index ?? '?'}] ${wp_id} → ${statut} | CCI:${cci ?? 'n/a'} | passeport:${passeport_absent ? 'ABSENT' : 'OK'}`\n  }\n};\n"
      },
      "notes": "Appende chaque résultat dans outputs/multipass_log.json.\nChamps loggés : wp_id, statut_cert, CCI, robustesse, concordance, traj."
    },
    {
      "id": "seq-router-fatal",
      "name": "Router — Fatal / Continue",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        200,
        340
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-fatal",
                    "leftValue": "={{ $json.is_fatal }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputDescription": "FATAL — arrêt séquenceur"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "loose"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-continue",
                    "leftValue": "={{ $json.is_fatal }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputDescription": "OK / WP_EXPLORATOIRE — continuer"
            }
          ]
        }
      }
    },
    {
      "id": "seq-alerte-fatale",
      "name": "⚠ Alerte Fatale — Arrêt Séquenceur",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        540
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// SÉQUENCEUR — Alerte fatale (NC bloquant ou erreur runner)\n// Écrit dans outputs/sequencer_alerts.json et s'arrête.\n// ============================================================\n\"use strict\";\nconst fs = require('fs');\nconst data = $input.item.json;\nconst BASE  = $env.MEPA_OUTPUT_DIR || '/data/mepa/outputs';\nconst ALERT_PATH = `${BASE}/sequencer_alerts.json`;\n\nlet alerts = [];\ntry { alerts = JSON.parse(fs.readFileSync(ALERT_PATH, 'utf8')); } catch(_) {}\n\nalerts.push({\n  wp_id:     data.wp_id || '?',\n  motif:     data.motif || data.status || 'ERREUR_FATALE',\n  detail:    data.message || data.action_requise || '',\n  timestamp: new Date().toISOString()\n});\nfs.writeFileSync(ALERT_PATH, JSON.stringify(alerts, null, 2), 'utf8');\n\n// Lancer une erreur pour arrêter le workflow n8n\nthrow new Error(`[SÉQUENCEUR STOP] ${data.wp_id} — ${data.motif || 'ERREUR_FATALE'}. Voir ${ALERT_PATH}`);\n"
      },
      "notes": "Écrit dans outputs/sequencer_alerts.json\npuis lève une erreur pour stopper le workflow n8n."
    },
    {
      "id": "seq-synthese",
      "name": "Synthèse Finale [multipass_log.json]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        340
      ],
      "parameters": {
        "jsCode": "// ============================================================\n// SÉQUENCEUR — Synthèse Finale (v4)\n// Lit TOUS les passeports depuis le disque — indépendant\n// du nombre d'items reçus de Execute Workflow.\n// ============================================================\n\"use strict\";\nconst fs   = require('fs');\nconst path = require('path');\nconst BASE = $env.MEPA_OUTPUT_DIR || '/data/mepa/outputs';\nconst PASS_DIR = `${BASE}/passeports`;\nconst CERT_DIR = `${BASE}/certification`;\nconst LOG_PATH = `${BASE}/multipass_log.json`;\n\n// ── Lire tous les passeports disponibles sur disque ──────────────────────\nlet files = [];\ntry { files = fs.readdirSync(PASS_DIR).filter(f => f.endsWith('_passeport.json')); }\ncatch(e) { files = []; }\n\nconst log = files.map(file => {\n  const wp_id = file.replace('_passeport.json', '');\n  let p = {}, compact = {};\n  try { p       = JSON.parse(fs.readFileSync(`${PASS_DIR}/${file}`, 'utf8')); } catch(_) {}\n  try { compact = JSON.parse(fs.readFileSync(`${CERT_DIR}/${wp_id}_passeport_compact.json`, 'utf8')); } catch(_) {}\n\n  const statut = compact?.statut_cert\n              || p?.statut_global?.code\n              || p?.statut_cert\n              || 'INCONNU';\n  const cci    = compact?.CCI ?? p?.cci_global ?? null;\n\n  return {\n    wp_id,\n    statut_cert:  statut,\n    cci,\n    robustesse:   compact?.robustesse   || p?.robustesse_n1  || null,\n    concordance:  compact?.concordant   ?? p?.concordance    ?? null,\n    traj_diagn:   compact?.traj_diagn   || p?.traj_diagn     || null,\n    traj_attendue:compact?.traj_attendue|| p?.traj_attendue  || null,\n    is_fatal:     false,\n    timestamp:    new Date().toISOString()\n  };\n});\n\n// ── Agréger ──────────────────────────────────────────────────────────────\nconst total         = log.length;\nconst certifies     = log.filter(e => e.statut_cert === 'WP_CERTIFIE').length;\nconst exploratoires = log.filter(e => e.statut_cert === 'WP_EXPLORATOIRE').length;\nconst inconnus      = log.filter(e => e.statut_cert === 'INCONNU').length;\nconst cci_vals      = log.filter(e => e.cci != null).map(e => e.cci);\nconst cci_moyen     = cci_vals.length\n  ? parseFloat((cci_vals.reduce((a,b)=>a+b,0)/cci_vals.length).toFixed(3))\n  : null;\n\nconst synthese = {\n  generated_at: new Date().toISOString(),\n  corpus: { total, certifies, exploratoires, inconnus },\n  cci_moyen,\n  detail: log\n};\n\nfs.writeFileSync(LOG_PATH, JSON.stringify(synthese, null, 2), 'utf8');\n\nreturn [{\n  json: {\n    status:   'SEQUENCEUR_TERMINE',\n    corpus:   synthese.corpus,\n    cci_moyen,\n    log_path: LOG_PATH,\n    message:  `[SEQUENCEUR COMPLET] ${total} WP - ${certifies} certifies, ${exploratoires} exploratoires, ${inconnus} inconnus`\n  }\n}];\n",
        "mode": "runOnceForAllItems"
      },
      "notes": "Appelé après chaque WP non-fatal.\nQuand tous les items sont traités, produit le résumé final dans multipass_log.json."
    }
  ],
  "connections": {
    "▶ Lancer séquenceur 27 WP": {
      "main": [
        [
          {
            "node": "Init — 6 WP Pilotes V7-γ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init — 6 WP Pilotes V7-γ": {
      "main": [
        [
          {
            "node": "Execute WF2 — Single WP [Execute Workflow]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute WF2 — Single WP [Execute Workflow]": {
      "main": [
        [
          {
            "node": "Log résultat + triage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log résultat + triage": {
      "main": [
        [
          {
            "node": "Router — Fatal / Continue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router — Fatal / Continue": {
      "main": [
        [
          {
            "node": "⚠ Alerte Fatale — Arrêt Séquenceur",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Synthèse Finale [multipass_log.json]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "timezone": "Europe/Paris"
  },
  "meta": {
    "mepa_version": "7.0-alpha-rev-2.1",
    "mission": "V7_PILOTE",
    "wp_cibles": [
      "WP-I10-1",
      "WP-C1-1",
      "WP-C2-1",
      "WP-F1-1",
      "WP-I4-1",
      "WP-F10-1"
    ]
  },
  "id": "mepa-sequencer-27wp"
}