workflow_n8n/mepa_workflow_n8n_V7.json
{
  "name": "MEPA V7-α rev. 2.1 — Pipeline Protocole Complet [WF V7]",
  "nodes": [
    {
      "id": "mepa-n0-trigger",
      "name": "▶ Démarrage Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        340
      ],
      "parameters": {}
    },
    {
      "id": "mepa-nA-read-file",
      "name": "Nœud A — Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        -400,
        340
      ],
      "parameters": {
        "filePath": "={{ $json.fiche_path || $env.MEPA_FICHE_PATH || '/data/mepa/config/WP-C2-1_Egypte2011_v62.json' }}",
        "options": {}
      },
      "notes": "Lit la fiche WP JSON depuis le disque. Chemin configurable via variable d'environnement MEPA_FICHE_PATH ou paramètre direct. Valeur par défaut : WP-C1-1 Haïti (ancre plancher corpus V6.2)."
    },
    {
      "id": "mepa-nB-extract",
      "name": "Nœud B — Decode JSON [No-FS]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        340
      ],
      "parameters": {
        "jsCode": "// Nœud B — Decode Binary → JSON (No-FS)\n// Remplace \"Extract From File\" qui encapsule sous une clé \"data\" parasite\n// Retourne le JSON de la fiche directement à la racine pour le Nœud 2\n\nconst binaryData = $input.item.binary.data;\nconst raw = Buffer.from(binaryData.data, 'base64').toString('utf-8');\n// Injecter fiche_v7 depuis $env.MEPA_FICHE_V7 si défini\nconst parsed = JSON.parse(raw);\nconst env_v7 = $env.MEPA_FICHE_V7;\nif (env_v7 === \"true\" || env_v7 === \"1\") {\n  parsed.fiche_v7 = true;\n}\nreturn { json: parsed };"
      },
      "notes": "Remplace Extract From File (v1.123 incompatible JSON). Décode le binaire et retourne le JSON de la fiche directement à la racine — sans encapsulation 'data' parasite."
    },
    {
      "id": "mepa-n2-audit",
      "name": "Nœud 2 — Audit C1→C13 [mepa_node2_audit_v62.js v2.1 No-FS]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        340
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================================\n// MEPA V7-alpha rev. 2.1 — Node 2 Audit de Conformité — JavaScript n8n\n// ============================================================================\n// Statut           : EXTENSION V7\n// Cible            : /data/mepa/scripts/mepa_node2_audit_v7.js\n//                    (et noeud \"Code\" dans mepa_workflow_n8n_V7.json, N2)\n// Remplace         : mepa_node2_audit_v62.js v2.1.0 (pour les fiches V7)\n// Retrocompatibilite :\n//   - C1-C13 : logique inchangee. Memes signatures d'erreur pour fiches V6.2.\n//   - Si la fiche est V6.2 (pas de marqueur _v7_meta ni de variables V7),\n//     le script se comporte exactement comme v2.1.0 et ignore C14/C15.\n//   - Si la fiche est V7 (presence de $schema contenant \"v7\" OU champ _v7_meta\n//     OU au moins une des 6 variables V7), C14 et C15 sont actives.\n//   - runner_config.y0 : garantie liste [S,L,C,I]. [RESOUT ARCH-013]\n//   - theta_C / theta_I injectes dans runner_config.params. [RESOUT ARCH-014]\n//   - Chemins canoniques /data/mepa/scripts/ via MEPA_SCRIPTS_DIR. [RESOUT ARCH-015]\n//   - Labels D4 etendus a 10 labels (ajout (α) V7).\n//   - Nouvelles variables V7 propagees dans runner_config.variables_v7.\n// Version          : 3.0.0\n// MEPA version     : 7.0-alpha rev. 2.1\n// Corrections V3.0.0 vs V2.1.0 :\n//   [V7-N1] Ajout du label \"(α) Cristallisation sacrificielle d'État\" dans LABELS_D4.\n//   [V7-N2] C14 NOUVEAU — Validation du codage null positif de psi_cible (regle E3 rev. 2.1).\n//   [V7-N3] C15 NOUVEAU — Presence des 6 variables V7 dans fiches V7 (ou NC justifie).\n//   [V7-N4] Chargement des definitions V7 depuis mepa_constants.json v1.3.0 et\n//           mepa_whitelist_keys.json v3.0.0 (fallback embarque en cas d'absence).\n//   [V7-N5] NC bloquant etendu a psi_noyau et gamma_local (cf. nc_bloquant_v7).\n//   [V7-N6] Contraintes WP etendues pour les 6 cas du cluster pilote V7-gamma rev. 2.\n//   [V7-N7] Propagation des variables V7 dans runner_config.variables_v7 pour le runner V7-beta.\n// ============================================================================\n//\n// CONTROLES ACTIFS (15) - ORDRE D'EXECUTION :\n//   C13 [PREMIER] Detection variables NC - NC bloquant => DONNEES_INSUFFISANTES\n//                 (etendu : psi_noyau, gamma_local sont NC bloquants V7)\n//   C1  Champs obligatoires a la racine\n//   C2  Cles cmd obligatoires presentes\n//   C3  Plages physiques commandes\n//   C3b Plages conditions initiales\n//   C4  Nomenclature D6 : 'gamma' present, 'g' absent\n//   C5  Labels D4 conformes (10 labels V7 — ajout (α))\n//   C6  Sa dans {2, 4, 6, 7}\n//   C7  Sa=7 : sa_p6_modulation documente\n//   C8  theta_C / theta_I dans plages admissibles\n//   C9  Whitelist cles racine (apres C13)\n//   C10 Contraintes par WP (incluant cluster pilote V7-gamma rev. 2)\n//   C11 cmd_linear obligatoire pour Cluster C1\n//   C12 Sa = parseInt(Sa) : type entier garanti\n//   C14 [V7] Codage null positif de psi_cible justifie (regle E3 rev. 2.1)\n//   C15 [V7] Presence des 6 variables V7 si fiche marquee V7\n//\n// SORTIES :\n//   VALIDE              -> runner_config (incl. variables_v7) -> Node 3 Runner V7-beta\n//   INVALIDE            -> alerte + suspension (erreur structure)\n//   DONNEES_INSUFFISANTES -> escalade Architecte (NC bloquant incluant V7)\n// ============================================================================\n\n\"use strict\";\n\n// ── Nettoyage pré-audit : retirer les clés injectées par le pipeline ─────────\n// (zone_stratification, cleanup, message, _conv_e_meta, _pipeline_message, etc.)\n// Ces clés ne font pas partie de la fiche et déclencheraient une erreur C9.\nconst _CLES_PIPELINE = new Set([\n  \"fiche_path\",\"zone_stratification\",\"seq_index\",\"seq_total\",\"seq_started_at\",\n  \"mode\",\"phase\",\"cleanup\",\"message\",\"_conv_e_meta\",\"_pipeline_message\",\n  \"toutes_passes_terminees\",\"pass_count\",\"statut_audit\",\"nb_erreurs\",\n  \"nb_warnings\",\"audit_log\",\"action_requise\",\n  // Préfixes pipeline\n  \"_pipe_zone\",\"_pipe_seq_idx\",\"_pipe_fiche_v7\",\n  // Flag injecté par Nœud B (MEPA_FICHE_V7) ou séquenceur — lu via _raw_input, retiré du root\n  \"fiche_v7\"\n]);\n// t_max, theta_C, theta_I : acceptés à la racine pour compat V6.2\n// (ils sont aussi dans params — les deux niveaux sont valides)\n\n// Construire la fiche nettoyée\nconst _raw_input = $input.item.json;\nconst _fiche_clean = Object.fromEntries(\n  Object.entries(_raw_input).filter(([k]) => !_CLES_PIPELINE.has(k))\n);\n// Propager fiche_v7 depuis le champ pipeline si présent dans raw mais pas dans fiche\nif (_fiche_clean.fiche_v7 === undefined && _raw_input._pipe_fiche_v7 !== undefined) {\n  _fiche_clean.fiche_v7 = _raw_input._pipe_fiche_v7;\n}\n// ── Fin nettoyage ─────────────────────────────────────────────────────────────\n\n\n// Chemins canoniques Pi5 - ARCH-015 resolu\nconst MEPA_SCRIPTS_DIR = (typeof process !== \"undefined\" && process.env && process.env.MEPA_SCRIPTS_DIR)\n  ? process.env.MEPA_SCRIPTS_DIR\n  : \"/data/mepa/scripts\";\n\n// Chargement mepa_whitelist_keys.json v3.0.0 (fallback embarque si absent)\nlet WHITELIST = null;\ntry {\n  const fs = require(\"fs\"), path = require(\"path\");\n  WHITELIST = JSON.parse(fs.readFileSync(path.join(MEPA_SCRIPTS_DIR, \"mepa_whitelist_keys.json\"), \"utf8\"));\n} catch (_) { WHITELIST = null; }\n\n// Chargement mepa_constants.json v1.3.0 (fallback embarque si absent)\nlet CONSTANTS = null;\ntry {\n  const fs = require(\"fs\"), path = require(\"path\");\n  CONSTANTS = JSON.parse(fs.readFileSync(path.join(MEPA_SCRIPTS_DIR, \"mepa_constants.json\"), \"utf8\"));\n} catch (_) { CONSTANTS = null; }\n\n// ============================================================================\n// LABELS D4 V7 — 10 labels officiels (au caractere pres)\n// ============================================================================\n// Source : mepa_constants.json v1.3.0 > labels_trajectoire_d4.labels\n// Fallback embarque si mepa_constants.json indisponible\nconst LABELS_D4 = (() => {\n  if (CONSTANTS && CONSTANTS.labels_trajectoire_d4 && Array.isArray(CONSTANTS.labels_trajectoire_d4.labels)) {\n    return CONSTANTS.labels_trajectoire_d4.labels;\n  }\n  return [\n    \"(a) Rupture transformatrice\",\n    \"(α) Cristallisation sacrificielle d'État\",   // V7-alpha rev. 2.1 — NOUVEAU\n    \"(b) Répression réussie\",\n    \"(c) Stase / ambigu\",\n    \"(d) Effondrement progressif\",\n    \"(d) Dissolution\",\n    \"(e) Réforme institutionnelle\",\n    \"(h) Stabilité\",\n    \"(h)/(e) Stabilité ou réforme lente\",\n    \"(γ) Transformation forcée\",\n  ];\n})();\n\nconst SA_VALIDES = new Set([2, 4, 6, 7]);\n\n// M_r valide (V7) : {1, 2, 3}\nconst M_R_VALIDES = new Set([1, 2, 3]);\n\n// ============================================================================\n// PLAGES PHYSIQUES COMMANDES (source: mepa_constants.json, fallback embarque)\n// ============================================================================\nconst PLAGES_CMD = (() => {\n  if (CONSTANTS && CONSTANTS.bornes_commandes) {\n    const out = {};\n    for (const [k, v] of Object.entries(CONSTANTS.bornes_commandes)) {\n      if (!k.startsWith(\"$\") && v.min !== undefined) out[k] = { min: v.min, max: v.max };\n    }\n    return out;\n  }\n  return {\n    T: { min: 0.0, max: 2.0 }, Mob: { min: 0.0, max: 1.0 },\n    R: { min: 0.0, max: 10.0 }, Ref: { min: 0.0, max: 1.0 },\n    Rc: { min: 0.0, max: 1.0 }, Rn: { min: 0.0, max: 1.0 },\n    E: { min: 0.0, max: 1.0 }, gamma: { min: 0.0, max: 1.0 },\n    EROI: { min: 1.01, max: 200.0 }, Pop: { min: 0.0, max: 10.0 },\n  };\n})();\n\nconst PLAGES_CI = {\n  S0: { min: 0.0, max: 3.0 }, L0: { min: 0.0, max: 1.0 },\n  C0: { min: 0.0, max: 1.0 }, I0: { min: 0.0, max: 20.0 },\n};\n\nconst PLAGES_SIM = {\n  t_max: { min: 50, max: 500 },\n  theta_C: { min: 0.10, max: 0.60 },\n  theta_I: { min: 0.05, max: 0.50 },\n};\n\n// Plages des variables V7 (source: whitelist v3.0.0)\nconst PLAGES_V7 = (() => {\n  if (WHITELIST && WHITELIST.variables_continues_v7) {\n    const out = {};\n    for (const [k, v] of Object.entries(WHITELIST.variables_continues_v7)) {\n      if (!k.startsWith(\"$\") && Array.isArray(v.plage)) {\n        out[k] = { min: v.plage[0], max: v.plage[1] };\n      }\n    }\n    return out;\n  }\n  return {\n    mu_m:       { min: 0.0, max: 1.0 },\n    phi:        { min: 0.0, max: 1.0 },\n    psi_noyau:  { min: 0.0, max: 1.0 },\n    psi_cible:  { min: 0.0, max: 1.0 },  // null autorise (regle E3)\n    gamma_local:{ min: 0.0, max: 1.0 },\n  };\n})();\n\n// ============================================================================\n// CLES CMD ET INTERDITES\n// ============================================================================\nconst CMD_OBLIGATOIRES = [\"T\", \"Mob\", \"R\", \"Ref\", \"Rc\", \"Rn\", \"E\", \"gamma\", \"EROI\", \"Pop\"];\nconst CMD_INTERDITES   = [\"g\", \"A_d_eff\", \"E_split\", \"A_r_c\", \"A_r_ne\"];\n\n// ============================================================================\n// CLES RACINE AUTORISEES (whitelist C9) — etendues V7\n// ============================================================================\nconst RACINE_AUTORISEES = new Set([\n  // --- Metadonnees ---\n  \"$schema\", \"$description\", \"$statut\", \"$audit\",\n  \"$arbitrage\", \"$note_archive\", \"$note_correction\",\n  // --- Identite ---\n  \"wp_id\", \"cas\", \"periode\", \"cluster\", \"cluster_note\",\n  \"trajectoire_attendue\", \"trajectoire_forcee\",\n  // --- Structure anthropologique ---\n  \"sa\", \"sa_type_todd\", \"sa_p6_modulation\", \"sa_note\",\n  // --- Sources et variables ---\n  \"sources_utilisees\", \"variables\",\n  // --- Etats et commandes ---\n  \"conditions_initiales\", \"conditions_initiales_finales\",\n  \"commandes\", \"commandes_finales\", \"cmd_linear\",\n  // --- Parametres et alertes ---\n  \"parametres_simulation\", \"alertes_actives\", \"alertes_conv_a\",\n  \"defi_mepa\", \"params_p\",\n  // --- Libelles descriptifs ---\n  \"cluster_libelle\", \"raison_loi_physique\", \"trajectoire_attendue_libelle\",\n  // --- Metadonnees standard ---\n  \"date_codage\", \"codeur\", \"statut\",\n  // --- V7 — NOUVEAU ---\n  \"_v7_meta\",                      // marqueur V7 optionnel (version, revision)\n  \"variables_v7\",                  // bloc des 6 variables V7 (alternative a imbrication dans variables)\n  \"configuration_c_note\",          // note anthropologique Configuration C (non-operationnel V7-alpha rev. 2.1)\n  \"cluster_pilote_v7_gamma\",       // boolean : WP membre du cluster pilote V7-gamma rev. 2\n  // --- Cles V7 fiche (metadonnees de statut et contexte) ---\n  \"statut_v7\",                     // statut dans le cluster pilote (BLOQUANTE, CONDITIONNELLE)\n  \"role_v7\",                       // role dans le cluster (CONTROLE NEGATIF, etc.)\n  \"trajectoire_attendue_v62\",      // trajectoire V6.2 de reference pour comparaison\n  \"note_difference_v62_v7\",        // note explicative difference V6.2 vs V7\n  \"v7_conditions_precheck\",        // bloc precheck conditions C1-C5 (pre-calcule)\n  // --- Cles simulation V6.2 presentes a la racine des fiches existantes ---\n  \"t_max\",                         // duree simulation (aussi dans params — accepte aux deux niveaux)\n  \"theta_C\",                       // seuil capital institutionnel (aussi dans params)\n  \"theta_I\",                       // seuil EROI institutionnel (aussi dans params)\n]);\n\n// ============================================================================\n// NC BLOQUANTES (source: mepa_constants.json, fallback) — etendues V7\n// ============================================================================\nconst NC_BLOQUANTES = (() => {\n  if (CONSTANTS && CONSTANTS.nc_protocol && CONSTANTS.nc_protocol.variables_nc_bloquantes) {\n    return new Set(CONSTANTS.nc_protocol.variables_nc_bloquantes);\n  }\n  // Fallback V7 : inclut psi_noyau et gamma_local\n  return new Set([\"E_split\", \"gamma\", \"EROI\", \"Sa\", \"psi_noyau\", \"gamma_local\"]);\n})();\n\n// ============================================================================\n// CONTRAINTES PAR WP (incluant cluster pilote V7-gamma rev. 2)\n// ============================================================================\nconst CONTRAINTES_WP = (WHITELIST && WHITELIST.contraintes_par_wp)\n  ? WHITELIST.contraintes_par_wp\n  : {\n    \"WP-C1-1\": {\n      cluster: \"C1\", EROI_min: 1.01, EROI_max: 2.5, cmd_linear_requis: true,\n      note: \"Haïti 2010-2024 — EROI dynamique 1.2→2.0. Ancre plancher corpus.\",\n      cluster_pilote_v7_gamma: true,\n      trajectoire_attendue_v7: \"(d) Effondrement progressif\",\n      statut_v7: \"BLOQUANTE\",\n    },\n    \"WP-F1-1\": {\n      cmd_linear_requis: true, cluster: \"C1\",\n      cluster_pilote_v7_gamma: true,\n      trajectoire_attendue_v7: \"(d) Effondrement progressif\",\n      statut_v7: \"BLOQUANTE\",\n    },\n    \"WP-F2-1\": { cmd_linear_requis: true, A_r_ne_max: 0.00, cluster: \"C1\" },\n    \"WP-F3-1\": { cmd_linear_requis: true, cluster: \"C1\" },\n    \"WP-F10-1\": {\n      t_max: 80, cluster: \"C2\",\n      cluster_pilote_v7_gamma: true,\n      trajectoire_attendue_v7: \"(a) Rupture transformatrice\",\n      role_v7: \"CONTRÔLE NÉGATIF — doit NE PAS produire (α)\",\n      statut_v7: \"BLOQUANTE\",\n    },\n    \"WP-I3-1\": { sa_p6_mult: true, cluster: \"C5\" },\n    \"WP-I4-1\": {\n      sa_p6_mult: true, cluster: \"C2\",\n      cluster_pilote_v7_gamma: true,\n      trajectoire_attendue_v7: \"(α) Cristallisation sacrificielle d'État\",\n      echec_attendu_v7: \"Condition C2 branche (α) — Psi_noyau x gamma_local = 0.0055 < sigma ~ 0.0275\",\n      statut_v7: \"CONDITIONNELLE\",\n      note_v7: \"Codage Psi_noyau ~ 0.01 strict (NSDAP membres formels). Pre-enregistre Decision V7-D1 rev. 4.\",\n    },\n    \"WP-I9-1\": { sa_p6_mult: true, cluster: \"C4\" },\n    \"WP-I10-1\": {\n      cmd_linear_requis: true, cluster: \"C1\",\n      cluster_pilote_v7_gamma: true,\n      trajectoire_attendue_v7: \"(α) Cristallisation sacrificielle d'État\",\n      statut_v7: \"BLOQUANTE\",\n      note_v7: \"Cas positif principal de (α).\",\n    },\n    \"WP-C2-1\": {\n      cluster: \"C2\",\n      cluster_pilote_v7_gamma: true,\n      trajectoire_attendue_v7: \"(b) Répression réussie — EXPLICATIVE\",\n      statut_v7: \"BLOQUANTE\",\n      note_v7: \"Cas test correctif V7-C4 — branche (b) explicative et non catchall.\",\n    },\n    \"WP-C4-1\": {\n      EROI_max: 2.0, cluster: \"C1\",\n      configuration_c_v7_alpha: true,\n      note_v7: \"Liban — Configuration C documentee comme note anthropologique non-operationnelle V7-alpha rev. 2.1 (§2bis.7 du cadre).\",\n    },\n    \"WP-EXT-5\": { EROI_min: 30, cluster: \"C4\", note: \"Islande — etalon (e). Sa=2. Hors 27 WP. Candidat V7.\" },\n  };\n\n// ============================================================================\n// P_DEFAULTS : chargés depuis mepa_constants.json si disponible (BUG-006)\n// ============================================================================\nconst _P_DEFAULTS_FALLBACK = {\n  p1: 0.08, p2: 0.045, p2b: 0.06, p3: 0.02, p4: 0.40,\n  p5: 0.05, p6: 0.12,  p7: 0.04,  p8: 0.03, p9: 0.06,\n  p10: 0.80, p11a: 0.60, p11b: 0.15, p13: 1.2,\n  lam: 0.68, mu: 0.38, nu: 0.62, rho: 0.06,\n};\nconst P_DEFAULTS = (function() {\n  try {\n    const bp = CONSTANTS && CONSTANTS.bornes_parametres_dynamiques;\n    if (!bp) return { ..._P_DEFAULTS_FALLBACK };\n    const out = { ..._P_DEFAULTS_FALLBACK };\n    for (const k of Object.keys(_P_DEFAULTS_FALLBACK)) {\n      if (bp[k] !== undefined && bp[k].defaut !== undefined) {\n        out[k] = bp[k].defaut;\n      }\n    }\n    return out;\n  } catch (_) {\n    return { ..._P_DEFAULTS_FALLBACK };\n  }\n})();\n\n// ============================================================================\n// HYPERPARAMETRES V7-alpha rev. 2.1 (pour propagation vers runner V7-beta)\n// ============================================================================\nconst HYPERPARAMS_V7 = (() => {\n  if (CONSTANTS && CONSTANTS.hyperparametres_v7_alpha_rev2_1) {\n    return CONSTANTS.hyperparametres_v7_alpha_rev2_1;\n  }\n  // Fallback minimal embarque\n  return {\n    trajectoire_alpha: {\n      mu_m_etoile: { valeur: 0.60 },\n      sigma_base: { valeur: 0.018 },\n      alpha_phi: { valeur: 1.7 },\n      theta_C_alpha: { valeur: 0.30 },\n      coefficient_a_r_c_eff: { valeur: 0.5 },\n    },\n    rampe_mod_mimetique: {\n      phase_1_incubation: { duree_par_defaut: 22, modulateur_p6: 0.50 },\n      phase_2_decharge: { duree_par_defaut: 7, modulateur_p6: 2.50 },\n      phase_3_stabilisation: { duree_par_defaut: 30, modulateur_p6: 1.15 },\n    },\n    branche_b_explicative: {\n      seuil_c_max: { valeur: 0.12 },\n      seuil_chute_c: { valeur: 0.20 },\n      intervalle_cs_valide: { min: 0.10, max: 0.50 },\n    },\n    branche_d_v7_c2: {\n      seuil_chute_i: { valeur: 0.5 },\n      seuil_fr_max: { valeur: 1.2 },\n    },\n  };\n})();\n\n// ============================================================================\n// HELPERS\n// ============================================================================\nfunction _isNC(val) {\n  return typeof val === \"string\" && val.trim().toUpperCase() === \"NC\";\n}\n\nfunction _toNum(val) {\n  if (_isNC(val) || val === null || val === undefined) return null;\n  const n = Number(val);\n  return isNaN(n) ? null : n;\n}\n\n/**\n * Detecte si la fiche est au format V7.\n * Criteres : (1) $schema contient \"v7\", (2) champ _v7_meta present,\n * (3) au moins une des 6 variables V7 presente dans variables{}.\n */\nfunction _estFicheV7(fiche) {\n  if (fiche.$schema && typeof fiche.$schema === \"string\" && fiche.$schema.toLowerCase().includes(\"v7\")) {\n    return true;\n  }\n  if (fiche._v7_meta) return true;\n  const vars_obj = fiche.variables || {};\n  const vars_v7_possibles = [\"m_r\", \"mu_m\", \"phi\", \"psi_noyau\", \"psi_cible\", \"gamma_local\"];\n  for (const v7key of vars_v7_possibles) {\n    if (v7key in vars_obj || v7key in fiche) return true;\n  }\n  // Egalement : bloc variables_v7 dedie\n  if (fiche.variables_v7 && typeof fiche.variables_v7 === \"object\") return true;\n  return false;\n}\n\n/**\n * Recupere une variable V7 depuis la fiche — cherche dans variables_v7{}\n * puis dans variables{} puis a la racine.\n */\nfunction _getVarV7(fiche, varName) {\n  const v7_bloc = fiche.variables_v7 || {};\n  if (varName in v7_bloc) return v7_bloc[varName];\n  const vars_obj = fiche.variables || {};\n  if (varName in vars_obj) return vars_obj[varName];\n  if (varName in fiche) return fiche[varName];\n  return undefined;\n}\n\n// ============================================================================\n// DEBUT AUDIT\n// ============================================================================\n\nconst fiche    = _fiche_clean; // nettoyé par le bloc pré-audit (clés pipeline retirées)\nconst erreurs  = [];\nconst warnings = [];\nconst nc_bloquantes_det    = [];\nconst nc_non_bloquantes_det = [];\n\nconst audit_log = {\n  timestamp: new Date().toISOString(),\n  version_audit: \"3.0.0\",\n  mepa_version: \"7.0-alpha rev. 2.1\",\n  wp_id: null,\n  fiche_v7: false,\n  controles: {},\n  erreurs: [],\n  warnings: [],\n  nc_bloquantes: [],\n  nc_non_bloquantes: [],\n  statut: \"INVALIDE\",\n  sa_modulation: { mult_applied: false },\n};\n\nconst wp_id   = fiche.wp_id   || null;\nconst cluster = fiche.cluster || null;\naudit_log.wp_id = wp_id;\n\n// Detection format V7\nconst fiche_v7 = _estFicheV7(fiche)\n  || (_raw_input.fiche_v7 === true)       // flag séquenceur V7\n  || (_raw_input.cluster_pilote_v7_gamma === true); // marqueur fiche V7\naudit_log.fiche_v7 = fiche_v7;\n\n// ============================================================================\n// C13 - DETECTION VARIABLES NC (PREMIER)\n// ============================================================================\n{\n  const vars_fiche = fiche.variables || {};\n  const cmd_fiche  = fiche.commandes || fiche.commandes_finales || {};\n  const vars_v7_fiche = fiche.variables_v7 || {};\n  let c13_ok = true;\n\n  // Variables V6.2 — comme v2.1.0\n  for (const [varName, entry] of Object.entries(vars_fiche)) {\n    if (!entry || typeof entry !== \"object\") continue;\n    if (!_isNC(entry.valeur)) continue;\n    if (NC_BLOQUANTES.has(varName)) {\n      nc_bloquantes_det.push(varName);\n      c13_ok = false;\n    } else {\n      nc_non_bloquantes_det.push(varName);\n      warnings.push(`C13 - NC non bloquant : '${varName}'. Simulation autorisee. CCI degrade.`);\n    }\n  }\n\n  // Variables V7 — si fiche V7, verifier psi_noyau et gamma_local NC bloquants\n  if (fiche_v7) {\n    for (const v7key of [\"mu_m\", \"phi\", \"psi_noyau\", \"psi_cible\", \"gamma_local\"]) {\n      const entry = _getVarV7(fiche, v7key);\n      if (!entry || typeof entry !== \"object\") continue;\n      if (!_isNC(entry.valeur)) continue;\n      if (NC_BLOQUANTES.has(v7key)) {\n        nc_bloquantes_det.push(v7key);\n        c13_ok = false;\n      } else {\n        nc_non_bloquantes_det.push(v7key);\n        warnings.push(`C13 - NC non bloquant V7 : '${v7key}'. Branche (α) non evaluable mais simulation V6.2 possible.`);\n      }\n    }\n  }\n\n  // Defense en profondeur : commandes directes\n  for (const [k, v] of Object.entries(cmd_fiche)) {\n    if (_isNC(v) && NC_BLOQUANTES.has(k) && !nc_bloquantes_det.includes(k)) {\n      nc_bloquantes_det.push(k);\n      c13_ok = false;\n    }\n  }\n\n  audit_log.nc_bloquantes    = nc_bloquantes_det;\n  audit_log.nc_non_bloquantes = nc_non_bloquantes_det;\n  audit_log.controles.C13 = c13_ok\n    ? (nc_non_bloquantes_det.length > 0 ? \"OK_WITH_WARNINGS\" : \"OK\")\n    : \"NC_BLOQUANT\";\n\n  if (!c13_ok) {\n    audit_log.erreurs  = [`C13 - NC bloquant sur : [${nc_bloquantes_det.join(\", \")}]. Simulation impossible.`];\n    audit_log.warnings = warnings;\n    audit_log.statut   = \"DONNEES_INSUFFISANTES\";\n    return [{\n      json: {\n        statut_audit: \"DONNEES_INSUFFISANTES\",\n        wp_id,\n        fiche_v7,\n        nc_bloquantes: nc_bloquantes_det,\n        nc_non_bloquantes: nc_non_bloquantes_det,\n        nb_erreurs: 1,\n        nb_warnings: warnings.length,\n        audit_log,\n        message: `[C13 NC BLOQUANT] ${wp_id || \"?\"} - Variables NC bloquantes : [${nc_bloquantes_det.join(\", \")}]. ${fiche_v7 ? \"Fiche V7. \" : \"\"}Escalade Architecte.`,\n      }\n    }];\n  }\n}\n\n// ============================================================================\n// C1 - CHAMPS OBLIGATOIRES A LA RACINE\n// ============================================================================\n{\n  const has_ci  = fiche.conditions_initiales != null || fiche.conditions_initiales_finales != null;\n  const has_cmd = fiche.commandes != null || fiche.commandes_finales != null;\n  const manquants = [\"wp_id\", \"cas\", \"cluster\", \"sa\", \"trajectoire_attendue\", \"variables\"].filter(k => fiche[k] == null);\n  if (!has_ci)  manquants.push(\"conditions_initiales[_finales]\");\n  if (!has_cmd) manquants.push(\"commandes[_finales]\");\n  if (manquants.length > 0) {\n    erreurs.push(`C1 - Champs obligatoires null/absents : [${manquants.join(\", \")}]`);\n    audit_log.controles.C1 = \"FAIL\";\n  } else { audit_log.controles.C1 = \"OK\"; }\n}\n\n// ============================================================================\n// C4 - NOMENCLATURE D6\n// ============================================================================\n{\n  const cmd  = fiche.commandes || fiche.commandes_finales || {};\n  const vars = fiche.variables || {};\n  let ok = true;\n  if (\"g\" in cmd)  { erreurs.push(\"C4 - Nomenclature D6 : cle 'g' dans commandes. Utiliser 'gamma'.\"); ok = false; }\n  if (\"g\" in vars) { erreurs.push(\"C4 - Nomenclature D6 : cle 'g' dans variables. Utiliser 'gamma'.\"); ok = false; }\n  if (!(\"gamma\" in cmd)) { erreurs.push(\"C4 - Nomenclature D6 : cle 'gamma' absente des commandes.\"); ok = false; }\n  const interdites = CMD_INTERDITES.filter(k => k !== \"g\" && k in cmd);\n  if (interdites.length > 0) { erreurs.push(`C4/C9b - Cles CONV-E dans commandes : [${interdites.join(\", \")}]. Mapping : A_d_eff->R, E_split->E.`); ok = false; }\n  audit_log.controles.C4 = ok ? \"OK\" : \"FAIL\";\n}\n\n// ============================================================================\n// C2 + C3 - CLES CMD ET PLAGES PHYSIQUES\n// ============================================================================\n{\n  const cmd  = fiche.commandes || fiche.commandes_finales || {};\n  let ok = true;\n  const manquantes = CMD_OBLIGATOIRES.filter(k => !(k in cmd));\n  if (manquantes.length > 0) { erreurs.push(`C2 - Cles cmd manquantes : [${manquantes.join(\", \")}]`); ok = false; }\n  for (const [key, plage] of Object.entries(PLAGES_CMD)) {\n    if (!(key in cmd)) continue;\n    const raw = cmd[key];\n    if (_isNC(raw)) continue;\n    const val = _toNum(raw);\n    if (val === null) { erreurs.push(`C2 - cmd.${key} : type incorrect (recu '${typeof raw}', attendu number)`); ok = false; }\n    else if (val < plage.min || val > plage.max) { erreurs.push(`C3 - cmd.${key}=${val} hors plage [${plage.min}, ${plage.max}]`); ok = false; }\n  }\n  audit_log.controles.C2_C3 = ok ? \"OK\" : \"FAIL\";\n}\n\n// ============================================================================\n// C3b - PLAGES CONDITIONS INITIALES\n// ============================================================================\n{\n  const ci = fiche.conditions_initiales || fiche.conditions_initiales_finales || {};\n  let ok = true;\n  for (const [key, plage] of Object.entries(PLAGES_CI)) {\n    if (!(key in ci)) continue;\n    const val = _toNum(ci[key]);\n    if (val === null) { erreurs.push(`C2 - ci.${key} : type incorrect`); ok = false; }\n    else if (val < plage.min || val > plage.max) { erreurs.push(`C3b - ci.${key}=${val} hors plage [${plage.min}, ${plage.max}]`); ok = false; }\n  }\n  audit_log.controles.C3_CI = ok ? \"OK\" : \"FAIL\";\n}\n\n// ============================================================================\n// C5 - LABELS D4 (10 labels officiels V7-alpha rev. 2.1)\n// ============================================================================\n{\n  const traj = fiche.trajectoire_attendue || \"\";\n  const labels_recus = traj.split(\"->\").concat(traj.split(\"\\u2192\")).map(l => l.trim()).filter(Boolean);\n  const labels_uniq = [...new Set(labels_recus)];\n  const labels_inv  = labels_uniq.filter(l => !LABELS_D4.includes(l));\n  if (labels_inv.length > 0) {\n    erreurs.push(`C5 - Labels D4 non conformes : [${labels_inv.map(l=>`'${l}'`).join(\", \")}]. Autorises V7 (10 labels) : ${LABELS_D4.join(\" | \")}`);\n    audit_log.controles.C5 = \"FAIL\";\n  } else { audit_log.controles.C5 = \"OK\"; }\n}\n\n// ============================================================================\n// C6 + C12 - SA VALIDE ET ENTIER\n// ============================================================================\nlet sa_int = NaN;\n{\n  const sa_raw = fiche.sa;\n  sa_int = parseInt(sa_raw, 10);\n  if (String(sa_raw) !== String(sa_int)) warnings.push(`C12 - Sa='${sa_raw}' converti en entier ${sa_int}.`);\n  if (!SA_VALIDES.has(sa_int)) {\n    erreurs.push(`C6 - Sa=${sa_raw} invalide. Valeurs autorisees : {2, 4, 6, 7}`);\n    audit_log.controles.C6_C12 = \"FAIL\";\n  } else {\n    audit_log.controles.C6_C12 = \"OK\";\n    if (sa_int === 7) {\n      const p6_flag = fiche.sa_p6_modulation === true || fiche.sa_p6_modulation === \"true\";\n      if (!p6_flag) warnings.push(\"C7 - Sa=7 : sa_p6_modulation non documente. Runner applique p6x1.5 automatiquement (regle absolue V6.2).\");\n      audit_log.sa_modulation = { mult_applied: true, note: \"Sa=7 (famille souche) -> p6 x 1.5 applique par le runner\" };\n    }\n  }\n}\n\n// ============================================================================\n// C8 - THETA_C / THETA_I DANS LES PLAGES ADMISSIBLES\n// ============================================================================\n{\n  const prm = fiche.parametres_simulation || {};\n  let ok = true;\n  for (const [key, plage] of Object.entries(PLAGES_SIM)) {\n    if (!(key in prm)) continue;\n    const val = _toNum(prm[key]);\n    if (val !== null && (val < plage.min || val > plage.max)) {\n      erreurs.push(`C8 - parametres_simulation.${key}=${val} hors plage [${plage.min}, ${plage.max}]`);\n      ok = false;\n    }\n  }\n  audit_log.controles.C8 = ok ? \"OK\" : \"FAIL\";\n}\n\n// ============================================================================\n// C9 - WHITELIST CLES RACINE (execute APRES C13)\n// ============================================================================\n{\n  const cles_extra = Object.keys(fiche).filter(k => !RACINE_AUTORISEES.has(k));\n  if (cles_extra.length > 0) {\n    erreurs.push(`C9 - Cles non autorisees a la racine : [${cles_extra.join(\", \")}]`);\n    audit_log.controles.C9 = \"FAIL\";\n  } else { audit_log.controles.C9 = \"OK\"; }\n}\n\n// ============================================================================\n// C10 - CONTRAINTES SPECIFIQUES PAR WP (etendues cluster pilote V7-gamma)\n// ============================================================================\n{\n  let ok = true;\n  if (wp_id && CONTRAINTES_WP[wp_id]) {\n    const ctr = CONTRAINTES_WP[wp_id];\n    const cmd = fiche.commandes || fiche.commandes_finales || {};\n    const prm = fiche.parametres_simulation || {};\n    if (ctr.EROI_ancre !== undefined) {\n      const eroi = _toNum(cmd.EROI);\n      if (eroi !== null && eroi !== ctr.EROI_ancre) { erreurs.push(`C10 - ${wp_id} : EROI=${eroi} != ancre obligatoire ${ctr.EROI_ancre}`); ok = false; }\n    }\n    if (ctr.EROI_max !== undefined) {\n      const eroi = _toNum(cmd.EROI);\n      if (eroi !== null && eroi > ctr.EROI_max) { erreurs.push(`C10 - ${wp_id} : EROI=${eroi} > max ${ctr.EROI_max}`); ok = false; }\n    }\n    if (ctr.A_r_ne_max !== undefined) {\n      const rn = _toNum(cmd.Rn);\n      if (rn !== null && rn > ctr.A_r_ne_max) { erreurs.push(`C10 - ${wp_id} : Rn=${rn} > A_r_ne_max=${ctr.A_r_ne_max}`); ok = false; }\n    }\n    if (ctr.t_max !== undefined && prm.t_max !== undefined && prm.t_max !== ctr.t_max)\n      warnings.push(`C10 - ${wp_id} : t_max=${prm.t_max}, valeur recommandee=${ctr.t_max}`);\n\n    // Warnings V7 specifiques cluster pilote\n    if (fiche_v7 && ctr.cluster_pilote_v7_gamma) {\n      audit_log.v7_cluster_pilote = {\n        trajectoire_attendue_v7: ctr.trajectoire_attendue_v7 || null,\n        statut_v7: ctr.statut_v7 || null,\n        role_v7: ctr.role_v7 || null,\n        note_v7: ctr.note_v7 || null,\n      };\n      if (ctr.statut_v7 === \"CONDITIONNELLE\") {\n        warnings.push(`C10 - ${wp_id} : statut V7 CONDITIONNELLE (Decision V7-D1 rev. 4 §5). ${ctr.echec_attendu_v7 || \"\"}`);\n      }\n    }\n  }\n  audit_log.controles.C10 = ok ? (wp_id && CONTRAINTES_WP[wp_id] ? \"OK\" : \"OK (pas de contrainte specifique)\") : \"FAIL\";\n}\n\n// ============================================================================\n// C11 - CMD_LINEAR POUR CLUSTER C1\n// ============================================================================\n{\n  const ctr_wp   = (wp_id && CONTRAINTES_WP[wp_id]) ? CONTRAINTES_WP[wp_id] : {};\n  const exc_stat = ctr_wp.EROI_mode === \"statique\";\n  const has_lin  = fiche.cmd_linear != null && typeof fiche.cmd_linear === \"object\" && Object.keys(fiche.cmd_linear).length > 0;\n  if (cluster === \"C1\" && !has_lin && !exc_stat) {\n    erreurs.push(\"C11 - Cluster C1 : cmd_linear.EROI obligatoire ({start, end}). Absent.\");\n    audit_log.controles.C11 = \"FAIL\";\n  } else { audit_log.controles.C11 = cluster === \"C1\" ? \"OK\" : \"N/A (cluster != C1)\"; }\n}\n\n// ============================================================================\n// C14 - [V7] VALIDATION DU CODAGE NULL POSITIF DE PSI_CIBLE (regle E3 rev. 2.1)\n// ============================================================================\n// Source : cadre V7-alpha rev. 2.1 §8.2 (regle E3) et Decision V7-D1 rev. 4 §4bis.\n// Si psi_cible est code null, une justification textuelle positive est OBLIGATOIRE\n// avec une longueur minimale de 50 caracteres. Sans cette justification, le codage\n// null est rejete (la clause null doit etre defendue explicitement, pas laissee par\n// defaut comme omission).\n// ============================================================================\n{\n  if (fiche_v7) {\n    const psi_cible_entry = _getVarV7(fiche, \"psi_cible\");\n    let c14_ok = true;\n    let c14_note = null;\n\n    if (psi_cible_entry && typeof psi_cible_entry === \"object\") {\n      const val = psi_cible_entry.valeur;\n      const just = (psi_cible_entry.justification_E3 || psi_cible_entry.justification || \"\").toString().trim();\n\n      if (val === null) {\n        // Cas null : justification textuelle obligatoire\n        if (just.length < 50) {\n          erreurs.push(`C14 - psi_cible code null sans justification suffisante (longueur=${just.length}, minimum=50). Regle E3 rev. 2.1 : le codage null positif exige une defense textuelle explicite. Voir whitelist.variables_continues_v7.psi_cible.regle_e3_rev_2_1.exemple_valide pour le format.`);\n          c14_ok = false;\n        } else {\n          c14_note = \"psi_cible=null avec justification valide (>= 50 chars)\";\n        }\n      } else if (val !== undefined && val !== \"NC\") {\n        // Cas valeur numerique : verifier plage [0, 1]\n        const num_val = _toNum(val);\n        if (num_val === null) {\n          erreurs.push(`C14 - psi_cible : type incorrect (recu '${typeof val}', attendu number ou null)`);\n          c14_ok = false;\n        } else if (num_val < 0.0 || num_val > 1.0) {\n          erreurs.push(`C14 - psi_cible=${num_val} hors plage [0, 1]`);\n          c14_ok = false;\n        } else {\n          c14_note = `psi_cible=${num_val} (valeur numerique valide)`;\n        }\n      }\n    }\n    audit_log.controles.C14 = c14_ok ? `OK (${c14_note || \"psi_cible non code\"})` : \"FAIL\";\n  } else {\n    audit_log.controles.C14 = \"N/A (fiche V6.2)\";\n  }\n}\n\n// ============================================================================\n// C15 - [V7] PRESENCE DES 6 VARIABLES V7 SI FICHE V7\n// ============================================================================\n// Source : cadre V7-alpha rev. 2.1 §2ter.\n// Si la fiche est marquee V7, les 6 variables V7 doivent etre presentes ou\n// explicitement codees NC avec justification (C13 gere le cas NC). L'absence\n// totale d'une variable V7 dans une fiche V7 est une erreur structurelle.\n// ============================================================================\n{\n  if (fiche_v7) {\n    const vars_v7_obligatoires = [\"m_r\", \"mu_m\", \"phi\", \"psi_noyau\", \"psi_cible\", \"gamma_local\"];\n    const manquantes = [];\n    const presentes = [];\n\n    for (const v7key of vars_v7_obligatoires) {\n      const entry = _getVarV7(fiche, v7key);\n      if (entry === undefined) {\n        manquantes.push(v7key);\n      } else {\n        presentes.push(v7key);\n      }\n    }\n\n    if (manquantes.length > 0) {\n      erreurs.push(`C15 - Fiche V7 : variables V7 manquantes [${manquantes.join(\", \")}]. Les 6 variables V7 (m_r, mu_m, phi, psi_noyau, psi_cible, gamma_local) sont obligatoires dans une fiche V7. Voir cadre theorique V7-alpha rev. 2.1 §2ter.`);\n      audit_log.controles.C15 = \"FAIL\";\n    } else {\n      audit_log.controles.C15 = `OK (${presentes.length}/6 variables V7 presentes)`;\n    }\n\n    // Verification speciale m_r : valeur dans {1, 2, 3}\n    const m_r_entry = _getVarV7(fiche, \"m_r\");\n    if (m_r_entry && typeof m_r_entry === \"object\" && !_isNC(m_r_entry.valeur)) {\n      const m_r_int = parseInt(m_r_entry.valeur, 10);\n      if (!M_R_VALIDES.has(m_r_int)) {\n        erreurs.push(`C15 - m_r=${m_r_entry.valeur} invalide. Valeurs autorisees : {1, 2, 3} (Stades matrice religieuse Todd).`);\n      }\n    }\n  } else {\n    audit_log.controles.C15 = \"N/A (fiche V6.2)\";\n  }\n}\n\n// ============================================================================\n// SYNTHESE\n// ============================================================================\n\naudit_log.erreurs  = erreurs;\naudit_log.warnings = warnings;\naudit_log.statut   = erreurs.length === 0 ? \"VALIDE\" : \"INVALIDE\";\n\nif (erreurs.length > 0) {\n  return [{\n    json: {\n      statut_audit: \"INVALIDE\",\n      wp_id,\n      fiche_v7,\n      nb_erreurs:   erreurs.length,\n      nb_warnings:  warnings.length,\n      audit_log,\n      message: `[AUDIT FAIL] ${wp_id || \"?\"} - ${erreurs.length} erreur(s) structurelle(s) - pipeline suspendu. Action : recodage CONV-E.`,\n    }\n  }];\n}\n\n// ============================================================================\n// CONSTRUCTION runner_config - SORTIE VALIDE (etendue V7)\n// ============================================================================\n\nconst cmd    = fiche.commandes || fiche.commandes_finales || {};\nconst ci     = fiche.conditions_initiales || fiche.conditions_initiales_finales || {};\nconst params = fiche.parametres_simulation || {};\nconst params_p_fiche = fiche.params_p || {};\n\n// y0 garantie liste [S,L,C,I]\nconst y0 = Array.isArray(ci)\n  ? [parseFloat(ci[0])||1.0, parseFloat(ci[1])||0.5, parseFloat(ci[2])||0.1, parseFloat(ci[3])||3.5]\n  : [_toNum(ci.S0)??1.0, _toNum(ci.L0)??0.5, _toNum(ci.C0)??0.1, _toNum(ci.I0)??3.5];\n\nconst theta_C = _toNum(params.theta_C) ?? 0.30;\nconst theta_I = _toNum(params.theta_I) ?? 0.22;\nconst t_max   = _toNum(params.t_max)   ?? 300;\n\nconst params_runner = { ...P_DEFAULTS, ...params_p_fiche, theta_C, theta_I };\n\n// Bloc cmd nettoye\nconst cmd_clean = {};\nfor (const key of CMD_OBLIGATOIRES) {\n  if (key in cmd) cmd_clean[key] = _isNC(cmd[key]) ? cmd[key] : (_toNum(cmd[key]) ?? cmd[key]);\n}\n\n// ============================================================================\n// EXTRACTION DES VARIABLES V7 POUR LE RUNNER V7-beta\n// ============================================================================\nlet variables_v7_extract = null;\nif (fiche_v7) {\n  variables_v7_extract = {};\n  for (const v7key of [\"m_r\", \"mu_m\", \"phi\", \"psi_noyau\", \"psi_cible\", \"gamma_local\"]) {\n    const entry = _getVarV7(fiche, v7key);\n    if (entry && typeof entry === \"object\") {\n      variables_v7_extract[v7key] = {\n        valeur: entry.valeur,\n        source_id: entry.source_id || null,\n        justification: entry.justification || null,\n      };\n    } else {\n      variables_v7_extract[v7key] = { valeur: null, source_id: null, justification: null };\n    }\n  }\n}\n\n// runner_config complet\nconst runner_config = {\n  wp_id,\n  cas:                  fiche.cas,\n  cluster,\n  trajectoire_attendue: fiche.trajectoire_attendue,\n  sa:                   sa_int,\n  y0,\n  t_max,\n  theta_C,\n  theta_I,\n  cmd:                  cmd_clean,\n  cmd_linear:           fiche.cmd_linear || null,\n  params:               params_runner,\n  nc_non_bloquantes:    nc_non_bloquantes_det,\n  // --- V7 NOUVEAUX CHAMPS ---\n  fiche_v7:             fiche_v7,\n  variables_v7:         variables_v7_extract,\n  hyperparams_v7:       fiche_v7 ? HYPERPARAMS_V7 : null,\n};\n\n// Chemins canoniques\nconst config_path = `/tmp/${wp_id}_runner_config.json`;\nconst result_path = `/tmp/${wp_id}_result.json`;\nconst n1_path     = `/tmp/${wp_id}_n1_sensitivity.json`;\n// En V7, pointe vers le nouveau runner V7-beta\nconst runner_cmd  = fiche_v7\n  ? `python3 ${MEPA_SCRIPTS_DIR}/mepa_runner_v3_v7.py ${config_path}`\n  : `python3 ${MEPA_SCRIPTS_DIR}/mepa_runner_v2_gamma.py ${config_path}`;\nconst n1_cmd      = `python3 ${MEPA_SCRIPTS_DIR}/mepa_sensitivity_n1.py ${config_path} ${n1_path}`;\n\n// llm_context pour CONV-A (etendu V7)\nconst llm_context = {\n  wp_id,\n  cas:                  fiche.cas,\n  periode:              fiche.periode,\n  cluster,\n  sa:                   sa_int,\n  trajectoire_attendue: fiche.trajectoire_attendue,\n  fiche_v7:             fiche_v7,\n  mepa_full_vars: {\n    \"E_split\": fiche.variables?.E_split?.valeur,\n    \"gamma\":   fiche.variables?.gamma?.valeur,\n    \"A_d_eff\": fiche.variables?.A_d_eff?.valeur,\n    \"A_r_c\":   fiche.variables?.A_r_c?.valeur,\n    \"A_r_ne\":  fiche.variables?.A_r_ne?.valeur,\n    \"Cs\":      fiche.variables?.Cs?.valeur,\n    \"L_t\":     fiche.variables?.L_t?.valeur,\n    \"EROI\":    fiche.variables?.EROI?.valeur,\n    \"Sa\":      fiche.variables?.Sa?.valeur,\n  },\n  mepa_v7_vars: variables_v7_extract,\n  nc_non_bloquantes: nc_non_bloquantes_det,\n  alertes:            fiche.alertes_actives || [],\n  defi_mepa:          fiche.defi_mepa       || \"\",\n};\n\nreturn [{\n  json: {\n    statut_audit:       \"VALIDE\",\n    wp_id,\n    fiche_v7,\n    nb_erreurs:         0,\n    nb_warnings:        warnings.length,\n    nc_non_bloquantes:  nc_non_bloquantes_det,\n    audit_log,\n    runner_config,\n    runner_config_json: JSON.stringify(runner_config, null, 2),\n    runner_config_path: config_path,\n    result_path,\n    n1_path,\n    runner_cmd,\n    n1_cmd,\n    llm_context,\n    message: (\n      `[AUDIT OK] ${wp_id} - ${fiche_v7 ? \"V7 (15 controles)\" : \"V6.2 (13 controles)\"} passes` +\n      (warnings.length > 0 ? ` (${warnings.length} warning(s))` : \"\") +\n      (nc_non_bloquantes_det.length > 0 ? ` [NC non-bl : ${nc_non_bloquantes_det.join(\", \")}]` : \"\")\n    ),\n  }\n}];\n"
      },
      "notes": "13 contrôles — C13 en premier (détection NC).\nSorties : VALIDE | INVALIDE | DONNEES_INSUFFISANTES.\nDélègue à /data/mepa/scripts/mepa_node2_audit_v62.js v2.0."
    },
    {
      "id": "mepa-n2-router",
      "name": "Router — VALIDE / INVALIDE / NC",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        280,
        340
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-valide",
                    "leftValue": "={{ $json.statut_audit }}",
                    "rightValue": "VALIDE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputDescription": "VALIDE — pipeline continue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-invalide",
                    "leftValue": "={{ $json.statut_audit }}",
                    "rightValue": "INVALIDE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputDescription": "INVALIDE — erreur structurelle"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-nc",
                    "leftValue": "={{ $json.statut_audit }}",
                    "rightValue": "DONNEES_INSUFFISANTES",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "2",
              "renameOutput": true,
              "outputDescription": "DONNEES_INSUFFISANTES — NC bloquant"
            }
          ]
        }
      }
    },
    {
      "id": "mepa-alert-invalide",
      "name": "⚠ Alerte INVALIDE — Recodage CONV-E requis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        640
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// NŒUD ALERTE — Pipeline suspendu (fiche INVALIDE)\n// Retourne le payload d'erreur pour notification CONV-B / Architecte\n\n\"use strict\";\nconst data   = $input.item.json;\nconst wp_id  = data.wp_id || \"?\";\nconst audit  = data.audit_log || {};\n\nreturn {\n  json: {\n    status:       \"PIPELINE_SUSPENDU\",\n    wp_id,\n    motif:        \"INVALIDE\",\n    nb_erreurs:   data.nb_erreurs || 0,\n    erreurs:      audit.erreurs   || [],\n    warnings:     audit.warnings  || [],\n    controles:    audit.controles || {},\n    action_requise: \"Recodage CONV-E — corriger les erreurs structurelles avant relance.\",\n    message:      `[PIPELINE STOP] ${wp_id} — ${data.nb_erreurs} erreur(s). ${data.message || \"\"}`\n  }\n};"
      }
    },
    {
      "id": "mepa-alert-nc",
      "name": "⚠ Alerte NC BLOQUANT — Escalade Architecte",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        790
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// NŒUD ALERTE NC — Pipeline suspendu (DONNEES_INSUFFISANTES)\n// Distinct de INVALIDE : la fiche est bien formée, les sources sont insuffisantes\n\n\"use strict\";\nconst data  = $input.item.json;\nconst wp_id = data.wp_id || \"?\";\n\nreturn {\n  json: {\n    status:       \"PIPELINE_SUSPENDU\",\n    wp_id,\n    motif:        \"DONNEES_INSUFFISANTES\",\n    nc_bloquantes:    data.nc_bloquantes    || [],\n    nc_non_bloquantes: data.nc_non_bloquantes || [],\n    action_requise: (\n      \"Escalade Architecte. \" +\n      \"Enrichissement des sources historiques requis pour : \" +\n      (data.nc_bloquantes || []).join(\", \") +\n      \". La fiche est structurellement valide (pas de recodage CONV-E).\"\n    ),\n    message: `[NC BLOQUANT] ${wp_id} — ${data.message || \"\"}`\n  }\n};"
      }
    },
    {
      "id": "mepa-n8a-convb-cci",
      "name": "Noeud 8a -- CONV-B CCI [Codage Independant + CCI Pre-Simulation]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        340
      ],
      "parameters": {
        "jsCode": "// NOEUD 8a -- CONV-B Codage Independant + CCI (PRE-SIMULATION)\n// Guide Survie Etape 1b+2 : CONV-B code en parallele, CCI AVANT simulation\n// Les valeurs resolues serviront d'entree au runner\n\"use strict\";\nconst https = require(\"https\");\nconst { execSync } = require(\"child_process\");\nconst fs    = require(\"fs\");\n\nconst data   = $input.item.json;\nconst wp_id  = data.wp_id;\nconst ANTHROPIC_API_KEY = $env.ANTHROPIC_API_KEY;\nconst SCRIPTS = $env.MEPA_SCRIPTS_DIR || \"/data/mepa/scripts\";\n\nconst fiche_input = data.llm_context?.mepa_full_vars || {};\nconst cas     = data.llm_context?.cas     || \"\";\nconst periode = data.llm_context?.periode || \"\";\nconst cluster = data.llm_context?.cluster || \"\";\n\n// ── V7 : détection + extraction variables V7 neutralisées ──────────────────\nconst fiche_v7    = data.fiche_v7 === true || data.llm_context?.fiche_v7 === true;\nconst v7_input    = data.llm_context?.mepa_v7_vars || {};\nconst sources_v7_neutres = fiche_v7 ? JSON.stringify(\n  Object.fromEntries(\n    Object.entries(v7_input).map(([k, v]) => [\n      k, { source_id: (v && typeof v === \"object\") ? v.source_id : null }\n      // justification CONV-E volontairement exclue — double aveugle préservé\n    ])\n  )\n) : \"{}\";\n\n// Sources neutralisees : sans scores CONV-E, sans justifications\nconst sources_neutres = JSON.stringify(\n  Object.fromEntries(\n    Object.entries(fiche_input).map(([k, v]) => [\n      k, { echelle: v.echelle, origine: v.origine,\n           source_id: v.source_id, niveau_source: v.niveau_source,\n           // sanity_check.valeur_indicateur supprimé — brise le double aveugle\n           sanity_check: v.sanity_check ? { indicateur: v.sanity_check.indicateur } : null }\n    ])\n  )\n);\n\n// Variables hardcodees (EROI, Sa, A_r_ne si V6.2 normative)\nconst vars_hardcodees = Object.fromEntries(\n  Object.entries(fiche_input)\n    .filter(([k, v]) => v.valeur !== null && v.valeur !== undefined\n                     && (v.source_id?.includes('hardcod') || v.source_id?.includes('normative') || v.source_id?.includes('V6.2')))\n    .map(([k, v]) => [k, v.valeur])\n);\n\nconst SYSTEM = `Tu es CONV-B, l'Auditeur Scientifique MEPA V6.2.\nTu codes independamment les 9 variables critiques du WP.\nTu ne vois PAS les scores de CONV-E. Double aveugle strict.\n\nVARIABLES HARDCODEES (ne pas recoder, marquer accord=true) :\n${JSON.stringify(vars_hardcodees)}\n\nGRILLE D'ANCRAGE V6.2 :\nE_split [0,1] : 0.0-0.2=cohesion, 0.4-0.6=fracture naissante, 0.8-1.0=fracture critique\ngamma [0,1] : 0.0-0.2=desorganise, 0.4-0.6=organisation partielle, 0.8-1.0=forte\nA_d_eff [0,10] : 0-2=effondrement, 4-6=trappe, 8-10=surplus\nA_r_c [0,1] : 0.0-0.2=absente, 0.4-0.6=selective, 0.8-1.0=massive\nA_r_ne [0,1] : 0.0-0.2=absente, 0.4-0.6=partielle, 0.8-1.0=totale\nCs [0,1] : 0.0-0.2=effondree, 0.4-0.6=contestee, 0.8-1.0=solide\nL_t [0,1] : 0.0-0.2=effondree, 0.4-0.6=conditionnelle, 0.8-1.0=solide\nEROI [valeur reelle] : <3=effondrement, 3-5=critique, 5-10=standard, >10=performant\nSa {2,4,6,7} : nucleaire absolu=2, egalitaire=4, communautaire=6, souche=7\n\n${fiche_v7 ? `\n=== VARIABLES V7 SUPPLEMENTAIRES (fiche V7 detectee) ===\nTu codes EGALEMENT, en double aveugle, les 6 variables V7 suivantes.\nTu ne vois PAS le codage CONV-E de ces variables non plus.\n\nm_r {1,2,3} (Stades matrice religieuse Todd) : 1=religion active structurante, 2=religion en recul/contestee, 3=religion marginale/secularisee\nmu_m [0,1] (polarisation mimetique) : 0.0-0.3=faible, 0.3-0.6=moderee, 0.6-0.8=forte, 0.8-1.0=maximale (designation ennemi)\nphi [0,1] (monopole symbolique du noyau) : 0.0-0.2=monopole quasi-total, 0.2-0.5=dominant, 0.5-1.0=pluralisme reel\npsi_noyau [0,1] (engagement actif noyau mobilise) : 0.0-0.05=noyau restreint, 0.05-0.15=noyau elargi, 0.15-1.0=mobilisation massive\npsi_cible [0,1] OU null (designation publique cible demographique) : valeur si designation explicite documentee ; null si aucune designation cible identifiable (justification obligatoire si null, >=50 caracteres)\ngamma_local [0,1] (discipline/organisation du noyau specifique, distinct de gamma global) : 0.0-0.2=faible, 0.2-0.4=partielle, 0.4-0.6=structuree, 0.6-1.0=tres structuree\n` : \"\"}\n\nReponds UNIQUEMENT en JSON pur sans markdown.`;\n\nconst v7_format_block = fiche_v7 ? `,\n  \"variables_v7\": {\n    \"m_r\":         {\"valeur\": 0, \"source_utilisee\": \"Todd (1990)\", \"justification\": \"...\"},\n    \"mu_m\":        {\"valeur\": 0.0, \"source_utilisee\": \"...\", \"justification\": \"...\"},\n    \"phi\":         {\"valeur\": 0.0, \"source_utilisee\": \"...\", \"justification\": \"...\"},\n    \"psi_noyau\":   {\"valeur\": 0.0, \"source_utilisee\": \"...\", \"justification\": \"...\"},\n    \"psi_cible\":   {\"valeur\": 0.0, \"source_utilisee\": \"...\", \"justification\": \"... (OU valeur:null + justification >=50 caracteres si aucune cible identifiable)\"},\n    \"gamma_local\": {\"valeur\": 0.0, \"source_utilisee\": \"...\", \"justification\": \"...\"}\n  }` : \"\";\n\nconst sources_v7_block = fiche_v7 ? `\n\nSources V7 pour codage independant (6 variables supplementaires) :\n${sources_v7_neutres}` : \"\";\n\nconst USER = `WP: ${wp_id} | Cas: ${cas} | Periode: ${periode} | Cluster: ${cluster}\n\nSources pour codage independant:\n${sources_neutres.slice(0, 2500)}${sources_v7_block}\n\nFormat obligatoire:\n{\n  \"wp_id\": \"${wp_id}\",\n  \"codeur\": \"CONV-B\",\n  \"date_codage\": \"${new Date().toISOString()}\",\n  \"variables_conv_b\": {\n    \"E_split\": {\"valeur\": 0.0, \"indicateur\": \"...\", \"source_utilisee\": \"...\", \"justification\": \"...\"},\n    \"gamma\":   {\"valeur\": 0.0, \"indicateur\": \"...\", \"source_utilisee\": \"...\", \"justification\": \"...\"},\n    \"A_d_eff\": {\"valeur\": 0.0, \"indicateur\": \"...\", \"source_utilisee\": \"...\", \"justification\": \"...\"},\n    \"A_r_c\":   {\"valeur\": 0.0, \"indicateur\": \"...\", \"source_utilisee\": \"...\", \"justification\": \"...\"},\n    \"A_r_ne\":  {\"valeur\": 0.0, \"indicateur\": \"...\", \"source_utilisee\": \"...\", \"justification\": \"...\"},\n    \"Cs\":      {\"valeur\": 0.0, \"indicateur\": \"...\", \"source_utilisee\": \"...\", \"justification\": \"...\"},\n    \"L_t\":     {\"valeur\": 0.0, \"indicateur\": \"...\", \"source_utilisee\": \"...\", \"justification\": \"...\"},\n    \"EROI\":    {\"valeur\": 0.0, \"indicateur\": \"...\", \"source_utilisee\": \"...\", \"justification\": \"...\"},\n    \"Sa\":      {\"valeur\": 0,   \"source_utilisee\": \"Todd (1990)\", \"justification\": \"...\"}\n  }${v7_format_block}\n}`;\n\nconst payload = JSON.stringify({\n  model: \"claude-sonnet-4-6\", max_tokens: 8000,\n  system: SYSTEM, messages: [{ role: \"user\", content: USER }]\n});\n\nconst conv_b_data = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: \"api.anthropic.com\", path: \"/v1/messages\", method: \"POST\",\n    headers: { \"Content-Type\": \"application/json\",\n      \"x-api-key\": ANTHROPIC_API_KEY, \"anthropic-version\": \"2023-06-01\" }\n  }, (res) => {\n    let body = \"\";\n    res.on(\"data\", c => body += c);\n    res.on(\"end\", () => {\n      try {\n        if (res.statusCode !== 200) { reject(new Error(`HTTP ${res.statusCode}: ${body.slice(0,200)}`)); return; }\n        const t = JSON.parse(body).content?.[0]?.text || \"{}\";\n        resolve(JSON.parse(t.replace(/```json|```/g,\"\").trim()));\n      } catch(e) { reject(new Error(`Parse CONV-B: ${e.message}`)); }\n    });\n  });\n  req.setTimeout(240000, () => { req.destroy(); reject(new Error(\"Timeout 240s\")); });\n  req.on(\"error\", reject);\n  req.write(payload); req.end();\n});\n\n// Sauvegarder fiche CONV-B — conversion variables_conv_b → variables\n// kappa_calculator.py attend le format standard {variables: {var: {valeur: x}}}\nconst fiche_b_path = `/tmp/${wp_id}_fiche_conv_b.json`;\nconst vars_conv_b_raw = conv_b_data.variables_conv_b || {};\nconst vars_v7_conv_b_raw = conv_b_data.variables_v7 || {};\n\n// Fusionner les 9 variables V6.2 + les 6 variables V7 (si fiche_v7)\n// dans un seul bloc \"variables\" — format attendu par kappa_calculator v3.0.0\nconst fiche_b_normalized = {\n  wp_id: conv_b_data.wp_id || wp_id,\n  codeur: \"CONV-B\",\n  date_codage: conv_b_data.date_codage || new Date().toISOString(),\n  variables: {\n    ...Object.fromEntries(\n      Object.entries(vars_conv_b_raw).map(([k, v]) => [\n        k, { valeur: (v && typeof v === \"object\") ? v.valeur : v }\n      ])\n    ),\n    ...(fiche_v7 ? Object.fromEntries(\n      Object.entries(vars_v7_conv_b_raw).map(([k, v]) => [\n        k, {\n          valeur: (v && typeof v === \"object\") ? v.valeur : v,\n          justification: (v && typeof v === \"object\") ? (v.justification || null) : null\n        }\n      ])\n    ) : {})\n  },\n  sa: conv_b_data.variables_conv_b?.Sa?.valeur ?? data.llm_context?.sa ?? null\n};\nfs.writeFileSync(fiche_b_path, JSON.stringify(fiche_b_normalized, null, 2));\n\n// Construire fiche CONV-E pour kappa_calculator\nconst fiche_e_data = {\n  wp_id, codeur: \"CONV-E\",\n  date_codage: new Date().toISOString(),\n  variables: Object.fromEntries(\n    Object.entries(fiche_input).map(([k, v]) => [\n      // mepa_full_vars contient des nombres bruts (pas des objets {valeur}) — gérer les deux cas\n      k, { valeur: (typeof v === \"object\" && v !== null)\n            ? (v.valeur ?? v.valeur_normative_v62 ?? null)\n            : (v ?? null) }\n    ])\n  ),\n  sa: data.llm_context?.sa ?? null\n};\n\n// Ajouter les variables V7 si présentes (mepa_v7_vars)\n// justification incluse pour psi_cible (règle E3 — null positif requiert défense textuelle)\nconst v7_vars_fiche = data.llm_context?.mepa_v7_vars || {};\nfor (const [k, v] of Object.entries(v7_vars_fiche)) {\n  fiche_e_data.variables[k] = {\n    valeur: (v && typeof v === \"object\") ? (v.valeur ?? null) : (v ?? null),\n    justification: (v && typeof v === \"object\") ? (v.justification || null) : null\n  };\n}\nconst fiche_e_path = `/tmp/${wp_id}_fiche_conv_e_kappa.json`;\nfs.writeFileSync(fiche_e_path, JSON.stringify(fiche_e_data, null, 2));\n\n// Lancer kappa calculator\nconst cci_path = `/tmp/${wp_id}_cci_result.json`;\nlet cci_result = null;\nlet cci_error  = null;\ntry {\n  execSync(`/usr/bin/python3 ${SCRIPTS}/mepa_kappa_calculator.py ${fiche_e_path} ${fiche_b_path} ${cci_path}`,\n    { encoding: \"utf8\", maxBuffer: 5*1024*1024 });\n  cci_result = JSON.parse(execSync(`cat ${cci_path}`, { encoding: \"utf8\" }));\n} catch(e) { cci_error = e.message; }\n\nconst cci_global  = cci_result?.cci ?? null;\nconst verdict_cci = cci_result?.verdict ?? \"NON_CALCULE\";\nconst desaccords  = (cci_result?.details || []).filter(d => d.accord === false);\nconst need_human  = desaccords.some(d =>\n  d.action === \"CONFRONTATION_OBLIGATOIRE\" || d.action === \"CONFRONTATION_SOURCES\");\n\n// Scores resolus automatiquement\nconst scores_resolus = {};\nfor (const d of cci_result?.resolution || []) {\n  if (d.action === \"MOYENNE\") scores_resolus[d.variable] = d.valeur_retenue;\n}\n\nreturn {\n  json: {\n    ...data,\n    conv_b_data, fiche_b_path, cci_result, cci_global, verdict_cci,\n    desaccords, scores_resolus, need_human_review: need_human, cci_error,\n    message: cci_error\n      ? `[ERREUR CCI] ${cci_error.slice(0,150)}`\n      : `CCI=${cci_global?.toFixed(3)} -- ${verdict_cci} -- humain requis: ${need_human ? \"OUI\" : \"NON\"}`\n  }\n};"
      }
    },
    {
      "id": "mepa-n8b-router-cci",
      "name": "Router CCI -- AUTO / WAIT_HUMAIN",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        760,
        340
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-cci-auto",
                    "leftValue": "={{ $json.need_human_review }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputDescription": "AUTO -- CCI OK, pas de desaccord humain requis"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-cci-wait",
                    "leftValue": "={{ $json.need_human_review }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputDescription": "WAIT -- desaccord CCI, intervention humaine requise"
            }
          ]
        }
      }
    },
    {
      "id": "mepa-n8c-wait-cci",
      "name": "Noeud 8c -- WAIT Validation CCI [Humain]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        540
      ],
      "parameters": {
        "jsCode": "// NOEUD 8c -- WAIT Validation CCI Humaine\n// Guide Survie : intervention humaine si desaccord > 2*seuil ou variable categorielle\n\"use strict\";\nconst data = $input.item.json;\nreturn {\n  json: {\n    ...data,\n    status: \"WAIT_CCI_VALIDATION\",\n    instructions_humain: (data.desaccords || []).map(d => ({\n      variable: d.variable, action: d.action,\n      val_conv_e: d.val_a, val_conv_b: d.val_b, detail: d.detail\n    })),\n    message: `[WAIT] ${(data.desaccords||[]).length} desaccord(s) CCI necessitent validation humaine avant simulation.`\n  }\n};"
      }
    },
    {
      "id": "mepa-n8d-inject",
      "name": "Noeud 8d -- Injection Valeurs Resolues [Post-CCI]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        340
      ],
      "parameters": {
        "jsCode": "// NOEUD 8d -- Injection Valeurs Resolues (post-CCI) dans runner_config\n// Protocole : runner tourne sur valeurs FINALES apres resolution inter-codeurs\n\"use strict\";\nconst data = $input.item.json;\n\nconst scores_resolus = data.scores_resolus || {};\nconst fiche_input    = data.llm_context?.mepa_full_vars || {};\n\n// Construire les commandes avec les valeurs resolues\n// Priorite : scores_resolus (post-CCI) > valeur fiche CONV-E\nconst cmd_base = { ...(data.llm_context?.cmd_brut || {}) };\n\n// Mapper variables MEPA -> commandes runner\nconst VAR_TO_CMD = {\n  'gamma':   'gamma',   // γ organisationnel → cmd.gamma\n  'A_r_c':   'Rc',      // répression classique → cmd.Rc\n  'A_r_ne':  'Rn',      // répression numérique → cmd.Rn\n  'E_split':  'E',      // fracture élite → cmd.E [CORRECTIF A3]\n  'Cs':      'Mob',     // crédibilité/mobilisation → cmd.Mob [CORRECTIF A3]\n  // A_d_eff → cmd.R : CONV-E code R directement dans commandes_mises_a_jour\n  // L_t → conditions_initiales.L0 : géré séparément ci-dessous\n};\n\n// Correction L0 depuis scores_resolus si L_t résolu post-CCI [CORRECTIF A3]\nif (scores_resolus['L_t'] !== undefined) {\n  let runner_cfg_l0 = {};\n  try { runner_cfg_l0 = JSON.parse(data.runner_config_json || \"{}\"); } catch(e) {}\n  if (!runner_cfg_l0.y0) runner_cfg_l0.y0 = [1.0, 0.3, 0.1, 4.0];\n  if (Array.isArray(runner_cfg_l0.y0)) {\n    runner_cfg_l0.y0[1] = scores_resolus['L_t']; // index 1 = L0\n  } else if (typeof runner_cfg_l0.y0 === 'object') {\n    runner_cfg_l0.y0['L'] = scores_resolus['L_t'];\n    runner_cfg_l0.y0['L0'] = scores_resolus['L_t'];\n  }\n}\n\nfor (const [var_name, cmd_key] of Object.entries(VAR_TO_CMD)) {\n  if (scores_resolus[var_name] !== undefined) {\n    cmd_base[cmd_key] = scores_resolus[var_name];\n  }\n}\n\n// Mettre a jour le runner_config_json avec les valeurs resolues\nlet runner_config = {};\ntry {\n  runner_config = JSON.parse(data.runner_config_json || \"{}\");\n} catch(e) {}\n\n// Appliquer les corrections de commandes\nif (Object.keys(cmd_base).length > 0) {\n  runner_config.cmd = { ...(runner_config.cmd || {}), ...cmd_base };\n}\n\n// Sauvegarder config mise a jour\nconst { execSync } = require(\"child_process\");\nconst fs = require(\"fs\");\nconst config_path = `/tmp/${data.wp_id}_runner_config.json`;\nconst config_json_updated = JSON.stringify(runner_config);\nfs.writeFileSync(config_path, config_json_updated);\n\nreturn {\n  json: {\n    ...data,\n    runner_config_json: config_json_updated,\n    runner_config_path: config_path,\n    valeurs_finales: {\n      ...Object.fromEntries(\n        Object.entries(fiche_input).map(([k, v]) => [\n          k, scores_resolus[k] ?? v.valeur ?? v.valeur_normative_v62 ?? null\n        ])\n      ),\n      ...scores_resolus\n    },\n    cci_global:   data.cci_global   ?? null,\n    cci_result:   data.cci_result   ?? null,\n    verdict_cci:  data.verdict_cci  ?? null,\n    message: `Valeurs resolues injectees -- ${Object.keys(scores_resolus).length} variables resolues par CCI`\n  }\n};"
      }
    },
    {
      "id": "mepa-np-passes",
      "name": "Nœud P — Générateur de Passes [LOI PHYSIQUE / CŒUR / STRESS]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        340
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================================\n// NŒUD P — Générateur de Passes [MODE BASELINE : 1 passe canonique]\n// ============================================================================\n// Mode : 1 passe unique (valeurs canoniques) sur tous les WP.\n// Objectif : baseline corpus 27 WP avant implémentation CV12.\n// Pour revenir au multipass (3/5/10 passes) : réimporter mepa_workflow_n8n_V62_multipass_FIXED.json\n// ============================================================================\n\"use strict\";\n\nconst data   = $input.item.json;\nconst wp_id  = data.wp_id || \"WP-INCONNU\";\nconst zone   = (data.zone_stratification || \"LOI PHYSIQUE\").toUpperCase();\n\n// ── 1 passe canonique fixe ──────────────────────────────────────────────────\nconst NB_PASSES = 1;\nconst passe = { num: 1, label: \"canonique\", zone, nb_passes: NB_PASSES, deltas_cmd: {}, deltas_y0: {} };\n\n// Construire la config runner pour cette passe unique\nconst base_config = JSON.parse(data.runner_config_json || \"{}\");\n\n// Appliquer le _passe au config (aucun delta — valeurs canoniques)\nbase_config._passe = passe;\n\nconst configPath = `/tmp/${wp_id}_sim_1_runner_config.json`;\nconst resultPath = `/tmp/${wp_id}_sim_1_result.json`;\nconst n1Path     = `/tmp/${wp_id}_sim_1_n1_sensitivity.json`;\n\nreturn [{\n  json: {\n    ...data,\n    _passe:             passe,\n    runner_config_json: JSON.stringify(base_config),\n    runner_config_path: configPath,\n    result_path:        resultPath,\n    n1_path:            n1Path,\n    pass_count:         NB_PASSES,\n    toutes_passes_terminees: true,\n    status:             \"PASSE_READY\"\n  }\n}];\n"
      },
      "notes": "Génère N configurations de simulation selon zone_stratification :\nLOI PHYSIQUE=3 passes | CŒUR DE MODÈLE=5 passes | ZONE DE STRESS=10 passes.\nChaque item porte num_passe/sim_label (_sim_1, _sim_2, ...) propagés dans tous les chemins /tmp/ et outputs/."
    },
    {
      "id": "mepa-n3-write-config",
      "name": "Nœud 3 — Write runner_config.json [/tmp/] [No-FS] [V2 Multi-passes]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        340
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// NŒUD 3 — Write Config File (No-FS via stdin)\n// Architecture No-FS : transmet runner_config_json via stdin au lieu d'écriture disque directe\n// Le runner Python reçoit le JSON sur stdin si aucun chemin fourni en arg\n\n\"use strict\";\nconst data = $input.item.json;\n\nif (data.statut_audit === \"DONNEES_INSUFFISANTES\") {\n  return { json: { ...data, status: \"NC_BLOQUANT\" } };\n}\n\nconst configJson = data.runner_config_json;\nif (!configJson) throw new Error(`[N3] runner_config_json absent — wp_id=${data.wp_id}`);\n\nconst MEPA_SCRIPTS_DIR = $env.MEPA_SCRIPTS_DIR || \"/data/mepa/scripts\";\nconst wp_id       = data.wp_id;\nconst configPath  = data.runner_config_path || `/tmp/${wp_id}_runner_config.json`;\nconst resultPath  = data.result_path        || `/tmp/${wp_id}_result.json`;\nconst n1Path      = data.n1_path            || `/tmp/${wp_id}_n1_sensitivity.json`;\n\n// No-FS : passer le JSON via echo | /usr/bin/python3 (heredoc shell — évite writeFileSync)\n// Le runner accepte le JSON sur stdin quand l'arg est \"-\"\n// Écriture fichier config (fs.writeFileSync — évite tout problème de quote shell)\nconst fs = require('fs');\nfs.writeFileSync(configPath, configJson, 'utf8');\nconst runner_cmd = `/usr/bin/python3 ${MEPA_SCRIPTS_DIR}/mepa_runner_v2_gamma.py ${configPath} ${resultPath}`;\nconst n1_cmd     = `/usr/bin/python3 ${MEPA_SCRIPTS_DIR}/mepa_sensitivity_n1.py ${configPath} ${n1Path}`;\n\nreturn {\n  json: {\n    status:             \"CONFIG_READY\",\n    statut_audit:       data.statut_audit,\n    wp_id,\n    runner_config_json: configJson,\n    runner_config_path: configPath,\n    result_path:        resultPath,\n    n1_path:            n1Path,\n    runner_cmd,\n    n1_cmd,\n    llm_context:        data.llm_context    || {},\n    audit_log:          data.audit_log      || {},\n    nc_non_bloquantes:  data.nc_non_bloquantes || [],\n    cci_global:         data.cci_global  ?? null,\n    cci_result:         data.cci_result  ?? null,\n    verdict_cci:        data.verdict_cci ?? null,\n    scores_resolus:     data.scores_resolus || {},\n    message:            `Config prête pour ${wp_id} — No-FS mode`\n  }\n};\n"
      },
      "notes": "V2 : chemins /tmp/ portent le suffixe _sim_N injecté par Nœud P.\nRétrocompatible V1 si num_passe absent."
    },
    {
      "id": "mepa-n4-runner",
      "name": "Nœud 4 — Execute Runner [No-FS] [V2 Multi-passes]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        140
      ],
      "parameters": {
        "jsCode": "// NŒUD 4 — Execute Runner (No-FS via execSync)\n\"use strict\";\nconst SCRIPTS = $env.MEPA_SCRIPTS_DIR || \"/data/mepa/scripts\";\nconst { execSync } = require(\"child_process\");\nconst data = $input.item.json;\nconst configPath = data.runner_config_path || `/tmp/${data.wp_id}_runner_config.json`;\nconst resultPath  = data.result_path        || `/tmp/${data.wp_id}_result.json`;\n\n// Nœud 3 a déjà écrit le fichier via fs.writeFileSync — rien à faire ici\n\nlet stdout = \"\", stderr = \"\", exitCode = 0;\ntry {\n  // ── Routage conditionnel V7 ──────────────────────────────────────────────\nconst runner_script = (data.fiche_v7 === true)\n  ? `${SCRIPTS}/mepa_runner_v3_v7.py`\n  : `${SCRIPTS}/mepa_runner_v2_gamma.py`;\nstdout = execSync(\n    `/usr/bin/python3 ${runner_script} ${configPath} ${resultPath}`,\n    { encoding: \"utf8\", maxBuffer: 10 * 1024 * 1024 }\n  );\n} catch (e) {\n  stdout = e.stdout || \"\";\n  stderr = e.stderr || \"\";\n  exitCode = e.status || 1;\n}\nreturn {\n  json: {\n    ...data,\n    stdout, stderr, exitCode,\n    wp_id:             data.wp_id,\n    result_path:       resultPath,\n    n1_path:           data.n1_path,\n    n1_cmd:            data.n1_cmd,\n    llm_context:       data.llm_context,\n    audit_log:         data.audit_log,\n    nc_non_bloquantes: data.nc_non_bloquantes || []\n  }\n};",
        "language": "javaScript"
      },
      "notes": "V2 : utilise runner_config_path avec suffixe _sim_N.\nPropague num_passe/sim_label en sortie."
    },
    {
      "id": "mepa-n4b-n1",
      "name": "Nœud 4b — Execute Sensibilité N1 [No-FS] [V2 Multi-passes]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        540
      ],
      "parameters": {
        "jsCode": "// NŒUD 4b — Execute Sensibilité N1 (No-FS via execSync)\n\"use strict\";\nconst SCRIPTS = $env.MEPA_SCRIPTS_DIR || \"/data/mepa/scripts\";\nconst { execSync } = require(\"child_process\");\nconst fs = require('fs');\nconst data = $input.item.json;\nconst configPath = data.runner_config_path || `/tmp/${data.wp_id}_runner_config.json`;\nconst n1Path     = data.n1_path            || `/tmp/${data.wp_id}_n1_sensitivity.json`;\n\n// Convertir y0 dict → liste [S0, L0, C0, I0] pour mepa_sensitivity_n1.py\nconst config = JSON.parse(data.runner_config_json);\nconst y0raw  = config.y0 || {};\nconfig.y0 = [\n  y0raw.S0 ?? y0raw.S ?? 1.0,\n  y0raw.L0 ?? y0raw.L ?? 0.5,\n  y0raw.C0 ?? y0raw.C ?? 0.1,\n  y0raw.I0 ?? y0raw.I ?? 3.5\n];\nconst configJsonFixed = JSON.stringify(config);\n\n// Écrire la config corrigée sur disque (fs.writeFileSync — évite tout problème de quote shell)\nfs.writeFileSync(configPath, configJsonFixed, 'utf8');\n\nlet stdout = \"\", stderr = \"\", exitCode = 0;\ntry {\n  stdout = execSync(\n    `/usr/bin/python3 ${SCRIPTS}/mepa_sensitivity_n1.py ${configPath} ${n1Path}`,\n    { encoding: \"utf8\", maxBuffer: 10 * 1024 * 1024 }\n  );\n} catch (e) {\n  stdout = e.stdout || \"\";\n  stderr = e.stderr || \"\";\n  exitCode = e.status || 1;\n}\nreturn {\n  json: {\n    ...data,\n    stdout, stderr, exitCode,\n    wp_id:             data.wp_id,\n    n1_path:           n1Path,\n    llm_context:       data.llm_context,\n    audit_log:         data.audit_log,\n    nc_non_bloquantes: data.nc_non_bloquantes || []\n  }\n};",
        "language": "javaScript"
      },
      "notes": "V2 : utilise les chemins _sim_N propagés par Nœud 3 V2."
    },
    {
      "id": "mepa-n5-parse",
      "name": "Nœud 5 — Parse Runner Result [_result.json] [No-FS]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        140
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "\"use strict\";\nconst { execSync } = require(\"child_process\");\nconst data    = $input.item.json;\nconst wp_id   = data.wp_id || \"WP-INCONNU\";\nconst resultPath = data.result_path || `/tmp/${wp_id}_result.json`;\nconst exitCode   = data.exitCode ?? 0;\nconst stderr     = data.stderr || \"\";\nif (exitCode !== 0) {\n  return {\n    json: {\n      status: \"RUNNER_ERROR\",\n      wp_id, exitCode, stderr,\n      result_path: resultPath,\n      message: `Runner erreur — exit=${exitCode}. stderr: ${stderr.slice(0,200)}`\n    }\n  };\n}\nlet resultData = null;\nlet parseError = null;\ntry {\n  const raw = execSync(`cat ${resultPath}`, { encoding: \"utf8\" });\n  resultData = JSON.parse(raw);\n} catch (e) {\n  parseError = e.message;\n}\nif (!resultData) {\n  return {\n    json: {\n      status: \"RUNNER_ERROR\",\n      wp_id, exitCode, stderr, parseError, resultPath,\n      message: `Lecture résultat échouée : ${parseError}`\n    }\n  };\n}\nconst sim  = resultData.simulation || {};\nconst vrd  = resultData.verdict    || {};\nconst meta = resultData.meta       || {};\nreturn {\n  json: {\n    status:            \"RUNNER_OK\",\n    wp_id,\n    result_path:       resultPath,\n    result_data:       resultData,\n    traj_diagn:        sim.traj,\n    t_bascule:         sim.t_bascule,\n    dC_rel:            sim.dC_rel,\n    dI_rel:            sim.dI_rel,\n    concordance:       vrd.concordance_attendue,\n    robustesse:        vrd.robustesse,\n    theta_C_effectif:  meta.theta_C_effectif,\n    theta_I_effectif:  meta.theta_I_effectif,\n    nc_non_bloquantes: meta.nc_non_bloquantes || [],\n    statut_nc:         meta.statut_nc || \"OK\",\n    llm_context:       data.llm_context || {},\n    n1_path:           data.n1_path,\n    n1_cmd:            data.n1_cmd,\n    audit_log:         data.audit_log || {},\n    cci_global:        data.cci_global  ?? null,\n    cci_result:        data.cci_result  ?? null,\n    verdict_cci:       data.verdict_cci ?? null,\n    scores_resolus:    data.scores_resolus || {}\n  }\n};"
      }
    },
    {
      "id": "mepa-n5b-parse-n1",
      "name": "Nœud 5b — Parse Sensibilité N1 [No-FS]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1720,
        540
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "\"use strict\";\nconst { execSync } = require(\"child_process\");\nconst data   = $input.item.json;\nconst wp_id  = data.wp_id;\nconst n1Path = data.n1_path || `/tmp/${wp_id}_n1_sensitivity.json`;\nlet rapport_n1 = null;\nlet n1Error    = null;\ntry {\n  const raw = execSync(`cat ${n1Path}`, { encoding: \"utf8\" });\n  rapport_n1 = JSON.parse(raw);\n} catch (e) {\n  n1Error = `Lecture N1 : ${e.message}`;\n}\nconst verdictN1     = rapport_n1?.resume?.verdict_n1 || \"NON_CALCULÉ\";\nconst varsSensibles = rapport_n1?.resume?.variables_sensibles_cmd || [];\nconst recommandation = rapport_n1?.recommandation_n2 || null;\nconst n1ResumeLlm = rapport_n1 ? {\n  verdict:             verdictN1,\n  variables_sensibles: varsSensibles,\n  top3_pivot:          recommandation?.variables_pivot?.slice(0,3) || [],\n  traj_baseline:       rapport_n1.traj_baseline,\n  note_s4:             verdictN1 === \"SENSIBLE\"\n    ? `Système sensible sur : ${varsSensibles.join(\", \")}. Documenter en S4 + S7.`\n    : \"Diagnostic robuste — stable sous perturbation ±20%.\"\n} : {\n  verdict:  \"NON_CALCULÉ\",\n  note_s4:  \"Rapport N1 non disponible.\",\n  erreur:   n1Error\n};\nreturn {\n  json: {\n    ...data,\n    rapport_n1,\n    verdict_n1:    verdictN1,\n    n1_resume_llm: n1ResumeLlm,\n    n1_error:      n1Error\n  }\n};"
      }
    },
    {
      "id": "mepa-n6-llm",
      "name": "Nœud 6 — Rédaction LLM CONV-A [Claude T=0] [No-FS]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        340
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// NŒUD 6 — Rédaction LLM CONV-A (No-FS)\n// Correctif A2 — 2026-03-16 : Merge déterministe depuis Nœud 5 (runner) + Nœud 5b (N1)\n// Supprime la race condition execSync(cat n1_path) précédente.\n// Appel API Anthropic — résultats en mémoire, pas d'écriture disque dans ce nœud.\n\n\"use strict\";\nconst https = require(\"https\");\n// ============================================================\n// LEVIER 4 — Filtrage payload : supprime séries temporelles brutes\n// Garde : stress_n2, stress_n1, diagnostics, verdict, params\n// Supprime : simulation.S, L, C, I (300 floats chacun)\n// ============================================================\nfunction filterResultData(rd) {\n  if (!rd) return rd;\n  const sim = rd.simulation || {};\n  const filtered_sim = Object.fromEntries(\n    Object.entries(sim).filter(([k]) => !['S','L','C','I'].includes(k))\n  );\n  return { ...rd, simulation: filtered_sim };\n}\n\nconst { execSync } = require(\"child_process\");\n\n// ── Merge deux branches : Nœud 5 (main) + Nœud 5b (sensibilité N1) ─────────\n// $input.all() retourne les items des deux branches du Merge n8n\nconst _items = $input.all();\n\n// Branche principale = celle qui contient result_data (runner) OU révision (compteur)\nconst _dataMain = _items.find(i => i.json.result_data != null)?.json\n               || _items[0]?.json\n               || {};\n\n// Branche N1 = celle qui contient rapport_n1 sans result_data\nconst _dataN1 = _items.find(i => i.json.rapport_n1 != null && i.json.result_data == null)?.json\n              || _items.find(i => i.json.rapport_n1 != null)?.json\n              || {};\n\n// Données fusionnées\nconst data = { ..._dataMain };\n\n// rapport_n1 : priorité branche 5b, fallback payload existant (cas révision)\nlet rapport_n1 = _dataN1.rapport_n1 || _dataMain.rapport_n1 || null;\nconst wp_id       = data.wp_id;\nconst ctx         = data.llm_context || {};\nconst _rd_raw     = data.result_data;\nconst _rd         = filterResultData(_rd_raw);\nconst sim         = _rd?.simulation || {};\nconst vrd         = _rd?.verdict    || {};\nconst n1          = data.n1_resume_llm           || {};\nconst ncWarnings  = data.nc_non_bloquantes       || [];\n\n// Préparer les données stress-tests pour le prompt\nconst stress_n1 = _rd?.stress_n1 || {};\nconst stress_n2 = _rd?.stress_n2 || [];\nconst stress_n2_str = stress_n2.length > 0\n  ? \"Calculé par le runner Python (8 combinaisons) :\\n\" + stress_n2.map(s => `  - ${s.label}: ${s.traj}`).join(\"\\n\")\n  : \"Non calculé\";\nconst tableau_s2 = sim?.tableau_S2 || [];\nconst tableau_s2_str = tableau_s2.length > 0\n  ? tableau_s2.map(r => `t=${r.t}: F=${r.F?.toFixed(4)||\"?\"} R=${r.R?.toFixed(4)||\"?\"} FR=${r.FR?.toFixed(4)||\"?\"}`).join(\"\\n\")\n  : \"Non disponible\";\n\n// ── Prompt système V4-alpha (lu depuis disque) ────────────────────────────────\nconst fs_prompt = require('fs');\nconst SYSTEM_V4 = (() => {\n  try {\n    return fs_prompt.readFileSync(\n      `${$env.MEPA_SCRIPTS_DIR || '/data/mepa/scripts'}/prompt_projet_MEPA_V4_alpha.md`,\n      'utf8'\n    );\n  } catch(e) {\n    // Fallback : system prompt V6.2 minimal si fichier absent\n    return \"Tu es CONV-A, le Rédacteur scientifique du projet MEPA. Tu produis des rapports WP rigoureux en 7 sections S1-S7. Tu ne lisses jamais les divergences de trajectoire.\";\n  }\n})();\n\n// ── Contexte V7 conditionnel ────────────────────────────────────────────────\nconst fiche_v7    = data.fiche_v7 === true || data.llm_context?.fiche_v7 === true;\nconst v7_vars_ctx = data.llm_context?.mepa_v7_vars || null;\nconst v7_block    = (fiche_v7 && v7_vars_ctx) ? `\nVARIABLES V7 (codées sur sources — règles V4-alpha) :\n${JSON.stringify(v7_vars_ctx, null, 2)}\n\nRÈGLES V7 SUPPLÉMENTAIRES (en plus des règles V6.2) :\n- Appliquer la règle de bascule V4-alpha : Partie 1bis V7 active\n- Si traj_diagn ≠ traj_attendue sur cas pilote V7-γ : rédiger §S3bis et §S3ter obligatoires\n- Reproduire le précheck V7 (conditions C1-C5) en S1\n- Annoter la branche EXPLICATIVE/CATCHALL en S3\n` : '';\n\nconst prompt_conva = `Tu es CONV-A (Rédacteur MEPA V6.2/V7 Fortifiée).\nRédige le rapport complet S1→S7 pour le WP suivant.\n\nIDENTITÉ WP :\n- WP-ID : ${wp_id}\n- Cas : ${ctx.cas || \"?\"}\n- Période : ${ctx.periode || \"?\"}\n- Cluster : ${ctx.cluster || \"?\"}\n- Sa : ${ctx.sa || \"?\"}\n- Trajectoire attendue : ${ctx.trajectoire_attendue || \"?\"}\n\nVARIABLES MEPA (codées par CONV-E) :\n${JSON.stringify(ctx.mepa_full_vars || {}, null, 2)}\n\nRÉSULTATS SIMULATION EXACTS (${fiche_v7 ? 'mepa_runner_v3_v7 v3.0' : 'mepa_runner_v2_gamma v2.1'}) :\n⚠ UTILISE UNIQUEMENT CES VALEURS — NE PAS INVENTER DE CHIFFRES\n- Trajectoire diagnostiquée : ${sim.traj || \"?\"}\n- t_bascule : ${sim.t_bascule ?? \"null — aucune bascule F>R détectée\"}\n- ΔC_rel : ${sim.dC_rel ?? \"null\"} | ΔI_rel : ${sim.dI_rel ?? \"null\"}\n- FR_max : ${sim.FR_max ?? \"?\"} | FR_final : ${sim.FR_final ?? \"?\"}\n- C_max : ${sim.C_max ?? \"?\"} | C_final : ${sim.C_final ?? \"?\"}\n- S_final : ${sim.S_final ?? \"?\"} | L_final : ${sim.L_final ?? \"?\"}\n- Robustesse N1 : ${vrd.robustesse || \"?\"} — Trajs N1 : ${JSON.stringify(vrd.trajs_set_n1 || [])}\n- Concordance : ${vrd.concordance_attendue ? \"OUI\" : \"NON\"}\n- Stress N1 optimiste : ${stress_n1.optimiste?.traj || \"?\"} | pessimiste : ${stress_n1.pessimiste?.traj || \"?\"}\n- Stress N2 (8 combinaisons) :\n${stress_n2_str}\n- Sensibilité N1 : ${n1.verdict || \"NON_CALCULÉ\"} — ${n1.note_s4 || \"\"}\n${ncWarnings.length > 0 ? `\\nVARIABLES NC NON-BLOQUANTES : ${ncWarnings.join(\", \")}\\nAppliquer le Silence Socratique V6.2.` : \"\"}\n\nTABLEAU F(t)/R(t) EXACT DU RUNNER (à reproduire tel quel en S2) :\n${tableau_s2_str}\n\nRÈGLES RÉDACTION V6.2 — OBLIGATOIRES :\n1. γ s'écrit avec le symbole Unicode γ (U+03B3). Jamais \"g\", jamais \"gamma\".\n2. S2 OBLIGATOIRE : reproduire le tableau F(t)/R(t) ci-dessus avec les valeurs EXACTES.\n   Mentionner explicitement FR_max=${sim.FR_max ?? \"?\"} dans le corps du texte.\n3. VALEURS NULL : si t_bascule/dC_rel/dI_rel sont null, l'écrire explicitement dans S2\n   avec explication : \"aucune bascule F>R détectée — F reste inférieur à R sur toute la simulation\".\n4. DISCORDANCE (règle anti-narrative-smoothing §4.3 Manuel Gouvernance) :\n   Si trajectoire diagnostiquée ≠ attendue, écrire en S2 EXACTEMENT ce format :\n   \"Divergence documentée — la simulation produit (X) au lieu de (Y) attendue.\n   [Condition technique non atteinte : ex. F reste < R sur toute la simulation, t_bascule=null].\n   Potentielle zone de réfutation [RF1: EROI<5 sans techno / RF2: absence (a)/(d) malgré E_split>0.7 / RF3: complexité croissante avec EROI déclinant] si confirmée sur d'autres cas.\"\n   \n   INTERDIT (narrative smoothing) :\n   - Toute phrase du type \"ce résultat est cohérent avec [événement historique]\"\n   - Toute justification a posteriori de la divergence par l'histoire\n   - Toute phrase critiquant le modèle (\"incapacité du runner\", \"limite du modèle\")\n   - Tout effort pour \"expliquer\" pourquoi la simulation a raison malgré la divergence\n   \n   AUTORISÉ en S6/S7 uniquement (pas en S2) :\n   - Discussion des implications théoriques de la divergence pour MEPA\n   - Hypothèses sur les paramètres qui pourraient capturer la trajectoire attendue\n5. S4 OBLIGATOIRE : intégrer les résultats stress-tests N1 et N2 avec leurs trajectoires.\n   Pour N2, REPRODUIRE OBLIGATOIREMENT le tableau complet des 8 combinaisons ci-dessous,\n   avec la trajectoire pour chacune. Si stress_n2_str = \"Non calculé\", l'indiquer explicitement.\n   Format obligatoire en S4 :\n   \"Stress N2 (8 combinaisons) :\n   [liste des 8 combinaisons avec trajectoires depuis les données runner]\"\n   Conclure sur la robustesse globale N1+N2.\n6. S7 : synthèse comparative avec le corpus MEPA (cluster ${ctx.cluster || \"?\"}).\n7. Format : Markdown structuré, titres ## S1 à ## S7.\n\n${v7_block}ALERTES : ${JSON.stringify(ctx.alertes || [])}\nDÉFI MEPA : ${ctx.defi_mepa || \"Non renseigné\"}\n\nRédige maintenant le rapport complet.`;\n\nconst apiKey  = $env.ANTHROPIC_API_KEY;\nconst payload = JSON.stringify({\n  model: \"claude-sonnet-4-6\",\n  max_tokens: 4000,\n  temperature: 0,\n  system: [{ type: \"text\", text: SYSTEM_V4, cache_control: { type: \"ephemeral\" } }],\n  messages: [{ role: \"user\", content: prompt_conva }]\n});\n\nconst options = {\n  hostname: \"api.anthropic.com\",\n  path: \"/v1/messages\",\n  method: \"POST\",\n  headers: {\n    \"Content-Type\": \"application/json\",\n    \"x-api-key\": apiKey,\n    \"anthropic-version\": \"2023-06-01\",\n    \"anthropic-beta\": \"prompt-caching-2024-07-31\",\n    \"Content-Length\": Buffer.byteLength(payload)\n  }\n};\n\nconst rapport_md = await new Promise((resolve, reject) => {\n  const req = https.request(options, (res) => {\n    let body = \"\";\n    res.on(\"data\", chunk => body += chunk);\n    res.on(\"end\", () => {\n      try {\n        if (res.statusCode !== 200) {\n          reject(new Error(`API HTTP ${res.statusCode} : ${body.slice(0,300)}`));\n          return;\n        }\n        const parsed = JSON.parse(body);\n        const text = parsed.content?.find(b => b.type === \"text\")?.text || \"\";\n        if (!text) reject(new Error(`API réponse vide — body: ${body.slice(0,200)}`));\n        else resolve(text);\n      } catch (e) { reject(new Error(`Parse API : ${e.message} | body: ${body.slice(0,200)}`)); }\n    });\n  });\n  req.setTimeout(180000, () => { req.destroy(); reject(new Error(\"Timeout 180s CONV-A\")); });\n  req.on(\"error\", reject);\n  req.write(payload);\n  req.end();\n});\n\n// Génération du passeport après rédaction LLM\nconst MEPA_SCRIPTS = $env.MEPA_SCRIPTS_DIR || \"/data/mepa/scripts\";\n\nlet passeportData = null;\nlet passeportError = null;\nlet statut_global = \"INCOMPLET\";\n\ntry {\n  const passeportPath = `/tmp/${wp_id}_passeport.json`;\n  execSync(\n    `/usr/bin/python3 ${MEPA_SCRIPTS}/mepa_passeport_schema.py ${data.result_path} SKIP SKIP ${passeportPath}`,\n    { encoding: \"utf8\" }\n  );\n  const raw = execSync(`cat ${passeportPath}`, { encoding: \"utf8\" });\n  passeportData = JSON.parse(raw.trim());\n  statut_global = passeportData?.statut_global?.code || \"INCOMPLET\";\n} catch (e) {\n  passeportError = e.message;\n  passeportData = {\n    \"$schema\":      \"mepa-passeport-v2.0-fallback\",\n    \"generated_at\": new Date().toISOString(),\n    \"identite\":     { wp_id, cluster: data.result_data?.meta?.cluster || \"?\" },\n    \"certification\":{ cci: null, verdict_cci: \"NON_CALCULÉ\", statut_nc: data.statut_nc || \"OK\" },\n    \"simulation\":   { traj: data.traj_diagn, robustesse: data.robustesse, concordance: data.concordance },\n    \"statut_global\":{ code: \"INCOMPLET\", label: \"Passeport partiel (erreur script)\" },\n    \"erreur_generation\": passeportError\n  };\n}\n\nreturn {\n  json: {\n    status:            \"RAPPORT_RÉDIGÉ\",\n    wp_id,\n    rapport_md,\n    result_data:       data.result_data,\n    audit_log:         data.audit_log,\n    traj_diagn:        data.traj_diagn,\n    concordance:       data.concordance,\n    robustesse:        data.robustesse,\n    rapport_n1:        rapport_n1,\n    nc_non_bloquantes: ncWarnings,\n    statut_nc:         data.statut_nc,\n    llm_context:       ctx,\n    result_path:       data.result_path,\n    n1_path:           data.n1_path,\n    passeport:         passeportData,\n    passeport_error:   passeportError,\n    kappa:             passeportData?.certification?.cci || null,\n    cci_global:        data.cci_global ?? null,\n    cci_result:        data.cci_result ?? null,\n    verdict_cci:       data.verdict_cci ?? null,\n    scores_resolus:    data.scores_resolus || {},\n    statut_global,\n    message: `Rapport rédigé (${rapport_md.length} chars)${passeportError ? \" | [WARN] passeport partiel\" : \" | passeport généré\"}`\n  }\n};\n"
      },
      "notes": "Appel API Anthropic — modèle claude-sonnet-4-6, T=0.\nPrérequis : variable d'env ANTHROPIC_API_KEY dans n8n.\nGénère le rapport S1→S7 en Markdown et l'écrit dans /data/mepa/outputs/."
    },
    {
      "id": "mepa-n7-export",
      "name": "Nœud 7 — Export & Archivage [/data/mepa/outputs/] [No-FS]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        340
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// NŒUD 7 — Export & Archivage (No-FS)\n\"use strict\";\nconst { execSync } = require(\"child_process\");\n\n// Une seule entrée depuis N6 (rapport_md + passeport + rapport_n1 + result_data)\nconst data = $input.item.json;\n\nconst wp_id   = data.wp_id;\nconst BASE    = $env.MEPA_OUTPUT_DIR || \"/data/mepa/outputs\";\nconst cluster = (data.result_data?.meta?.cluster || \"CX\").replace(/[^A-Z0-9]/g, \"\");\n\nconst dirs = {\n  results:     `${BASE}/cluster_${cluster}/results`,\n  passeports:  `${BASE}/passeports`,\n  sensitivity: `${BASE}/sensitivity`,\n  rapports:    `${BASE}/cluster_${cluster}/rapports`,\n};\n\nexecSync(`mkdir -p ${Object.values(dirs).join(\" \")}`);\n\nconst archived = {};\n\n// Écriture via fs.writeFileSync (autorisé via NODE_FUNCTION_ALLOW_BUILTIN=fs)\nfunction writeText(path, content) {\n  require(\"fs\").writeFileSync(path, content, \"utf8\");\n}\n\nif (data.result_data) {\n  const dst = `${dirs.results}/${wp_id}_result.json`;\n  writeText(dst, JSON.stringify(data.result_data, null, 2));\n  archived.result = dst;\n}\n\nif (data.rapport_n1) {\n  const dst = `${dirs.sensitivity}/${wp_id}_n1.json`;\n  writeText(dst, JSON.stringify(data.rapport_n1, null, 2));\n  archived.rapport_n1 = dst;\n}\n\nif (data.passeport) {\n  const dst = `${dirs.passeports}/${wp_id}_passeport.json`;\n  writeText(dst, JSON.stringify(data.passeport, null, 2));\n  archived.passeport = dst;\n}\n\nif (data.rapport_md) {\n  const dst = `${dirs.rapports}/${wp_id}_rapport.md`;\n  writeText(dst, data.rapport_md);\n  archived.rapport_md = dst;\n}\n\nconst transit_conv_d = {\n  wp_id, cluster,\n  traj_diagn:        data.traj_diagn,\n  robustesse:        data.robustesse,\n  concordance:       data.concordance,\n  cci:               data.passeport?.certification?.cci || null,\n  statut_nc:         data.statut_nc || \"OK\",\n  nc_non_bloquantes: data.nc_non_bloquantes || [],\n  verdict_audit:     data.audit_log?.statut || null,\n  archived\n};\n\nreturn {\n  json: {\n    status:          \"ARCHIVED\",\n    wp_id,\n    archived,\n    transit_conv_d,\n    statut_global:   data.statut_global || \"INCOMPLET\",\n    message:         `[WF1 COMPLET] ${wp_id} — archivé dans ${BASE}/cluster_${cluster}/`,\n    result_download: archived.result     || null,\n    rapport_md_path: archived.rapport_md || null,\n    passeport_path:  archived.passeport  || null,\n    // Transmettre le contenu pour CONV-B audit (Nœud 6b) [CORRECTIF]\n    rapport_md:      data.rapport_md     || \"\",\n    result_data:     data.result_data    || {},\n    audit_log:       data.audit_log      || {},\n    traj_diagn:      data.traj_diagn,\n    concordance:     data.concordance,\n    robustesse:      data.robustesse,\n    rapport_n1:      data.rapport_n1     || null,\n    nc_non_bloquantes: data.nc_non_bloquantes || [],\n    statut_nc:       data.statut_nc      || \"OK\",\n    llm_context:     data.llm_context    || {},\n    n1_path:         data.n1_path,\n    kappa:           data.kappa,\n    passeport:       data.passeport      || null,\n    cci_global:      data.cci_global     || null,\n    scores_resolus:  data.scores_resolus || {},\n    verdict_conv_b:  data.verdict_conv_b || null,\n  }\n};"
      },
      "notes": "V2 Multi-passes : file_prefix = wp_id_sim_N (ou wp_id si V1).\nTous les fichiers outputs/ portent le suffixe sim_N."
    },
    {
      "id": "mepa-n6b-audit",
      "name": "Noeud 6b -- CONV-B Audit Final C1-C5 [Post-Redaction]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        340
      ],
      "parameters": {
        "jsCode": "// NOEUD 6b-AUDIT -- CONV-B Audit Final C1-C5 (POST-REDACTION)\n// Guide Survie Etape 5 : CONV-B verifie le WP redige par CONV-A\n// Distinct du codage CCI (deja fait en N8a)\n\"use strict\";\nconst https = require(\"https\");\nconst data   = $input.item.json;\nconst wp_id  = data.wp_id;\nconst ANTHROPIC_API_KEY = $env.ANTHROPIC_API_KEY;\n\nconst rapport_md    = data.rapport_md   || \"\";\nconst result_data   = data.result_data  || {};\nconst sim           = result_data.simulation || {};\nconst stress_n2_audit = (result_data.stress_n2 || []).length > 0\n  ? (result_data.stress_n2 || []).map(s => `  - ${s.label}: ${s.traj}`).join(\"\\n\")\n  : \"Non calculé\";\nconst traj_attendue = result_data.meta?.trajectoire_attendue || \"?\";\n\nconst SYSTEM = `Tu es CONV-B, l'Auditeur Scientifique MEPA V6.2.\nTu audites le WP redige par CONV-A. Checklist obligatoire C1-C5.\n\n[C1] CONFORMITE NUMERIQUE : t_b, dC_rel, dI_rel, FR_max dans le texte \n     correspondent exactement aux valeurs du _result.json ?\n[C2] NOMENCLATURE : aucun \"g\" isole, \"gamma\"->JSON uniquement, γ(U+03B3)->texte redactionnel, labels D4 exacts ?\n[C3] COHERENCE CONV-E : le WP utilise les valeurs codées par CONV-E (mepa_full_vars) ?\n     Vérifier cohérence entre valeurs citées dans le rapport et variables_codees CONV-E.\n     NOTE : CCI=null est normal si CONV-B CCI ne s'est pas déclenché — ne pas pénaliser.\n[C4] NARRATIVE SMOOTHING (§4.3 Manuel Gouvernance) :\n     La divergence traj_diagn != attendue est-elle documentée selon le format §4.3 ?\n     Format CORRECT : \"Divergence documentée — simulation produit (X) au lieu de (Y).\n       [Condition technique : F<R toute simulation / t_bascule=null / etc.].\n       Potentielle zone de réfutation.\"\n     SMOOTHING DÉTECTÉ si : justification a posteriori par l'histoire\n       (\"ce résultat est cohérent avec [fait historique]\") OU\n       phrase expliquant POURQUOI la simulation a raison malgré la divergence.\n     NOTE : l'explication historique est AUTORISÉE en S6/S7 — pas en S2.\n[C5] COHERENCE STRESS-TESTS (référence : _result.json champs stress_n1 et stress_n2) :\n     - Les trajectoires stress N1 (optimiste/pessimiste) dans S4 correspondent aux valeurs\n       de stress_n1 dans _result.json ?\n     - Les 8 combinaisons stress N2 documentées dans S4 correspondent aux valeurs\n       de stress_n2 dans _result.json (données runner Python ci-dessous) ?\n     - Le verdict ROBUSTE/METASTABLE dans S4 est cohérent avec verdict.robustesse ?\n     NOTE PROTOCOLE : la source de référence pour C5 est _result.json (runner Python),\n     pas le Nœud 12 du pipeline. Les stress N2 runner sont fournis ci-dessous.\n     C5 = ANOMALIE si les trajectoires citées dans S4 divergent des valeurs runner,\n     ou si S4 omet totalement de documenter les stress-tests disponibles.\n\nVERDICT : CERTIFIE / REVISION_MINEURE / REVISION_MAJEURE / REJET\nCERTIFIE = 5/5 ou anomalies mineures non bloquantes\nREVISION_MINEURE = 1-2 anomalies C1/C2/C5 corrigeables sans re-simulation\nREVISION_MAJEURE = anomalie C4 (narrative smoothing) OU anomalie C1 valeur cle\nREJET = anomalie C1 trajectoire OU 3+ anomalies OU CCI<0.50\n\nReponds UNIQUEMENT en JSON pur sans markdown.`;\n\nconst USER = `WP: ${wp_id}\nTrajectoire attendue : ${traj_attendue}\nTrajectoire simulee : ${sim.traj || \"?\"}\nFR_max : ${sim.FR_max || \"?\"} | t_bascule : ${sim.t_bascule ?? \"null\"}\ndC_rel : ${sim.dC_rel ?? \"null\"} | dI_rel : ${sim.dI_rel ?? \"null\"}\n\nSTRESS-TESTS N2 (depuis runner — référence pour contrôle C5) :\n${stress_n2_audit}\n\nRAPPORT CONV-A (extrait):\n${rapport_md}\n\nFormat:\n{\n  \"wp_id\": \"${wp_id}\",\n  \"audit_c1_c5\": {\n    \"C1\": {\"statut\": \"OK|ANOMALIE\", \"anomalies\": [], \"detail\": \"...\"},\n    \"C2\": {\"statut\": \"OK|ANOMALIE\", \"anomalies\": [], \"detail\": \"...\"},\n    \"C3\": {\"statut\": \"OK|ANOMALIE\", \"anomalies\": [], \"detail\": \"...\"},\n    \"C4\": {\"statut\": \"OK|ANOMALIE\", \"anomalies\": [], \"detail\": \"...\"},\n    \"C5\": {\"statut\": \"OK|ANOMALIE\", \"anomalies\": [], \"detail\": \"...\"}\n  },\n  \"score_checklist\": 0,\n  \"verdict\": \"CERTIFIE|REVISION_MINEURE|REVISION_MAJEURE|REJET\",\n  \"instructions_revision\": [],\n  \"anomalies\": []\n}`;\n\nconst payload = JSON.stringify({\n  model: \"claude-sonnet-4-6\", max_tokens: 4000,\n  system: [{ type: \"text\", text: SYSTEM, cache_control: { type: \"ephemeral\" } }], messages: [{ role: \"user\", content: USER }]\n});\n\nlet audit_result = null;\nlet audit_error  = null;\ntry {\n  audit_result = await new Promise((resolve, reject) => {\n    const req = https.request({\n      hostname: \"api.anthropic.com\", path: \"/v1/messages\", method: \"POST\",\n      headers: { \"Content-Type\": \"application/json\",\n        \"x-api-key\": ANTHROPIC_API_KEY,\n        \"anthropic-version\": \"2023-06-01\",\n        \"anthropic-beta\": \"prompt-caching-2024-07-31\" }\n    }, (res) => {\n      let body = \"\";\n      res.on(\"data\", c => body += c);\n      res.on(\"end\", () => {\n      try {\n        if (res.statusCode !== 200) { reject(new Error(`HTTP ${res.statusCode}: ${body.slice(0,200)}`)); return; }\n          const t = JSON.parse(body).content?.[0]?.text || \"{}\";\n          resolve(JSON.parse(t.replace(/```json|```/g,\"\").trim()));\n        } catch(e) { reject(e); }\n      });\n    });\n    req.setTimeout(90000, () => { req.destroy(); reject(new Error(\"Timeout 90s\")); });\n  req.on(\"error\", reject);\n    req.write(payload); req.end();\n  });\n} catch(e) { audit_error = e.message; }\n\nconst verdict = audit_result?.verdict || \"NON_CALCULE\";\nconst need_revision = verdict === \"REVISION_MINEURE\" || verdict === \"REVISION_MAJEURE\";\n\nreturn {\n  json: {\n    ...data,\n    audit_conv_b: audit_result,\n    verdict_conv_b: verdict,\n    score_checklist: audit_result?.score_checklist || 0,\n    anomalies_conv_b: audit_result?.anomalies || [],\n    instructions_revision: audit_result?.instructions_revision || [],\n    need_revision,\n    audit_error,\n    message: `CONV-B audit: ${verdict} -- ${audit_result?.score_checklist || \"?\"}/5`\n  }\n};"
      }
    },
    {
      "id": "mepa-n_revision_router",
      "name": "Router Revision -- CERTIFIE / REVISION / REJET",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        2680,
        340
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-certifie",
                    "leftValue": "={{ $json.verdict_conv_b }}",
                    "rightValue": "CERTIFIE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputDescription": "CERTIFIE -- vers Stress-test N2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-revision-mineure",
                    "leftValue": "={{ $json.verdict_conv_b }}",
                    "rightValue": "REVISION_MINEURE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputDescription": "REVISION_MINEURE -- retour CONV-A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-revision-majeure",
                    "leftValue": "={{ $json.verdict_conv_b }}",
                    "rightValue": "REVISION_MAJEURE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "1",
              "renameOutput": true,
              "outputDescription": "REVISION_MAJEURE -- retour CONV-A"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-non-calcule",
                    "leftValue": "={{ $json.verdict_conv_b }}",
                    "rightValue": "NON_CALCULE",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "0",
              "renameOutput": true,
              "outputDescription": "NON_CALCULE -- fallback vers Stress-test N2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "id": "cond-rejet",
                    "leftValue": "={{ $json.verdict_conv_b }}",
                    "rightValue": "REJET",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "outputKey": "2",
              "renameOutput": true,
              "outputDescription": "REJET -- alerte suspension WP"
            }
          ]
        },
        "fallbackOutput": 0
      }
    },
    {
      "id": "mepa-n_alerte_rejet",
      "name": "Alerte REJET CONV-B -- Suspension WP",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2920,
        540
      ],
      "parameters": {
        "jsCode": "// NOEUD -- Alerte REJET CONV-B\n\"use strict\";\nconst data = $input.item.json;\nreturn {\n  json: {\n    ...data,\n    status: \"REJET_CONV_B\",\n    message: `[REJET] ${data.wp_id} -- CONV-B verdict=${data.verdict_conv_b}. Anomalies: ${(data.anomalies_conv_b||[]).join(\", \")}`\n  }\n};"
      }
    },
    {
      "id": "mepa-n12-n2",
      "name": "Noeud 12 -- Stress-test N2 [Combinaisons Critiques]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2920,
        340
      ],
      "parameters": {
        "jsCode": "// NOEUD 12 -- Stress-test N2 (Combinaisons critiques)\n// Protocole S3 Niveau 2 : optimiste + pessimiste sur variables sensibles N1\n\"use strict\";\nconst { execSync } = require(\"child_process\");\nconst fs = require(\"fs\");\n\nconst data    = $input.item.json;\nconst wp_id   = data.wp_id;\nconst SCRIPTS = $env.MEPA_SCRIPTS_DIR || \"/data/mepa/scripts\";\n\nlet config_base = {};\ntry {\n  config_base = JSON.parse(fs.readFileSync(`/tmp/${wp_id}_runner_config.json`, \"utf8\"));\n} catch(e) {\n  return { json: { ...data, stress_n2: { erreur: \"config non disponible\" }, robustesse_n2: \"NON_CALCULE\" } };\n}\n\nfunction perturber(base, direction) {\n  const cfg = JSON.parse(JSON.stringify(base));\n  const d   = direction === \"optimiste\" ? 1 : -1;\n  // Perturbations standard S3 Niveau 2\n  if (cfg.cmd?.Rc  !== undefined) cfg.cmd.Rc  = Math.max(0, Math.min(1, (cfg.cmd.Rc  || 0.5) - d * 0.10));\n  if (cfg.cmd?.E   !== undefined) cfg.cmd.E   = Math.max(0, Math.min(1, (cfg.cmd.E   || 0.5) - d * 0.10));\n  if (cfg.cmd?.Rn  !== undefined) cfg.cmd.Rn  = Math.max(0, Math.min(1, (cfg.cmd.Rn  || 0)   - d * 0.10));\n  return cfg;\n}\n\nconst resultats_n2 = {};\nfor (const scenario of [\"optimiste\", \"pessimiste\"]) {\n  const cfg      = perturber(config_base, scenario);\n  const cfg_path = `/tmp/${wp_id}_n2_${scenario}.json`;\n  const res_path = `/tmp/${wp_id}_n2_${scenario}_result.json`;\n  // Forcer result path dans config\n  cfg.result_path = res_path;\n  fs.writeFileSync(cfg_path, JSON.stringify(cfg, null, 2));\n  let traj_n2 = null;\n  try {\n    execSync(`/usr/bin/python3 ${SCRIPTS}/mepa_runner_v2_gamma.py ${cfg_path}`,\n      { encoding: \"utf8\", timeout: 60000 });\n    const raw = execSync(`cat ${res_path}`, { encoding: \"utf8\" });\n    traj_n2 = JSON.parse(raw).simulation?.traj || \"?\";\n  } catch(e) { traj_n2 = `ERREUR: ${e.message.slice(0,80)}`; }\n  resultats_n2[scenario] = traj_n2;\n}\n\nconst traj_base    = data.traj_diagn;\nconst bif = Object.values(resultats_n2).filter(t => t && t !== traj_base && !t.startsWith(\"ERREUR\"));\nconst robustesse_n2 = bif.length === 2 ? \"FRAGILE\" : bif.length === 1 ? \"METASTABLE\" : \"ROBUSTE\";\n\nreturn {\n  json: {\n    ...data,\n    stress_n2: { traj_base, ...resultats_n2, robustesse_n2, bifurcations: bif },\n    robustesse_n2,\n    message: `N2: ${robustesse_n2} -- opt=${resultats_n2.optimiste} pes=${resultats_n2.pessimiste}`\n  }\n};"
      },
      "notes": "V2 Multi-passes : lit runner_config_path (avec _sim_N_) depuis data.\nFichiers /tmp/ N2 portent le suffixe sim_N pour isolation entre passes."
    },
    {
      "id": "mepa-n13-popper",
      "name": "Noeud 13 -- Prediction Popper [RF1/RF2/RF3]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3160,
        340
      ],
      "parameters": {
        "jsCode": "// NOEUD 13 -- Prediction Popper RF1/RF2/RF3\n// Protocole S3 Niveau 3 + S4 : condition d'observation + horizon temporel date\n\"use strict\";\nconst https = require(\"https\");\n\nconst data   = $input.item.json;\nconst wp_id  = data.wp_id;\nconst ANTHROPIC_API_KEY = $env.ANTHROPIC_API_KEY;\nconst meta   = data.result_data?.meta || {};\nconst sim    = data.result_data?.simulation || {};\n\nconst SYSTEM = `Tu identifies la prediction falsifiable MEPA V6.2 applicable.\nRF1: maintien paix sociale >15 ans malgre EROI<5 sans techno -- Fenetre 2025-2040\nRF2: absence traj (a)/(d) >20 ans malgre E_split>0.7+gamma>0.5 -- Fenetre 20 ans\nRF3: complexite croissante >30 ans avec EROI declinant -- Fenetre 2025-2055\nReponds UNIQUEMENT en JSON pur sans markdown.`;\n\nconst USER = `WP:${wp_id} | Cas:${meta.cas||\"\"} | Cluster:${data.result_data?.meta?.cluster||\"\"} | Traj:${sim.traj||\"\"} | EROI:${data.result_data?.cmd_base?.EROI||\"\"} | N1:${data.robustesse||\"\"} | N2:${data.result_data?.verdict?.robustesse||\"\"} | E_split:${data.llm_context?.mepa_full_vars?.E_split?.valeur??\"\"} | gamma:${data.llm_context?.mepa_full_vars?.gamma?.valeur??\"\"}\nFormat: {\"prediction_applicable\":\"RF1|RF2|RF3|AUCUNE\",\"justification\":\"...\",\"condition_observation\":\"...\",\"horizon_temporel\":\"YYYY-YYYY\",\"seuil_refutation\":\"...\",\"cas_test\":\"${wp_id}\"}`;\n\nlet popper_result = null;\nlet popper_error  = null;\ntry {\n  popper_result = await new Promise((resolve, reject) => {\n    const payload = JSON.stringify({\n      model: \"claude-sonnet-4-6\", max_tokens: 600,\n      system: SYSTEM, messages: [{ role: \"user\", content: USER }]\n    });\n    const req = https.request({\n      hostname: \"api.anthropic.com\", path: \"/v1/messages\", method: \"POST\",\n      headers: { \"Content-Type\": \"application/json\",\n        \"x-api-key\": ANTHROPIC_API_KEY, \"anthropic-version\": \"2023-06-01\" }\n    }, (res) => {\n      let body = \"\";\n      res.on(\"data\", c => body += c);\n      res.on(\"end\", () => {\n      try {\n        if (res.statusCode !== 200) { reject(new Error(`HTTP ${res.statusCode}: ${body.slice(0,200)}`)); return; }\n          const t = JSON.parse(body).content?.[0]?.text || \"{}\";\n          resolve(JSON.parse(t.replace(/```json|```/g,\"\").trim()));\n        } catch(e) { reject(e); }\n      });\n    });\n    req.setTimeout(60000, () => { req.destroy(); reject(new Error(\"Timeout 60s\")); });\n  req.on(\"error\", reject);\n    req.write(payload); req.end();\n  });\n} catch(e) {\n  popper_error = e.message;\n  popper_result = { prediction_applicable: \"NON_CALCULE\", erreur: popper_error };\n}\n\nreturn { json: { ...data, popper: popper_result, popper_error,\n  message: `Popper: ${popper_result?.prediction_applicable||\"?\"} -- ${popper_result?.horizon_temporel||\"?\"}` }};"
      }
    },
    {
      "id": "mepa-n14-certification",
      "name": "Noeud 14 -- Certification [WP_CERTIFIE / WP_EXPLORATOIRE]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3400,
        340
      ],
      "parameters": {
        "jsCode": "// NOEUD 14 -- Certification finale\n// Protocole S7 : CCI>=0.75 + N1 robuste + concordance -> WP_CERTIFIE\n\"use strict\";\nconst data = $input.item.json;\nconst wp_id = data.wp_id;\n\nconst cci_global     = data.cci_global    ?? null;\nconst robustesse_n1  = data.robustesse    || \"NON_CALCULE\";\nconst robustesse_n2  = data.robustesse_n2 || \"NON_CALCULE\";\nconst concordance    = data.concordance   ?? false;\nconst traj_diagn     = data.traj_diagn    || \"?\";\nconst traj_attendue  = data.result_data?.meta?.trajectoire_attendue || \"?\";\nconst verdict_conv_b = data.verdict_conv_b || \"NON_CALCULE\";\n\n// Criteres de certification S7 du Guide Methodologique\nconst cci_ok         = cci_global !== null && cci_global >= 0.75;\nconst n1_ok          = [\"ROBUSTE\",\"METASTABLE\"].includes(robustesse_n1);\nconst concordance_ok = concordance === true;\nconst conv_b_ok      = verdict_conv_b === \"CERTIFIE\"; // REVISION sans rebouclage → WP_EXPLORATOIRE\n\nlet statut = \"WP_EXPLORATOIRE\";\nconst raison = [];\nif (cci_ok && n1_ok && concordance_ok && conv_b_ok) {\n  statut = \"WP_CERTIFIE\";\n} else {\n  if (!cci_ok)         raison.push(`CCI=${cci_global?.toFixed(3)??\"null\"} < 0.75`);\n  if (!n1_ok)          raison.push(`N1=${robustesse_n1}`);\n  if (!concordance_ok) raison.push(`Concordance=NON (${traj_diagn} != ${traj_attendue})`);\n  if (!conv_b_ok)      raison.push(`CONV-B=${verdict_conv_b}`);\n}\n\nconst _certDate = new Date().toISOString().split(\"T\")[0]; // YYYY-MM-DD\n\nreturn {\n  json: {\n    ...data,\n    date_codage_pipeline: _certDate,\n    certification: {\n      statut, cci_global, robustesse_n1, robustesse_n2, concordance,\n      verdict_conv_b, raison_non_certifie: raison,\n      popper: data.popper || null, scores_resolus: data.scores_resolus || {},\n      date_certification: _certDate\n    },\n    statut_global: statut,\n    message: `[CERTIFICATION] ${wp_id} -> ${statut} [${_certDate}]${raison.length ? \" : \"+raison.join(\" | \") : \"\"}`\n  }\n};"
      }
    },
    {
      "id": "mepa-n15-archive",
      "name": "Noeud 15 — Archivage Final [/data/mepa/outputs/ + Passeport CONV-D] [V2 Multi-passes]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3640,
        340
      ],
      "parameters": {
        "jsCode": "// ============================================================================\n// NŒUD 15 V2 — Archivage Final [Multi-passes]\n// ============================================================================\n// Modifications vs V1 :\n//   - Tous les fichiers archivés portent le suffixe _sim_N dans leur nom\n//   - Un fichier de synthèse multi-passes est généré après la dernière passe\n//     (détecté via num_passe === nb_passes_total)\n//   - Rétrocompatibilité : si num_passe absent, comportement V1 identique\n// ============================================================================\n\n\"use strict\";\nconst fs = require(\"fs\");\nconst { execSync } = require(\"child_process\");\n\nconst data    = $input.item.json;\nconst wp_id   = data.wp_id;\nconst BASE    = $env.MEPA_OUTPUT_DIR || \"/data/mepa/outputs\";\nconst cluster = (data.result_data?.meta?.cluster || \"CX\").replace(/[^A-Z0-9]/g, \"\");\nconst cert    = data.certification || {};\nconst sim     = data.result_data?.simulation || {};\n\n// ── Suffixe de passe ─────────────────────────────────────────────────────────\nconst num_passe     = data.num_passe     ?? null;\nconst sim_label     = data.sim_label     ?? null;  // \"sim_1\", \"sim_2\", ...\nconst nb_passes     = data.nb_passes_total ?? null;\nconst passe_label   = data.passe_label   ?? null;\nconst zone          = data.zone_stratification ?? \"LOI PHYSIQUE\";\n\n// Préfixe fichier : WP-F1-1_sim_1 ou WP-F1-1 (V1)\nconst file_prefix = sim_label ? `${wp_id}_${sim_label}` : wp_id;\n\n// ── Répertoires ──────────────────────────────────────────────────────────────\nconst dirs = {\n  results:      `${BASE}/cluster_${cluster}/results`,\n  rapports:     `${BASE}/cluster_${cluster}/rapports`,\n  passeports:   `${BASE}/passeports`,\n  sensitivity:  `${BASE}/sensitivity`,\n  certification:`${BASE}/certification`,\n};\nexecSync(`mkdir -p ${Object.values(dirs).join(\" \")}`);\n\nconst w = (path, content) => { fs.writeFileSync(path, content, \"utf8\"); return path; };\nconst archived = {};\n\n// ── Archivage des fichiers de cette passe ────────────────────────────────────\nif (data.result_data)\n  archived.result    = w(`${dirs.results}/${file_prefix}_result.json`,\n                          JSON.stringify(data.result_data, null, 2));\n\nif (data.rapport_n1)\n  archived.rapport_n1 = w(`${dirs.sensitivity}/${file_prefix}_n1.json`,\n                           JSON.stringify(data.rapport_n1, null, 2));\n\nif (data.stress_n2)\n  archived.stress_n2  = w(`${dirs.sensitivity}/${file_prefix}_n2.json`,\n                           JSON.stringify(data.stress_n2, null, 2));\n\nif (data.rapport_md)\n  archived.rapport_md = w(`${dirs.rapports}/${file_prefix}_rapport.md`,\n                           data.rapport_md);\n\nif (data.cci_result)\n  archived.cci        = w(`${dirs.certification}/${file_prefix}_cci.json`,\n                           JSON.stringify(data.cci_result, null, 2));\n\nif (data.conv_b_data)\n  archived.conv_b     = w(`${dirs.certification}/${file_prefix}_conv_b.json`,\n                           JSON.stringify(data.conv_b_data, null, 2));\n\nif (data.audit_conv_b)\n  archived.audit_b    = w(`${dirs.certification}/${file_prefix}_audit_b.json`,\n                           JSON.stringify(data.audit_conv_b, null, 2));\n\nif (data.popper)\n  archived.popper     = w(`${dirs.certification}/${file_prefix}_popper.json`,\n                           JSON.stringify(data.popper, null, 2));\n\n// ── Passeport de passe ───────────────────────────────────────────────────────\nconst passeport_passe = {\n  ...(data.passeport || {}),\n  num_passe,\n  sim_label,\n  passe_label,\n  zone_stratification: zone,\n  certification_v2: {\n    statut:         cert.statut,\n    cci_global:     cert.cci_global,\n    kappa_sa:       data.cci_result?.kappa_sa ?? null,\n    robustesse_n1:  cert.robustesse_n1,\n    robustesse_n2:  cert.robustesse_n2,\n    concordance:    cert.concordance,\n    scores_resolus: cert.scores_resolus,\n    verdict_conv_b: cert.verdict_conv_b,\n    popper:         cert.popper,\n    raison_non_certifie: cert.raison_non_certifie,\n    generated_at:   new Date().toISOString(),\n  }\n};\narchived.passeport = w(\n  `${dirs.passeports}/${file_prefix}_passeport.json`,\n  JSON.stringify(passeport_passe, null, 2)\n);\n\n// ── Passeport compact CONV-D ─────────────────────────────────────────────────\nconst popper_rf1 = data.popper?.prediction_applicable === \"RF1\"\n  ? data.popper?.condition_observation : null;\nconst popper_rf2 = data.popper?.prediction_applicable === \"RF2\"\n  ? data.popper?.condition_observation : null;\n\nconst passeport_compact = {\n  wp_id,\n  sim_label,\n  num_passe,\n  passe_label,\n  zone,\n  cluster,\n  sa:            data.result_data?.meta?.sa ?? null,\n  traj_attendue: data.result_data?.meta?.trajectoire_attendue || \"?\",\n  traj_diagn:    sim.traj || \"?\",\n  concordant:    cert.concordance ?? false,\n  robustesse:    cert.robustesse_n1 || \"?\",\n  t_b:           sim.t_bascule ?? null,\n  dC_rel:        sim.dC_rel ?? null,\n  dI_rel:        sim.dI_rel ?? null,\n  CCI:           cert.cci_global ?? null,\n  RF1:           popper_rf1,\n  RF2:           popper_rf2,\n  p6_final:      data.result_data?.params?.p6 ?? null,\n  statut_cert:   cert.statut || \"WP_EXPLORATOIRE\",\n  alertes:       data.anomalies_conv_b || [],\n};\narchived.passeport_compact = w(\n  `${dirs.certification}/${file_prefix}_passeport_compact.json`,\n  JSON.stringify(passeport_compact)\n);\n\n// ── Synthèse multi-passes (générée sur la DERNIÈRE passe uniquement) ─────────\nlet synthese_passes = null;\n// ── Compteur atomique de passes terminées ────────────────────────────────\n// Chaque exécution N15 (une par passe, en parallèle) incrémente ce compteur.\n// La première passe à atteindre nb_passes déclenche la consolidation N16.\n// Mécanisme fichier (append atomique) pour éviter les race conditions.\nconst counter_path = `/tmp/${wp_id}_pass_done_counter`;\nlet pass_count = 0;\ntry {\n  // Append \"1\\n\" — chaque passe écrit une ligne\n  fs.appendFileSync(counter_path, \"1\\n\", \"utf8\");\n  // Compter les lignes = nombre de passes terminées\n  pass_count = fs.readFileSync(counter_path, \"utf8\").trim().split(\"\\n\").filter(Boolean).length;\n} catch(e) {\n  pass_count = num_passe ?? 1;\n}\n// Guard null : si nb_passes est null/0, ne jamais déclencher N16\nconst toutes_passes_terminees = (\n  nb_passes !== null && nb_passes > 0 && pass_count >= nb_passes\n);\n\nif (toutes_passes_terminees && num_passe !== null && nb_passes !== null) {\n\n  // Lire tous les passeports compacts des passes précédentes\n  const all_passeports = [];\n  for (let i = 1; i <= nb_passes; i++) {\n    const path_compact = `${dirs.certification}/${wp_id}_sim_${i}_passeport_compact.json`;\n    try {\n      all_passeports.push(JSON.parse(fs.readFileSync(path_compact, \"utf8\")));\n    } catch (_) {\n      // passe manquante — ignorer\n    }\n  }\n\n  // Résumé des trajectoires diagnostiquées par passe\n  const trajs_par_passe = all_passeports.map(p => ({\n    sim:         p.sim_label,\n    passe_label: p.passe_label,\n    traj:        p.traj_diagn,\n    concordant:  p.concordant,\n    robustesse:  p.robustesse,\n    CCI:         p.CCI,\n  }));\n\n  const trajs_uniques = [...new Set(all_passeports.map(p => p.traj_diagn))];\n  const nb_concordants = all_passeports.filter(p => p.concordant).length;\n  const cci_values = all_passeports.map(p => p.CCI).filter(v => v !== null);\n  const cci_moyen  = cci_values.length\n    ? cci_values.reduce((a, b) => a + b, 0) / cci_values.length\n    : null;\n\n  const robustesse_globale =\n    trajs_uniques.length === 1 ? \"ROBUSTE\" :\n    trajs_uniques.length === 2 ? \"MÉTASTABLE\" : \"FRAGILE\";\n\n  synthese_passes = {\n    wp_id,\n    zone,\n    nb_passes,\n    nb_passes_lues: all_passeports.length,\n    generated_at: new Date().toISOString(),\n    robustesse_globale,\n    trajectoires_uniques: trajs_uniques,\n    concordance_taux: `${nb_concordants}/${nb_passes}`,\n    cci_moyen: cci_moyen !== null ? Math.round(cci_moyen * 10000) / 10000 : null,\n    passes: trajs_par_passe,\n  };\n\n  archived.synthese_passes = w(\n    `${dirs.certification}/${wp_id}_synthese_passes.json`,\n    JSON.stringify(synthese_passes, null, 2)\n  );\n}\n\n// ── Retour ───────────────────────────────────────────────────────────────────\nreturn {\n  json: {\n    status:                \"ARCHIVE_CERTIFIE\",\n    pass_count,\n    toutes_passes_terminees,\n    wp_id,\n    sim_label,\n    num_passe,\n    nb_passes_total:       nb_passes,\n    passe_label,\n    statut_certification:  cert.statut,\n    cci_global:            cert.cci_global,\n    robustesse_n1:         cert.robustesse_n1,\n    concordance:           cert.concordance,\n    verdict_conv_b:        data.verdict_conv_b,\n    archived,\n    passeport_compact,\n    synthese_passes,\n    message: synthese_passes\n      ? `[WF2 COMPLET] ${wp_id} | ${nb_passes} passes | robustesse=${synthese_passes.robustesse_globale} | CCI_moy=${synthese_passes.cci_moyen}`\n      : `[WF2 PASSE ${num_passe}/${nb_passes}] ${wp_id} → ${cert.statut}`,\n  }\n};\n",
        "language": "javaScript"
      },
      "notes": "V2 : fichiers archivés avec suffixe _sim_N.\nGénère synthese_passes.json après la dernière passe (num_passe === nb_passes_total)."
    },
    {
      "parameters": {
        "jsCode": "// NŒUD CONV-E — Codage historique des 6 variables continues\n// Position : après Nœud B (décodage JSON), avant Nœud 2 (audit C1-C13)\n// Double aveugle garanti : ce nœud écrit variables[k].valeur\n// Le Nœud 8a (CONV-B) filtre activement ces valeurs — aucune contamination\n// Correctif architecture — 2026-03-16\n\n\"use strict\";\nconst https = require(\"https\");\nconst data  = $input.item.json;\nconst wp_id = data.wp_id;\nconst ANTHROPIC_API_KEY = $env.ANTHROPIC_API_KEY;\n\n// ── Extraire le contexte de la fiche ────────────────────────────────────────\nconst cas             = data.cas             || \"\";\nconst periode         = data.periode         || \"\";\nconst cluster         = data.cluster         || \"\";\nconst traj_attendue   = data.trajectoire_attendue || \"\";\nconst sa              = data.sa              ?? null;\nconst sa_type         = data.sa_type_todd    || \"\";\nconst vars_fiche      = data.variables       || {};\nconst sources         = data.sources_utilisees || [];\nconst defi            = data.defi_mepa       || \"\";\nconst alertes         = data.alertes_conv_a  || [];\n\n// ── Variables hardcodées (EROI, A_r_ne, Sa) — ne pas recoder ───────────────\nconst vars_hardcodes = {};\nfor (const [k, v] of Object.entries(vars_fiche)) {\n  if (v.valeur !== null && v.valeur !== undefined &&\n      (String(v.source_id || \"\").includes(\"hardcod\") ||\n       String(v.source_id || \"\").includes(\"normative\") ||\n       String(v.source_id || \"\").includes(\"V6.2\") ||\n       String(v.origine  || \"\").toUpperCase().includes(\"HARDCOD\") ||\n       String(v.source_id || \"\").includes(\"Todd\"))) {\n    vars_hardcodes[k] = v.valeur;\n  }\n}\n\n// ── Variables à coder — celles avec valeur: null ────────────────────────────\nconst vars_a_coder = Object.fromEntries(\n  Object.entries(vars_fiche)\n    .filter(([k, v]) => v.valeur === null || v.valeur === undefined)\n    .map(([k, v]) => [k, {\n      echelle:            v.echelle,\n      origine:            v.origine,\n      source_id:          v.source_id,\n      niveau_source:      v.niveau_source,\n      sanity_check:       v.sanity_check,\n      valeur_normative:   v.valeur_normative_v62\n    }])\n);\n\n// ── Commandes actuelles (valeurs normatives — à mettre à jour post-codage) ──\nconst cmd_actuel = data.commandes || {};\n\n// ── Sources disponibles ──────────────────────────────────────────────────────\nconst sources_str = sources.slice(0, 8).map(s =>\n  typeof s === \"object\"\n    ? `[${s.id}] ${s.titre} (${s.type}) — variables: ${(s.variables_concernees || []).join(\", \")}`\n    : String(s)\n).join(\"\\n\");\n\n// ── Chargement CONV-E.md depuis disque (V7 — grilles d'ancrage V7 incluses) ──\n// ── Chargement CONV-E.md depuis disque ──────────────────────────────────────\nconst _fs_conv_e = require('fs');\nconst _scripts_dir = $env.MEPA_SCRIPTS_DIR || '/data/mepa/scripts';\nconst SYSTEM = (() => {\n  let base;\n  try {\n    base = _fs_conv_e.readFileSync(`${_scripts_dir}/CONV-E.md`, 'utf8');\n  } catch(_) {\n    base = \"Tu es CONV-E, l'Historien-Codeur MEPA. Code les variables null en JSON valide.\";\n  }\n  return base + \"\\n\\n=== INSTRUCTION DE FORMAT STRICTE ===\\nTa réponse doit commencer IMMÉDIATEMENT par '{' et ne contenir RIEN d'autre qu'un objet JSON valide. Aucune phrase de confirmation, aucun préambule, aucun texte avant ou après le JSON. Ne dis jamais 'Je confirme' ou toute autre formule introductive.\";\n})();\nconst USER = `WP : ${wp_id} | Cas : ${cas} | Période : ${periode} | Cluster : ${cluster}\nTrajectoire attendue : ${traj_attendue} | Sa : ${sa} (${sa_type})\nDéfi MEPA : ${defi.slice(0, 300)}\nAlertes : ${JSON.stringify(alertes).slice(0, 200)}\n\nSOURCES DISPONIBLES :\n${sources_str}\n\nVARIABLES À CODER (valeur = null) :\n${JSON.stringify(vars_a_coder, null, 2).slice(0, 3000)}\n\nCOMMANDES ACTUELLES (valeurs normatives à mettre à jour) :\n${JSON.stringify({\n  E: cmd_actuel.E, gamma: cmd_actuel.gamma, R: cmd_actuel.R,\n  Mob: cmd_actuel.Mob, Rc: cmd_actuel.Rc, Rn: cmd_actuel.Rn\n})}\n\nCONDITIONS INITIALES ACTUELLES :\n${JSON.stringify(data.conditions_initiales || {})}\n\nProduis un JSON avec exactement cette structure :\n{\n  \"codeur\": \"CONV-E\",\n  \"date_codage\": \"${new Date().toISOString().split(\"T\")[0]}\",\n  \"variables_codees\": {\n    \"E_split\": {\"valeur\": <float>, \"justification\": \"<2-3 phrases avec γ si gamma, indicateurs chiffrés>\", \"sanity_check\": {\"indicateur\": \"<source>\", \"valeur_indicateur\": \"<valeur>\", \"coherence\": \"CONFIRMÉ|À VÉRIFIER|DIVERGENCE\"}},\n    \"gamma\":   {\"valeur\": <float>, \"justification\": \"<utilise γ dans le texte>\", \"sanity_check\": {\"indicateur\": \"<source>\", \"valeur_indicateur\": \"<valeur>\", \"coherence\": \"CONFIRMÉ|À VÉRIFIER|DIVERGENCE\"}},\n    \"A_d_eff\": {\"valeur\": <float>, \"justification\": \"<indicateurs chiffrés obligatoires>\", \"sanity_check\": {\"indicateur\": \"<source>\", \"valeur_indicateur\": \"<valeur>\", \"coherence\": \"CONFIRMÉ|À VÉRIFIER|DIVERGENCE\"}},\n    \"A_r_c\":   {\"valeur\": <float>, \"justification\": \"<source explicite>\", \"sanity_check\": {\"indicateur\": \"<source>\", \"valeur_indicateur\": \"<valeur>\", \"coherence\": \"CONFIRMÉ|À VÉRIFIER|DIVERGENCE\"}},\n    \"Cs\":      {\"valeur\": <float>, \"justification\": \"<source explicite>\", \"sanity_check\": {\"indicateur\": \"<source>\", \"valeur_indicateur\": \"<valeur>\", \"coherence\": \"CONFIRMÉ|À VÉRIFIER|DIVERGENCE\"}},\n    \"L_t\":     {\"valeur\": <float>, \"justification\": \"<source explicite>\", \"sanity_check\": {\"indicateur\": \"<source>\", \"valeur_indicateur\": \"<valeur>\", \"coherence\": \"CONFIRMÉ|À VÉRIFIER|DIVERGENCE\"}}\n  },\n  \"commandes_mises_a_jour\": {\n    \"E\": <float E_split>, \"gamma\": <float gamma>,\n    \"R\": <float normalisé A_d_eff>, \"Mob\": <float Cs>,\n    \"Rc\": <float A_r_c>, \"Rn\": <float A_r_ne hardcodé>\n  },\n  \"L0_mis_a_jour\": <float L_t>,\n  \"resume_coherence\": \"<3-5 phrases — compatibilité scores avec trajectoire attendue et cluster>\"\n}`;\n\nconst payload = JSON.stringify({\n  model: \"claude-sonnet-4-6\",\n  max_tokens: 8000,\n  system: [{ type: \"text\", text: SYSTEM, cache_control: { type: \"ephemeral\" } }],\n  messages: [{ role: \"user\", content: USER }]\n});\n\n// ── Appel API Anthropic (L3 prompt caching) ─────────────────────────────────\nconst conv_e_result = await new Promise((resolve, reject) => {\n  const req = https.request({\n    hostname: \"api.anthropic.com\",\n    path: \"/v1/messages\",\n    method: \"POST\",\n    headers: {\n      \"Content-Type\": \"application/json\",\n      \"x-api-key\": ANTHROPIC_API_KEY,\n      \"anthropic-version\": \"2023-06-01\",\n      \"anthropic-beta\": \"prompt-caching-2024-07-31\",\n      \"Content-Length\": Buffer.byteLength(payload)\n    }\n  }, (res) => {\n    let body = \"\";\n    res.on(\"data\", c => body += c);\n    res.on(\"end\", () => {\n      try {\n        if (res.statusCode !== 200) { reject(new Error(`HTTP ${res.statusCode}: ${body.slice(0,200)}`)); return; }\n        const raw = JSON.parse(body).content?.[0]?.text || \"{}\";\n        // Extraire le premier bloc JSON valide même si du texte précède/suit\n        const clean = raw.replace(/```json|```/g, \"\").trim();\n        const jsonMatch = clean.match(/\\{[\\s\\S]*\\}/);\n        if (!jsonMatch) { reject(new Error(`Aucun JSON trouvé dans la réponse: ${clean.slice(0,200)}`)); return; }\n        resolve(JSON.parse(jsonMatch[0]));\n      } catch(e) {\n        reject(new Error(`Parse CONV-E: ${e.message} | raw: ${body.slice(0,200)}`));\n      }\n    });\n  });\n  req.setTimeout(240000, () => { req.destroy(); reject(new Error(\"Timeout 240s\")); });\n  req.on(\"error\", reject);\n  req.write(payload);\n  req.end();\n});\n\n// ── Injecter les valeurs codées dans la fiche ────────────────────────────────\nconst vars_codees  = conv_e_result.variables_codees  || {};\nconst cmd_updates  = conv_e_result.commandes_mises_a_jour || {};\nconst l0_update    = conv_e_result.L0_mis_a_jour;\n\n// Mettre à jour variables[k].valeur\nconst vars_updated = { ...vars_fiche };\nfor (const [k, v] of Object.entries(vars_codees)) {\n  if (vars_updated[k]) {\n    vars_updated[k] = {\n      ...vars_updated[k],\n      valeur:       v.valeur,\n      justification: v.justification,\n      sanity_check: { ...vars_updated[k].sanity_check, ...v.sanity_check },\n      codeur:       \"CONV-E\",\n      date_codage:  conv_e_result.date_codage\n    };\n  }\n}\n\n// Mettre à jour les commandes — mapping sélectif CONV-E\n// RÈGLE V6.2 : E, gamma, Rc, Rn → mapping libre depuis variables codées\n// R (A_d_eff) et Mob (Cs) → NE PAS écraser les valeurs normatives corpus\n// T, Ref, Pop, EROI → structurels, jamais modifiés par CONV-E\nconst CMD_MAPPING_LIBRE = [\"E\", \"gamma\", \"Rc\", \"Rn\"];\nconst cmd_updated = { ...cmd_actuel };\nfor (const key of CMD_MAPPING_LIBRE) {\n  if (cmd_updates[key] !== undefined && cmd_updates[key] !== null) {\n    cmd_updated[key] = cmd_updates[key];\n  }\n}\n// R et Mob : logguer la valeur CONV-E mais préserver la valeur normative\nconst r_conv_e   = cmd_updates[\"R\"]   ?? null;\nconst mob_conv_e = cmd_updates[\"Mob\"] ?? null;\nif (r_conv_e !== null) {\n  console.error(\"[CONV-E] cmd.R propose par CONV-E = \" + r_conv_e + \" -- valeur normative corpus preservee : \" + cmd_actuel.R);\n}\nif (mob_conv_e !== null) {\n  console.error(\"[CONV-E] cmd.Mob propose par CONV-E = \" + mob_conv_e + \" -- valeur normative corpus preservee : \" + cmd_actuel.Mob);\n}\n\n// Mettre à jour L0 dans conditions_initiales\nconst ci_updated = { ...(data.conditions_initiales || {}) };\nif (l0_update !== undefined && l0_update !== null) {\n  ci_updated.L0 = l0_update;\n}\n\n// ── Retourner la fiche enrichie ──────────────────────────────────────────────\n// Champs pipeline (non transmis dans la fiche racine — évite erreur C9)\nconst _conv_e_meta = {\n  conv_e_raw:       conv_e_result,\n  resume_coherence: conv_e_result.resume_coherence || \"\",\n  nb_vars_codees:   Object.keys(vars_codees).length\n};\n\nreturn {\n  json: {\n    ...data,\n    // Champs fiche — autorisés par RACINE_AUTORISEES\n    variables:            vars_updated,\n    commandes:            cmd_updated,\n    conditions_initiales: ci_updated,\n    statut:               \"CODAGE CONV-E — EN ATTENTE AUDIT CONV-B\",\n    date_codage:          conv_e_result.date_codage || new Date().toISOString().split(\"T\")[0],\n    codeur:               \"CONV-E\",\n    // Champs pipeline — préfixe _ exclu de la fiche mais lisibles par les nœuds suivants\n    _conv_e_meta,\n    _pipeline_message: `[CONV-E] ${wp_id} — ${Object.keys(vars_codees).length} variables codées`\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -200,
        480
      ],
      "id": "conv-e-node-v62-2026",
      "name": "Nœud CONV-E — Codage historique variables [LLM]"
    },
    {
      "id": "mepa-n-cleanup-tmp",
      "name": "Nœud C — Nettoyage /tmp/ [Anti-Contamination]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1680,
        208
      ],
      "parameters": {
        "jsCode": "// NŒUD C — Nettoyage /tmp/ entre passes\n// Supprime tous les fichiers /tmp/{wp_id}_* de la passe précédente\n// Garantit l'isolation entre passes successives sur le même WP\n\"use strict\";\nconst { execSync } = require(\"child_process\");\nconst data  = $input.item.json;\nconst wp_id = data.wp_id || \"WP-INCONNU\";\n\nlet cleaned = [];\nlet errors  = [];\n\n// Liste des fichiers /tmp/ créés par le pipeline\nconst patterns = [\n  `_runner_config.json`,\n  `_result.json`,\n  `_n1_sensitivity.json`,\n  `_fiche_conv_b.json`,\n  `_fiche_conv_e_kappa.json`,\n  `_cci_result.json`,\n  `_passeport.json`,\n  `_n2_optimiste.json`,\n  `_n2_pessimiste.json`,\n  `_n2_optimiste_result.json`,\n  `_n2_pessimiste_result.json`,\n  `_revision_counter.txt`\n];\n\nfor (const suffix of patterns) {\n  const path = `/tmp/${wp_id}${suffix}`;\n  try {\n    execSync(`rm -f ${path}`);\n    cleaned.push(path);\n  } catch(e) {\n    errors.push(`${path}: ${e.message.slice(0,50)}`);\n  }\n}\n\nreturn {\n  json: {\n    ...data,\n    cleanup: { cleaned: cleaned.length, errors },\n    message: `[CLEANUP] ${wp_id} — ${cleaned.length} fichiers /tmp/ supprimés`\n  }\n};"
      },
      "notes": "Supprime tous les fichiers /tmp/{wp_id}_* de la passe précédente.\nV2 : ajoute rm -f /tmp/{wp_id}_sim_* pour couvrir les fichiers multi-passes (_sim_1_, _sim_2_...)."
    },
    {
      "id": "mepa-n16-consolidation",
      "name": "Noeud 16 — Consolidation Multi-passes [Post-toutes-passes]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1600,
        740
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// ============================================================================\n// NŒUD 16 — Consolidation Multi-passes [Post-toutes-passes]\n// ============================================================================\n// Position   : connecté sur N15 (déclenché à chaque passe)\n//              Guard return [] si !toutes_passes_terminees → n8n n'émet rien\n//              → s'exécute réellement UNE SEULE FOIS sur la dernière passe,\n//              quand tous les fichiers ont été archivés par N15.\n//\n// Entrée     : payload N15 (porte wp_id, zone, nb_passes_total,\n//              toutes_passes_terminees, pass_count)\n//              + tous les fichiers archivés par N15 sur disque\n//\n// Sorties disque :\n//   /data/mepa/outputs/cluster_XX/results/{wp_id}_consolidation.json\n//   /data/mepa/outputs/cluster_XX/rapports/{wp_id}_consolidation.md\n//\n// En cas de passe manquante (runner échoué) :\n//   → Consolide les passes disponibles + flag passes_manquantes[]\n//\n// Sources lues :\n//   certification/{wp_id}_sim_N_passeport_compact.json  (trajectoires, CCI, robustesse)\n//   cluster_XX/results/{wp_id}_sim_N_result.json         (F/R, stress N1/N2)\n//   certification/{wp_id}_sim_N_cci.json                 (accord inter-codeurs par var)\n//   sensitivity/{wp_id}_sim_N_n1.json                    (sensibilité paramétrique)\n// ============================================================================\n\n\"use strict\";\nconst fs = require(\"fs\");\nconst { execSync } = require(\"child_process\");\n\nconst data         = $input.item.json;\nconst wp_id        = data.wp_id        || \"WP-INCONNU\";\nconst zone         = data.zone_stratification || \"LOI PHYSIQUE\";\nconst nb_passes    = data.nb_passes_total ?? 0;\nconst num_passe    = data.num_passe ?? null;\n  const toutes_passes_terminees = data.toutes_passes_terminees ?? false;\n\n  // ── Guard : ne consolider QUE sur la dernière passe ──────────────────────\n  // N15 déclenche N16 à chaque passe (connexion permanente).\n  // N16 filtre via toutes_passes_terminees transmis par N15.\n  // Si false → return [] : n8n n'émet pas d'item, la chaîne s'arrête ici.\n  // Si true  → exécuter la consolidation complète.\n  // Guard double : toutes_passes_terminees=false OU nb_passes invalide\n  if (!toutes_passes_terminees || !nb_passes || nb_passes < 1) {\n    return [];\n  }\n\n  const BASE         = $env.MEPA_OUTPUT_DIR || \"/data/mepa/outputs\";\nconst cluster_raw  = data.llm_context?.cluster || data.cluster || \"CX\";\nconst cluster      = cluster_raw.replace(/[^A-Z0-9]/g, \"\");\n\n// ── Répertoires ──────────────────────────────────────────────────────────────\nconst dirs = {\n  results:      `${BASE}/cluster_${cluster}/results`,\n  rapports:     `${BASE}/cluster_${cluster}/rapports`,\n  passeports:   `${BASE}/passeports`,\n  sensitivity:  `${BASE}/sensitivity`,\n  certification:`${BASE}/certification`,\n};\nexecSync(`mkdir -p ${Object.values(dirs).join(\" \")}`);\n\n// ── Helpers lecture sécurisée ─────────────────────────────────────────────────\nfunction readJSON(path) {\n  try { return JSON.parse(fs.readFileSync(path, \"utf8\")); }\n  catch (_) { return null; }\n}\n\n// ── Lecture des N passes ──────────────────────────────────────────────────────\nconst passes_lues       = [];\nconst passes_manquantes = [];\n\nfor (let i = 1; i <= nb_passes; i++) {\n  const sim = `sim_${i}`;\n  const prefix_cert   = `${dirs.certification}/${wp_id}_${sim}`;\n  const prefix_result = `${dirs.results}/${wp_id}_${sim}`;\n  const prefix_sens   = `${dirs.sensitivity}/${wp_id}_${sim}`;\n\n  const compact  = readJSON(`${prefix_cert}_passeport_compact.json`);\n  const result   = readJSON(`${prefix_result}_result.json`);\n  const cci      = readJSON(`${prefix_cert}_cci.json`);\n  const n1       = readJSON(`${prefix_sens}_n1.json`);\n\n  // Une passe est considérée manquante si le passeport compact est absent\n  if (!compact) {\n    passes_manquantes.push({ num: i, sim, raison: \"passeport_compact introuvable\" });\n    continue;\n  }\n\n  // Extraire les métriques clés du result runner\n  const sim_data  = result?.simulation || {};\n  const vrd_data  = result?.verdict    || {};\n  const meta_data = result?.meta       || {};\n  const cmd_data  = result?.cmd_base   || {};\n\n  // Résumé N1/N2 depuis le result runner (stress embarqué)\n  const stress_n1 = result?.stress_n1 || {};\n  const stress_n2 = result?.stress_n2 || [];\n  const trajs_n2  = [...new Set(stress_n2.map(s => s.traj).filter(Boolean))];\n\n  // Résumé CCI par variable\n  const cci_details = cci?.details || [];\n  const cci_par_var = Object.fromEntries(\n    cci_details.map(d => [d.variable, {\n      val_e:    d.val_a,\n      val_b:    d.val_b,\n      accord:   d.accord,\n      action:   d.action,\n    }])\n  );\n\n  // Résumé N1 sensitivity\n  const n1_verdict       = n1?.verdict_n1 || null;\n  const n1_vars_sensibles = n1?.variables_sensibles || [];\n  const n1_params_sensibles = n1?.params_sensibles || [];\n\n  passes_lues.push({\n    num_passe:        i,\n    sim_label:        sim,\n    passe_label:      compact.passe_label    || null,\n    zone:             compact.zone           || zone,\n    // Trajectoire\n    traj_attendue:    compact.traj_attendue,\n    traj_diagn:       compact.traj_diagn,\n    concordant:       compact.concordant,\n    robustesse_n1:    compact.robustesse,\n    statut_cert:      compact.statut_cert,\n    // Métriques runner\n    FR_max:           sim_data.FR_max        ?? null,\n    FR_final:         sim_data.FR_final      ?? null,\n    t_bascule:        sim_data.t_bascule     ?? null,\n    dC_rel:           sim_data.dC_rel        ?? null,\n    dI_rel:           sim_data.dI_rel        ?? null,\n    I_final:          sim_data.I_final       ?? null,\n    C_final:          sim_data.C_final       ?? null,\n    // Stress N1 (depuis result runner)\n    n1_opt_traj:      stress_n1.optimiste?.traj  || null,\n    n1_pes_traj:      stress_n1.pessimiste?.traj || null,\n    n1_pes_dI_rel:    stress_n1.pessimiste?.dI_rel ?? null,\n    trajs_set_n1:     vrd_data.trajs_set_n1  || [],\n    // Stress N2 (depuis result runner)\n    trajs_n2_uniques: trajs_n2,\n    bifurcations_n2:  trajs_n2.filter(t => t !== compact.traj_diagn),\n    // CCI\n    CCI_global:       compact.CCI            ?? null,\n    CCI_par_variable: cci_par_var,\n    // N1 sensitivity externe\n    n1_verdict,\n    n1_vars_sensibles,\n    n1_params_sensibles,\n    // Commandes appliquées dans cette passe\n    cmd_effectifs: {\n      E:     cmd_data.E     ?? null,\n      gamma: cmd_data.gamma ?? null,\n      Rc:    cmd_data.Rc    ?? null,\n      T:     cmd_data.T     ?? null,\n      R:     cmd_data.R     ?? null,\n      EROI_start: cmd_data.EROI_start ?? null,\n      EROI_end:   cmd_data.EROI_end   ?? null,\n    },\n    L0_effectif:      meta_data.y0_normalise?.[1] ?? null,\n    // Popper\n    RF1: compact.RF1 || null,\n    RF2: compact.RF2 || null,\n    p6_final: compact.p6_final ?? null,\n  });\n}\n\n// ── Calculs de synthèse ───────────────────────────────────────────────────────\nconst nb_lus        = passes_lues.length;\nconst nb_manquantes = passes_manquantes.length;\nconst nb_concordants = passes_lues.filter(p => p.concordant).length;\n\n// Toutes les trajectoires diagnostiquées\nconst toutes_trajs  = passes_lues.map(p => p.traj_diagn).filter(Boolean);\nconst trajs_uniques = [...new Set(toutes_trajs)];\n\n// Robustesse globale inter-passes\nconst robustesse_globale =\n  trajs_uniques.length === 0 ? \"NON_CALCULE\" :\n  trajs_uniques.length === 1 ? \"ROBUSTE\"     :\n  trajs_uniques.length === 2 ? \"MÉTASTABLE\"  : \"FRAGILE\";\n\n// Trajectoire majoritaire\nconst traj_count = {};\ntoutes_trajs.forEach(t => traj_count[t] = (traj_count[t] || 0) + 1);\nconst traj_majoritaire = Object.entries(traj_count)\n  .sort((a, b) => b[1] - a[1])[0]?.[0] || null;\n\n// CCI agrégé (moyenne des CCI globaux disponibles)\nconst cci_vals = passes_lues.map(p => p.CCI_global).filter(v => v !== null);\nconst cci_moyen = cci_vals.length\n  ? Math.round(cci_vals.reduce((a, b) => a + b, 0) / cci_vals.length * 10000) / 10000\n  : null;\nconst cci_min = cci_vals.length ? Math.min(...cci_vals) : null;\nconst cci_max = cci_vals.length ? Math.max(...cci_vals) : null;\n\n// Stabilité des CCI par variable (accord CONV-E/CONV-B cohérent entre passes ?)\nconst vars_suivies = [\"E_split\", \"gamma\", \"A_d_eff\", \"A_r_c\", \"Cs\", \"L_t\"];\nconst cci_par_var_consolide = {};\nfor (const v of vars_suivies) {\n  const vals_e = passes_lues.map(p => p.CCI_par_variable?.[v]?.val_e).filter(x => x !== null && x !== undefined);\n  const vals_b = passes_lues.map(p => p.CCI_par_variable?.[v]?.val_b).filter(x => x !== null && x !== undefined);\n  const accords = passes_lues.map(p => p.CCI_par_variable?.[v]?.accord).filter(x => x !== null && x !== undefined);\n  if (vals_e.length === 0) continue;\n  const mean = arr => arr.length ? Math.round(arr.reduce((a,b)=>a+b,0)/arr.length * 100) / 100 : null;\n  cci_par_var_consolide[v] = {\n    val_e_moy:    mean(vals_e),\n    val_b_moy:    mean(vals_b),\n    taux_accord:  accords.length ? Math.round(accords.filter(Boolean).length / accords.length * 100) : null,\n    nb_passes:    vals_e.length,\n  };\n}\n\n// Bifurcations N2 inter-passes (quelles passes ont des bifurcations ?)\nconst passes_avec_bifurc = passes_lues\n  .filter(p => p.bifurcations_n2.length > 0)\n  .map(p => ({ sim: p.sim_label, bifurcations: p.bifurcations_n2 }));\n\n// FR_max moyen et écart-type (sensibilité à la configuration)\nconst fr_vals = passes_lues.map(p => p.FR_max).filter(v => v !== null);\nconst fr_moy  = fr_vals.length ? Math.round(fr_vals.reduce((a,b)=>a+b,0)/fr_vals.length * 10000)/10000 : null;\nconst fr_std  = fr_vals.length > 1\n  ? Math.round(Math.sqrt(fr_vals.map(v => (v-fr_moy)**2).reduce((a,b)=>a+b,0)/fr_vals.length) * 10000)/10000\n  : null;\n\n// ── Objet consolidation JSON ──────────────────────────────────────────────────\nconst consolidation = {\n  // Identité\n  wp_id,\n  cluster,\n  zone_stratification: zone,\n  nb_passes_attendues: nb_passes,\n  nb_passes_lues:      nb_lus,\n  nb_passes_manquantes:nb_manquantes,\n  passes_manquantes,\n  generated_at:        new Date().toISOString(),\n\n  // Verdict global\n  verdict: {\n    robustesse_globale,\n    trajectoire_majoritaire:   traj_majoritaire,\n    trajectoires_uniques:      trajs_uniques,\n    concordance_taux:          `${nb_concordants}/${nb_lus}`,\n    concordance_totale:        nb_concordants === nb_lus && nb_lus > 0,\n    flag_passes_manquantes:    nb_manquantes > 0,\n  },\n\n  // CCI consolidé\n  cci: {\n    moyen:  cci_moyen,\n    min:    cci_min,\n    max:    cci_max,\n    ecart:  cci_vals.length > 1 ? Math.round((cci_max - cci_min) * 10000)/10000 : null,\n    seuil_certif: 0.75,\n    toutes_certifiees: cci_vals.length > 0 && cci_min >= 0.75,\n    par_variable: cci_par_var_consolide,\n  },\n\n  // Métriques runner consolidées\n  runner: {\n    FR_max_moyen:   fr_moy,\n    FR_max_stddev:  fr_std,\n    FR_max_min:     fr_vals.length ? Math.min(...fr_vals) : null,\n    FR_max_max:     fr_vals.length ? Math.max(...fr_vals) : null,\n    I_final_values: passes_lues.map(p => ({ sim: p.sim_label, I_final: p.I_final })),\n  },\n\n  // Robustesse N2\n  n2: {\n    passes_avec_bifurcations: passes_avec_bifurc,\n    nb_passes_robustes_n2:    passes_lues.filter(p => p.bifurcations_n2.length === 0).length,\n  },\n\n  // Détail par passe (tableau compact)\n  passes: passes_lues.map(p => ({\n    sim:          p.sim_label,\n    passe_label:  p.passe_label,\n    traj_diagn:   p.traj_diagn,\n    concordant:   p.concordant,\n    robustesse:   p.robustesse_n1,\n    FR_max:       p.FR_max,\n    t_b:          p.t_bascule,\n    CCI:          p.CCI_global,\n    n1_pes_traj:  p.n1_pes_traj,\n    bifurc_n2:    p.bifurcations_n2,\n    cmd_E:        p.cmd_effectifs?.E,\n    cmd_gamma:    p.cmd_effectifs?.gamma,\n    cmd_Rc:       p.cmd_effectifs?.Rc,\n    L0:           p.L0_effectif,\n  })),\n};\n\n// ── Markdown de synthèse ──────────────────────────────────────────────────────\nconst taux_concordance = `${nb_concordants}/${nb_lus}`;\nconst cci_str = cci_moyen !== null ? `${cci_moyen} (min=${cci_min}, max=${cci_max})` : \"N/C\";\nconst manq_str = nb_manquantes > 0\n  ? `\\n> ⚠ **${nb_manquantes} passe(s) manquante(s)** : ${passes_manquantes.map(p => p.sim).join(\", \")}\\n`\n  : \"\";\n\nconst lignes_passes = passes_lues.map(p => {\n  const bifurc = p.bifurcations_n2.length > 0 ? `⚡ N2: ${p.bifurcations_n2.join(\",\")}` : \"N2: stable\";\n  const n1pes  = p.n1_pes_traj && p.n1_pes_traj !== p.traj_diagn ? ` ⚡ N1pes→${p.n1_pes_traj}` : \"\";\n  return `| ${p.sim_label} | ${p.passe_label || \"-\"} | ${p.traj_diagn} | ${p.concordant ? \"✓\" : \"✗\"} | ${p.robustesse_n1} | ${p.FR_max ?? \"N/C\"} | ${p.CCI_global ?? \"N/C\"} | ${bifurc}${n1pes} |`;\n}).join(\"\\n\");\n\n// CCI par variable\nconst lignes_cci = Object.entries(cci_par_var_consolide).map(([v, d]) =>\n  `| ${v} | ${d.val_e_moy ?? \"N/C\"} | ${d.val_b_moy ?? \"N/C\"} | ${d.taux_accord !== null ? d.taux_accord + \"%\" : \"N/C\"} |`\n).join(\"\\n\");\n\nconst rapport_md = `# Consolidation Multi-passes — ${wp_id}\n\n**Zone :** ${zone} | **Passes :** ${nb_lus}/${nb_passes} lues | **Généré :** ${new Date().toISOString().split(\"T\")[0]}\n${manq_str}\n---\n\n## Verdict global\n\n| Critère | Valeur |\n|---|---|\n| Robustesse inter-passes | **${robustesse_globale}** |\n| Trajectoire majoritaire | \\`${traj_majoritaire}\\` |\n| Trajectoires distinctes | ${trajs_uniques.join(\" / \")} |\n| Concordance | ${taux_concordance} passes concordantes |\n| CCI moyen | ${cci_str} |\n| Toutes passes CCI certifiées (≥0.75) | ${consolidation.cci.toutes_certifiees ? \"✓ OUI\" : \"✗ NON\"} |\n| FR_max moyen | ${fr_moy ?? \"N/C\"} (σ=${fr_std ?? \"N/C\"}) |\n\n---\n\n## Détail par passe\n\n| Passe | Label | Trajectoire | Concord. | Robustesse | FR_max | CCI | N2 / N1 pessimiste |\n|---|---|---|---|---|---|---|---|\n${lignes_passes}\n\n---\n\n## CCI par variable (accord CONV-E / CONV-B consolidé)\n\n| Variable | Val. moy CONV-E | Val. moy CONV-B | Taux accord |\n|---|---|---|---|\n${lignes_cci || \"| N/C | — | — | — |\"}\n\n---\n\n## Robustesse N2 inter-passes\n\n- Passes avec bifurcations N2 : ${passes_avec_bifurc.length > 0 ? passes_avec_bifurc.map(p => `${p.sim} (→${p.bifurcations.join(\",\")})`).join(\", \") : \"aucune\"}\n- Passes robustes N2 : ${consolidation.n2.nb_passes_robustes_n2}/${nb_lus}\n\n---\n\n## Notes pour CONV-D\n\n${robustesse_globale === \"ROBUSTE\"\n  ? `Toutes les passes convergent vers \\`${traj_majoritaire}\\`. Le diagnostic est robuste à la variation paramétrique.`\n  : robustesse_globale === \"MÉTASTABLE\"\n  ? `Le système est en zone de transition : deux trajectoires possibles selon le paramétrage. Documenter en S3.`\n  : `Fragmentation diagnostique sur ${trajs_uniques.length} trajectoires distinctes. Investigation approfondie requise.`}\n${nb_manquantes > 0 ? `\\n⚠ ${nb_manquantes} passe(s) non archivées — les résultats ci-dessus sont partiels.` : \"\"}\n`;\n\n// ── Archivage ─────────────────────────────────────────────────────────────────\nconst w = (path, content) => { fs.writeFileSync(path, content, \"utf8\"); return path; };\n\nconst path_json = w(`${dirs.results}/${wp_id}_consolidation.json`,  JSON.stringify(consolidation, null, 2));\nconst path_md   = w(`${dirs.rapports}/${wp_id}_consolidation.md`,   rapport_md);\n\n// ── Retour ────────────────────────────────────────────────────────────────────\nreturn {\n  json: {\n    status:               \"CONSOLIDATION_OK\",\n    wp_id,\n    zone,\n    nb_passes_lues:       nb_lus,\n    nb_passes_manquantes: nb_manquantes,\n    passes_manquantes,\n    robustesse_globale,\n    trajectoire_majoritaire: traj_majoritaire,\n    trajectoires_uniques: trajs_uniques,\n    concordance_taux:     taux_concordance,\n    cci_moyen,\n    cci_certifie:         consolidation.cci.toutes_certifiees,\n    FR_max_moyen:         fr_moy,\n    FR_max_stddev:        fr_std,\n    paths: { json: path_json, md: path_md },\n    consolidation,\n    message: `[N16 CONSOLIDATION] ${wp_id} | ${zone} | ${nb_lus}/${nb_passes} passes`\n      + (nb_manquantes > 0 ? ` | ⚠ ${nb_manquantes} manquante(s)` : \"\")\n      + ` | robustesse=${robustesse_globale} | CCI_moy=${cci_moyen}`,\n  }\n};\n"
      },
      "notes": "Connecté sur N15 (déclenché à chaque passe).\nGuard : si !toutes_passes_terminees → return [] (n8n n'émet rien).\nConsolidation réelle uniquement sur la dernière passe\n(toutes_passes_terminees=true transmis par N15 via compteur atomique)."
    }
  ],
  "connections": {
    "▶ Démarrage Manuel": {
      "main": [
        [
          {
            "node": "Nœud A — Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud A — Read Binary File": {
      "main": [
        [
          {
            "node": "Nœud B — Decode JSON [No-FS]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud B — Decode JSON [No-FS]": {
      "main": [
        [
          {
            "node": "Nœud C — Nettoyage /tmp/ [Anti-Contamination]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud 2 — Audit C1→C13 [mepa_node2_audit_v62.js v2.1 No-FS]": {
      "main": [
        [
          {
            "node": "Router — VALIDE / INVALIDE / NC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router — VALIDE / INVALIDE / NC": {
      "main": [
        [
          {
            "node": "Noeud 8a -- CONV-B CCI [Codage Independant + CCI Pre-Simulation]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠ Alerte INVALIDE — Recodage CONV-E requis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "⚠ Alerte NC BLOQUANT — Escalade Architecte",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noeud 8a -- CONV-B CCI [Codage Independant + CCI Pre-Simulation]": {
      "main": [
        [
          {
            "node": "Router CCI -- AUTO / WAIT_HUMAIN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router CCI -- AUTO / WAIT_HUMAIN": {
      "main": [
        [
          {
            "node": "Noeud 8d -- Injection Valeurs Resolues [Post-CCI]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Noeud 8c -- WAIT Validation CCI [Humain]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noeud 8c -- WAIT Validation CCI [Humain]": {
      "main": [
        [
          {
            "node": "Noeud 8d -- Injection Valeurs Resolues [Post-CCI]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noeud 8d -- Injection Valeurs Resolues [Post-CCI]": {
      "main": [
        [
          {
            "node": "Nœud P — Générateur de Passes [LOI PHYSIQUE / CŒUR / STRESS]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud 5 — Parse Runner Result [_result.json] [No-FS]": {
      "main": [
        [
          {
            "node": "Nœud 6 — Rédaction LLM CONV-A [Claude T=0] [No-FS]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud 6 — Rédaction LLM CONV-A [Claude T=0] [No-FS]": {
      "main": [
        [
          {
            "node": "Nœud 7 — Export & Archivage [/data/mepa/outputs/] [No-FS]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud 7 — Export & Archivage [/data/mepa/outputs/] [No-FS]": {
      "main": [
        [
          {
            "node": "Noeud 6b -- CONV-B Audit Final C1-C5 [Post-Redaction]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noeud 6b -- CONV-B Audit Final C1-C5 [Post-Redaction]": {
      "main": [
        [
          {
            "node": "Router Revision -- CERTIFIE / REVISION / REJET",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Router Revision -- CERTIFIE / REVISION / REJET": {
      "main": [
        [
          {
            "node": "Noeud 12 -- Stress-test N2 [Combinaisons Critiques]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Noeud 12 -- Stress-test N2 [Combinaisons Critiques]",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alerte REJET CONV-B -- Suspension WP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noeud 12 -- Stress-test N2 [Combinaisons Critiques]": {
      "main": [
        [
          {
            "node": "Noeud 13 -- Prediction Popper [RF1/RF2/RF3]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noeud 13 -- Prediction Popper [RF1/RF2/RF3]": {
      "main": [
        [
          {
            "node": "Noeud 14 -- Certification [WP_CERTIFIE / WP_EXPLORATOIRE]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noeud 14 -- Certification [WP_CERTIFIE / WP_EXPLORATOIRE]": {
      "main": [
        [
          {
            "node": "Noeud 15 — Archivage Final [/data/mepa/outputs/ + Passeport CONV-D] [V2 Multi-passes]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud 5b — Parse Sensibilité N1 [No-FS]": {
      "main": [
        [
          {
            "node": "Nœud 6 — Rédaction LLM CONV-A [Claude T=0] [No-FS]",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Nœud CONV-E — Codage historique variables [LLM]": {
      "main": [
        [
          {
            "node": "Nœud 2 — Audit C1→C13 [mepa_node2_audit_v62.js v2.1 No-FS]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud C — Nettoyage /tmp/ [Anti-Contamination]": {
      "main": [
        [
          {
            "node": "Nœud CONV-E — Codage historique variables [LLM]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud P — Générateur de Passes [LOI PHYSIQUE / CŒUR / STRESS]": {
      "main": [
        [
          {
            "node": "Nœud 3 — Write runner_config.json [/tmp/] [No-FS] [V2 Multi-passes]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud 3 — Write runner_config.json [/tmp/] [No-FS] [V2 Multi-passes]": {
      "main": [
        [
          {
            "node": "Nœud 4 — Execute Runner [No-FS] [V2 Multi-passes]",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nœud 4b — Execute Sensibilité N1 [No-FS] [V2 Multi-passes]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud 4 — Execute Runner [No-FS] [V2 Multi-passes]": {
      "main": [
        [
          {
            "node": "Nœud 5 — Parse Runner Result [_result.json] [No-FS]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nœud 4b — Execute Sensibilité N1 [No-FS] [V2 Multi-passes]": {
      "main": [
        [
          {
            "node": "Nœud 5b — Parse Sensibilité N1 [No-FS]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Noeud 15 — Archivage Final [/data/mepa/outputs/ + Passeport CONV-D] [V2 Multi-passes]": {
      "main": [
        [
          {
            "node": "Noeud 16 — Consolidation Multi-passes [Post-toutes-passes]",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "",
    "timezone": "Europe/Paris"
  },
  "meta": {
    "mepa_version": "7.0-alpha-rev-2.1",
    "architecture": "WF2-Protocol-Complete",
    "sequence": "CONV-E -> CONV-B-CCI -> Runner -> CONV-A -> CONV-B-Audit -> Certification",
    "noeuds": 29,
    "connexions": 25,
    "phases": {
      "0_entree": "Trigger + Lecture fiche CONV-E",
      "1a_audit": "Audit structure N2 (C1-C13)",
      "1b_cci": "CONV-B codage independant + CCI pre-simulation",
      "2_simulation": "Runner Euler dt=1 + N1 sensibilite (sur valeurs resolues)",
      "3_redaction": "CONV-A redaction S1-S7 + export intermediaire",
      "4_audit_final": "CONV-B audit C1-C5 du WP redige + router revision",
      "5_certification": "Stress-test N2 + Popper RF1/RF2/RF3 + Certification + Archivage"
    },
    "sorties": {
      "result_json": "/data/mepa/outputs/cluster_XX/results/",
      "rapport_md": "/data/mepa/outputs/cluster_XX/rapports/",
      "rapport_n1": "/data/mepa/outputs/sensitivity/",
      "stress_n2": "/data/mepa/outputs/sensitivity/",
      "cci_json": "/data/mepa/outputs/certification/",
      "conv_b_json": "/data/mepa/outputs/certification/",
      "audit_b_json": "/data/mepa/outputs/certification/",
      "popper_json": "/data/mepa/outputs/certification/",
      "passeport_json": "/data/mepa/outputs/passeports/",
      "passeport_compact": "/data/mepa/outputs/certification/ (pour CONV-D)"
    },
    "conversations_manuelles": {
      "CONV-D": "Observatoire resultats -- alimenter avec passeport_compact.json",
      "CONV-F": "Calibration bayesienne -- apres 5 WP certifies (I10,C1,C2,F1,F2)"
    },
    "correctifs": [
      {
        "id": "PATCH-2026-03-17-NO-REVISION-LOOP",
        "description": "Suppression du rebouclage Nœud 6 en révision. Router[out1] REVISION → Nœud 12 directement. WP archivé WP_EXPLORATOIRE si anomalies non résolues. Conforme protocole §4.3 Manuel Gouvernance.",
        "date": "2026-03-17"
      },
      {
        "id": "PATCH-2026-03-18-MULTI-PASSES",
        "description": "Ajout Nœud P (Générateur de Passes) + Split in Batches entre Nœud 8d et Nœud 3. Nœuds 3/4/4b/15 mis à jour V2 : chemins /tmp/ et outputs/ portent le suffixe _sim_N. zone_stratification (LOI PHYSIQUE=3, CŒUR DE MODÈLE=5, ZONE DE STRESS=10 passes) détermine automatiquement le profil de variations paramétriques. Nœud 15 V2 génère synthese_passes.json après la dernière passe. Rétrocompatibilité totale si num_passe absent dans le payload. Noeud C mis a jour : suppression fichiers _sim_* via rm -f /tmp/${wp_id}_sim_*. Noeud 16 (Consolidation Multi-passes) ajouté sur out1 du Split : lit passeports_compacts, results, cci, n1 de toutes les passes depuis disque ; produit {wp_id}_consolidation.json + {wp_id}_consolidation.md ; flag passes_manquantes si passe échouée.",
        "date": "2026-03-18"
      },
      {
        "id": "PATCH-2026-03-18-N16-RACE-CONDITION",
        "description": "Correction race condition N16 : out1 du Split déclenchait N16 avant que N15 ait fini d'archiver les passeports_compacts. Solution : N16 déplacé de out1(Split) vers la sortie de N15. Guard ajouté dans N16 : early return si num_passe < nb_passes_total. N16 s'exécute réellement uniquement sur la dernière passe.",
        "date": "2026-03-18"
      },
      {
        "id": "PATCH-2026-03-18-REMOVE-SPLIT-ATOMIC-COUNTER",
        "description": "Suppression Split in Batches (incompatible avec longue chaîne en executionOrder=v1). Le Nœud P retourne N items traités en parallèle natif n8n. N15 : compteur atomique fichier /tmp/{wp_id}_pass_done_counter — déclenche N16 quand pass_count >= nb_passes. N16 : suppression guard LOOP_CONTINUE (plus nécessaire). Nœud C : nettoyage du compteur ajouté.",
        "date": "2026-03-18"
      },
      {
        "id": "PATCH-2026-03-18-N6-SIMLABEL-N16-DOCFIX",
        "description": "N6 CONV-A : ajout sim_label/num_passe/nb_passes_total/passe_label/zone_stratification dans return explicite. N16 : commentaire header mis à jour (suppression référence Split out1).",
        "date": "2026-03-18"
      }
    ],
    "version_workflow": "V2-multi-passes",
    "base_workflow": "mepa_workflow_n8n_V62_FIXED.json",
    "modifications": [
      "N2→v7-audit",
      "N4→routage-conditionnel",
      "N6→V4-alpha-prompt"
    ]
  },
  "id": "mepa-wf2-protocol-complete"
}